[2019-02-08 00:43] atherdon opened #1 "delete it after making work on static data!!!!!!!!!!!!!!!"

[2019-02-13 20:41] atherdon opened #3 "create set of constants"
that return an absolute paths

[code]

[2019-02-13 20:43] atherdon opened #4 "data from git"
https://stackoverflow.com/questions/17509669/how-to-install-an-npm-package-from-github-directly
https://docs.npmjs.com/cli/install
https://medium.com/@jonchurch/use-github-branch-as-dependency-in-package-json-5eb609c81f1a
https://github.com/zeit/now-cli/issues/1013

[2019-02-28 09:44] atherdon opened #17 "more tests"
at this file i add test for one file. We need to duplicate it for other files too.
https://github.com/GroceriStar/sd/blob/master/src/index.test.js

[2019-03-01 00:02] atherdon opened #18 "export file_paths from single entry point."
from index.js it will be fine for now

[2019-03-02 15:52] atherdon opened #22 "jest-json-schema"
https://www.npmjs.com/package/jest-json-schema
http://json-schema.org/

[2019-03-04 06:13] atherdon commented on #17
@acheinu1 I'll duplicate my answer here, in order to communicate about coding tasks at github.

---

2 things to update:
- [ ] you need to replace 'xxx' with a proper explanation of what our tests
doing(checking is file health labels exists)
- [ ] you can use GitHub issues in order to communicate with me

when it will be finished - please open a pull request and submit your
changes to the main rep

[2019-03-04 08:06] atherdon opened #23 "next steps"

[2019-03-07 09:05] atherdon commented on #17
@acheinu1 how things going? I plan to add another intern to this project, but don't want to interrupt your work

[2019-03-08 23:00] atherdon commented on #3
@picapoll you can grab this task. if you need more details - feel free to ask questions here

[2019-03-09 18:57] picapoll commented on #3
Hi @atherdon,
Ok, I will start with it.
If I need something I''ll let you know.

[2019-03-09 18:58] atherdon commented on #3
perfect. Use this comments, and i'll be able reply asap

[2019-03-10 17:43] atherdon opened #32 "[blocker] rollup configuration. Json file error"
1) Don't push to npm while we did not solve this issue
https://github.com/rollup/rollup-plugin-json/issues/47

[2019-03-11 15:33] picapoll commented on #3
Hi @atherdon , can you give me a hint, please?

[2019-03-11 15:41] atherdon commented on #3
sure. Each json file from this folder should have a separated constants: https://github.com/GroceriStar/sd/tree/master/src/data
Put them all into one file.

Example of how you can connect to files here: https://github.com/GroceriStar/sd/blob/master/src/index.js#L14

[2019-03-11 15:44] atherdon commented on #3
if working with paths will be hard, this first version can be similar to `const RECIPE_FILE_PATH = path(__dir('xxxx'));` I mean my goal with this task is to setup our coding workflow, so quick turnaround is more important at this moment. Me personally working on this module too, so i can easy and quickly reply to you right now. So please use me

[2019-03-18 21:46] atherdon commented on #3
I made some updates at this module, so you'll need to sync your fork in order to see my changes in your forked repository. if you'll have troubles with it - buzz me and I will help

[2019-03-19 02:28] atherdon opened #38 "https://github.com/WebReflection/flatted"

[2019-03-19 02:28] #32 closed

[2019-03-19 02:29] #18 closed

[2019-03-19 09:09] picapoll commented on #3
Hi Arthur,
Sorry I was really busy.
I feel quite embarrassed to be honest..
I just started a new course of FrontEnd developer and I'm really busy.
Let me have a look again, I hope I can do more things this time.
Thanks for your help and patience.

*Bernat Moragas*
 +00 34  660 48 38 82

Missatge de Arthur Tkachenko <notifications@github.com> del dia dl., 18 de
març 2019 a les 22:46:

[2019-03-19 11:16] atherdon commented on #3
sure, no problem

[2019-03-22 19:30] atherdon opened #47 "items/favorites/usergrocery should be moved away from Ingredients folder"
@wahaj-47  you can do this too - very quick task

[2019-03-24 07:55] atherdon commented on #47
let's complete this quick task, so i'll be able to remove it from my memory

[2019-03-24 08:02] wahaj-47 commented on #47
Where do I move it to ?

[2019-03-24 08:04] atherdon commented on #47
for now - just create a separated folders

[2019-03-24 10:05] atherdon commented on #47
dont forget about another 2 files

[2019-03-24 12:09] atherdon opened #53 "json validation"
@wahaj-47 you'll need to complete task that i didn't finish.
details at this file: https://github.com/GroceriStar/sd/blob/master/jsonlint.config.js

we'll need to run the same validation for all of our json files

[2019-03-24 12:30] atherdon commented on #47
awesome. closing

[2019-03-24 12:30] #47 closed

[2019-03-24 12:40] atherdon opened #55 "unit convertion. intro"
I was thinking about our discussion, related to unit conversions...
I actually think that we can start this thing too if you're ready to do it. From my side I have a lot of data collected. I'm just lazy to do it at this moment

So if you up to this thing, we can start from a simple task.
I have a file, that was created by my partner. it's on PHP, but I'm sure you'll be able to crack it.
Our goal i

[2019-03-24 13:14] atherdon opened #56 "at this folder we have tests. they should work"
Folder: https://github.com/GroceriStar/sd/tree/master/src/data/__tests__
as you can see - each file has similar content. I create test only for allergy file and then copy paste it. Your task will be: connect proper json files and add them into tests.
Each json file should be covered

[2019-03-24 13:15] atherdon commented on #56
@ronniebhatt you can grab it

[2019-03-25 07:54] ronniebhatt commented on #56
Error 404 on the above link

[2019-03-25 07:57] atherdon commented on #56
https://github.com/GroceriStar/sd/tree/master/src/data/__tests__

[2019-03-25 10:22] #56 closed

[2019-03-25 10:44] atherdon commented on #53
#60

[2019-03-26 17:30] atherdon opened #61 "create one file, that will contain import of all json files"
right now we have https://github.com/GroceriStar/sd/blob/master/src/index.js
long list of imports and it looks sad.
I want to have a separated file, where we'll import and export all files, so at our major files, we'll reduce a lot of space.

Similar example: https://github.com/GroceriStar/groceristar-fetch/blob/master/src/projects/GroceriStar/files.js or https://github.com/GroceriStar/sd/blob/mas

[2019-03-29 05:19] atherdon commented on #61
it's done. closing

[2019-03-29 05:19] #61 closed

[2019-03-29 05:23] atherdon opened #64 "update import logic at jsonvalidator file"
@ronniebhatt  another similar to your previous task #61 is to improve our codebase here:
https://github.com/GroceriStar/sd/blob/master/jsonlint.config.js
after your improvements, we can reduce the number of lines at this file too.
This is one of the reasons why we make `files.js`

[2019-03-29 19:12] #64 closed

[2019-04-01 00:54] atherdon commented on #53
let's jump here, because it's easier for me.

So, what exactly is not clear for you?

Let's split everything in small chunks.

1) we're returning an object from files.js. objects at JS are similar to arrays. Can you grab the whole object and make a loop?
2) right now we have 2 files with same purpose but with different syntax. Do you think we'll be able to use ES6 version instead of ES5 in jsoncon

[2019-04-01 00:55] atherdon commented on #53
3. You told me that right now jsonconfig script is not working, right? do you know why? and how we can solve it?

[2019-04-01 03:11] wahaj-47 commented on #53
1. Yes I can do that.
2. We don’t have files with same purpose. But yeah I suppose we can use the es6 one.
3. All the paths are undefined. We need the right paths to json.

[2019-04-01 03:51] atherdon commented on #53
1. Ok, please do it
2. i think you tell me that we have 2 similar files...
3. i think it's because of an issue in `require` and it can be easily fixed(i.e. change to the right path)

[2019-04-01 03:52] atherdon commented on #53
I also think that es6 version will work, but i didn't test it. And first version of `jsonlint` file was created before  my upgrade of logic how this whole package will be translated by Babel

[2019-04-01 03:58] atherdon commented on #53
maybe, we need to rename files.js to something less confusing.
for example old part from `jsonlint` can be renamed to files-es5.js and another file can be renamed to `files-es6.js`

[2019-04-01 15:02] wahaj-47 commented on #53
2. They are not similar.

[2019-04-01 15:16] wahaj-47 commented on #53
[code]

If I use this in jsonlint.config.js I get

import {
            ^

SyntaxError: Unexpected token {

[2019-04-02 11:02] wahaj-47 commented on #53
Why not use babel for jsonlint as well ?

[2019-04-02 11:06] atherdon commented on #53
I don't know - you think you can do it without me? if you can do it without
me and it will work fine - i'm 100% agree to do it
our babel script pointed to `src` folder. So `jsonlint` file should be
moved in that case

[2019-04-02 17:38] wahaj-47 commented on #53
Using require still gives me syntax error.
Moving the jsonlint file to src folder doesn't make any difference

[2019-04-03 05:39] atherdon commented on #53
let's do it in small steps.
1) create a file `jsonlint2.js` inside `src` folder
2) instead of require - use import and connect one static file - allergies.json
3) import shelljs aswell to that file
4) run `exec()` function for that one file
5) add an additional line to package.json in order to call our new file from a command line
6) save everything and run our new script

[2019-04-03 08:26] atherdon commented on #17
just ping you

[2019-04-03 12:30] atherdon commented on #53
i find some strange thing....
right now at our package.json - we don't have a raw shelljs module.
I replaced it with shx, which is a wrapper on shelljs. and it has shelljs inside, but not as our main package...
if jsonlint works  - it's really strange...

[2019-04-04 05:31] atherdon opened #76 "delete `loopbacky` structures when we'll learn how to generate them and save"

[2019-04-04 06:37] wahaj-47 commented on #53
Done...No luck
I think babel is not working

[2019-04-04 06:44] atherdon commented on #53
pull request with your changes and i'll take a look

[2019-04-04 07:09] atherdon commented on #53
while i'm working on it - please switch to another tasks that you have

[2019-04-04 07:45] wahaj-47 commented on #55
We've got two tables inside the PHP files, so I need to create two separate arrays of JS objects.

[2019-04-04 08:05] atherdon commented on #55
yes, you right

[2019-04-04 08:27] atherdon commented on #55
later, when we'll convert it into working json files - we'll also create it via js code at groceristar-fetch
https://github.com/GroceriStar/groceristar-fetch/issues/312

[2019-04-04 09:06] atherdon commented on #53
i see some issue, at our `jsonlint.config.js` file.
I comment whole logic and print only files. please take a ook, by running `yarn jsonlint`

[2019-04-04 14:58] wahaj-47 commented on #55
What does this line mean ?

[2019-04-04 15:22] atherdon commented on #55
to be honest, i'm not quite remembered it...
If you can create a separated task for this question - i'll later review my old project(it was done 3 years ago) and will be able to answer your question. When you'll create it - i'll close this task

[2019-04-05 06:57] atherdon commented on #53
tell me if you'll need help here, i have some free time right now

[2019-04-05 07:37] wahaj-47 commented on #53
What issue are you talking about ?

[2019-04-05 07:55] wahaj-47 commented on #53
jsonlint2.js still not working, means babel's still not working

[2019-04-05 07:55] atherdon commented on #53
did you read my previous comment?

[2019-04-05 07:55] atherdon commented on #53
I mean this https://github.com/GroceriStar/sd/issues/53#issuecomment-479814991

[2019-04-05 07:57] wahaj-47 commented on #53
Yeah we're doing module.export in the files.js and importing them in jsonlint file. We're getting the right paths but, We've already exported the jsons in src/files.js, why do it twice ?

[2019-04-05 07:59] atherdon commented on #53
because it looks differently right now. If you think you can deal with it and make one file instead of two - i'm ok with that. But right now our goal to finish task with jsonlint.
What is your plan or if you have some changes - please open pull request so I can take a look

[2019-04-05 08:05] wahaj-47 commented on #53
Are you sure babel is working fine ?

[2019-04-05 08:07] atherdon commented on #53
300% sure in babel and trust in our code for 20% only

[2019-04-05 08:08] atherdon commented on #53
do you need confirmation or you ok with my words :)

[2019-04-05 08:08] wahaj-47 commented on #53
Ok :D

[2019-04-05 08:09] atherdon commented on #53
guys that code babel have $10k salaries, so their code is cool

[2019-04-05 08:09] atherdon commented on #53
So what will be our next steps, in order to crack this task?

[2019-04-05 08:19] wahaj-47 commented on #53
I didn't mean that babel is broken, I meant that we've setup babel wrong.

[2019-04-05 08:29] atherdon commented on #53
i think this is not the case. i mean i understand why you think it can be, but it's probably some of your or my mistakes in code, not in setup. If you think you cannot deal with it - i can find another task for you

[2019-04-05 08:37] atherdon commented on #53
ok, forget about last question - didn't receive a notification about your PR. when you run `yarn jsonlint` - did you saw some errors? because i think i saw them previously(before our changes).
Plus, you can remove jsonlint file from src folder - as we don't need it

[2019-04-05 08:39] wahaj-47 commented on #53
Nope I didn’t see any errors when running yarn jsonlint. Just some console.logs of paths

[2019-04-05 08:41] atherdon commented on #53
ok, then it's work well. please push changes that i requested in prev message(don't forget about package.json) and i'll think about next task for you

[2019-04-05 13:52] atherdon commented on #53
ok, this is done

[2019-04-05 13:52] #53 closed

[2019-04-05 13:54] atherdon commented on #55
Our another developer, Vadim - added some functionality, that will help us to generate some json files on the fly. please take a look on new functions that we have in this repo.
Second stage for this task will be to make connecton, between 2 files, related to unit convertion programmarly.
Tell me your questions and i'll add you more details upon request. Want to see how you can deal with this type

[2019-04-06 12:00] wahaj-47 commented on #55
I've taken a look at the writeFile.js file. Now what 2 files need to be connected ?

[2019-04-06 13:39] atherdon commented on #55
This task is about unit conversion.
And we have our 2 new files - related to unit conversion.
My goal to make it similar and with the ability to change the
logic/structure.

[2019-04-06 15:14] atherdon commented on #55
right now we have files:
1) https://github.com/GroceriStar/sd/blob/master/src/data/Units/measurementSystems.json
2) https://github.com/GroceriStar/sd/blob/master/src/data/Units/measurementUnits.json

1) Systems: file, with a structure:
[code]
we'll generate these structure by code.
and we will simplify file to array with just titles or alias. Tell me if this is not clear

2) Units file, with a str

[2019-04-06 15:16] atherdon opened #90 "move unit convertion files to sd-plain"
here we have 2 files. https://github.com/GroceriStar/sd/tree/master/src/data/Units
We need to copy-paste them into our another repository: https://github.com/GroceriStar/sd-plain/tree/master/dirty
Dirty is a folder, where we store not finished data. Clean folder have `clean` data

@elnur004

[2019-04-07 12:04] wahaj-47 commented on #55
So we’ll use the code that Vadim wrote to generate these files.

[2019-04-07 12:06] atherdon commented on #55
yeah, but it looks like that code is not finished as I wanted. But yeah - the main logic will be similar. Yesterday he pushed some updates, maybe in few days he'll complete it totally.

in mean time we can discuss with you first steps, that we can do

[2019-04-07 12:29] atherdon opened #94 "additional attributes"
https://github.com/ChickenKyiv/awesome-food-db-strucutures/blob/master/README.md#attrib

[2019-04-07 12:30] atherdon opened #95 "diets, health labels, etc"
https://github.com/ChickenKyiv/awesome-food-db-strucutures/blob/master/README.md#nutritional-attributes
https://github.com/ChickenKyiv/awesome-food-db-strucutures/blob/master/README.md#types

[2019-04-07 12:36] atherdon commented on #55
I think i find some details about units: https://github.com/ChickenKyiv/awesome-food-measurements-information
don't worry :) We'll go by simple steps

[2019-04-07 13:08] atherdon opened #96 "adding tests. part 1"
All of our static files need to be tested. Imagine this situation: someone by mistake break the structure of our file. Then we publish these changes to our main project and everything went down. In order to prevent similar situations - we'll add test coverage to our files. So we'll feel safe, about our changes.
Right now I split tests, between files. I actually duplicate a test for allergies. So w

[2019-04-07 15:58] atherdon commented on #90
ok, looks like this is done. closing it

[2019-04-07 15:58] #90 closed

[2019-04-09 00:28] elnur004 commented on #96
hi!
i looked over the tests and i didn't understand what i need to do to solve this task.
can you give me a bit more hint please?

[2019-04-09 08:18] atherdon commented on #96
yes, no problem
1) open test, related to allergies
2) open test, related to diets
3) compare these files, re-read task description and explain to me what we should update

[2019-04-09 18:08] atherdon commented on #55
check this video: https://www.loom.com/share/0229a998342046a986b51952dbd8f146

[2019-04-09 18:17] atherdon commented on #96
check this video: https://www.loom.com/share/9af63291859a43788cc53bc281b7e267

[2019-04-09 21:06] atherdon opened #101 "create more long explanation about what tests are going actually"

[2019-04-09 21:16] atherdon commented on #96
will give you one hint - some of our files are gone, and some files was added recently...

![xxx](https://media.giphy.com/media/rdma0nDFZMR32/giphy.gif)

[2019-04-09 21:32] elnur004 commented on #96
what i did wrong?

[2019-04-09 21:36] atherdon commented on #96
all is fine. just be ready that this task is not so easy as it can looks like

[2019-04-09 21:37] atherdon commented on #96
keep going, you doing everything ok

[2019-04-10 23:00] elnur004 commented on #96
may be i can't figure out the meaning of "test" of this task

[2019-04-10 23:11] elnur004 commented on #96
i tried to do as you said in video but every time anything was failed

[2019-04-11 09:41] atherdon commented on #96
you still doing all things fine. lets split this task into two parts:
1) right now you are doing changes in previously created tests
2) adding tests for the newest created files

so right now continue to change labels(but it's not necessary to have very different names right now)
pick one and use it as a template between files.

at this moment you're working on first part - let's finish it and the

[2019-04-11 09:54] atherdon commented on #96
all tests are working together/ So for example we have 10 tests and if one
is broken(our situation) all will be failing - it's how tests works. this
is why we doing this :)

[2019-04-11 21:51] elnur004 commented on #96
we don't have `attribute2.0.test.js` file and there is a conflict in the `nutrition.test.js` file (in the import file there is `nutritions1` not `nutrition`) also `recipe.ck.test.js` doesn't exist.

[2019-04-11 22:10] atherdon commented on #96
Yeah, you right.
1) attribute2.0 - adjust to **tezt** so it wouldn't run right now. later
we'll address that
2) nutrition - maybe we need to have a few test files for each file that we
have?
3) please add recipe.ck.test.js

[2019-04-11 22:45] elnur004 commented on #96
hey, @atherdon is this the right way to change the test like this?

[2019-04-11 22:46] elnur004 commented on #96
i mean attribute2.0

[2019-04-11 22:50] atherdon opened #122 "attribute2.0 change filename"

[2019-04-11 22:58] atherdon commented on #96
https://github.com/GroceriStar/sd/pull/121#issuecomment-482355427

[2019-04-11 23:21] elnur004 commented on #96
what do i need to do now?

[2019-04-11 23:28] atherdon commented on #96
let's answer to this question - do we have test files for each json file
that we have respectively?

[2019-04-11 23:49] elnur004 commented on #96
we didn't have one or two files like attribute2.0.
am i understand the question true?

[2019-04-11 23:52] atherdon commented on #96
yeah - you right - few other test files is missing

[2019-04-12 00:02] elnur004 commented on #96
and what do we need to do now?

[2019-04-12 00:08] atherdon commented on #96
we need to add few *.test.js files for missing json files(i think Units )
should be covered

[2019-04-12 00:22] elnur004 commented on #96
ok. how we can do these?
if it wouldn't be trouble to you may you explain it to me, please?

[2019-04-12 01:02] atherdon commented on #96
no prob
at folder __tests you should create a few files. each one should be related
to json file that didn't have a test file before
inside of this files you should import file and add `describe` block

[2019-04-12 12:03] elnur004 commented on #96
from where i will know which file i have to create?
for example, i create units file. is it true?
if this is not true, may you show how to do this, please?

[2019-04-12 12:14] elnur004 commented on #96
i know i bother you, but i want to learn accurately

[2019-04-13 14:01] atherdon commented on #95
your goal to convert that data into clean JS objects @ronniebhatt

[2019-04-13 19:28] elnur004 commented on #96
hey, @atherdon
i have created `favorites` and `items` files.  but there aren't their folders in data. need we create those folders?

[2019-04-14 09:25] atherdon opened #133 "to be aware of"
so, files like items, favorites, user grocery are user generated.
So sometimes, we can delete them on purpose. and this can generate an error in our tests(newest added). we need to be aware of this situation

[2019-04-14 12:21] elnur004 commented on #96
hi,
what to do now?

[2019-04-14 14:30] ronniebhatt commented on #95
Do you want in .js file or .JSON file

[2019-04-15 11:23] atherdon commented on #95
json file please

[2019-04-15 11:59] atherdon opened #135 "convert image data to js object"
https://github.com/ChickenKyiv/awesome-food-measurements-information/blob/master/images/cooking-guide-apron-cu-cooking-times.jpg

@elnur004 you can grab it

[2019-04-15 12:02] atherdon commented on #135
if you'll do it quickly and i will reply slow, you can also grab this image as well(each data should have separated file): https://github.com/ChickenKyiv/awesome-food-measurements-information/blob/master/images/c7cddf12c4969f80c77cd23d6d38243c.jpg

[2019-04-15 12:03] atherdon commented on #96
for favorites, items and userGrocery - we'll generate json files on the fly. it's partially done right now.
later move files will be generated on the fly as well.
i plan to add more tests, but that task is not ready and i'm spending few days without PC, so can reply slowly

you can jump into new task: https://github.com/GroceriStar/sd/issues/135
I'm closing this task - i think it's done

[2019-04-15 12:03] #96 closed

[2019-04-15 13:21] ronniebhatt commented on #95
ok

[2019-04-15 13:47] atherdon commented on #95
when you'll add files here, create a test for that file as well. example of test you can find a this project

[2019-04-15 13:49] atherdon commented on #95
and then you should connect files, that you created into main index.js so we can use it outside of this module

[2019-04-16 16:06] atherdon commented on #135
Next stage will be to add tests for each new file

[2019-04-16 16:14] elnur004 commented on #135
may you say how to do this, please?

[2019-04-16 16:17] atherdon commented on #135
just similar to your previous task:
* add a new file at folder `__tests__`
* copy paste data from another test file
* change import of data into that file
* change the text of test

[2019-04-16 16:44] elnur004 commented on #135
i want to know how to change import of data?
how to trace files?
is there any folder or JSON file?
or just to trace `import`....`from` GroceriStar/sd/and file name?

[2019-04-16 16:45] wahaj-47 commented on #55
I've simplified the files, What else needs to be done ?

[2019-04-17 17:26] atherdon commented on #55
we need to connect them and generate a previous looking like file via
generate script.

[2019-04-17 17:53] atherdon opened #158 "custom structures generator [Main task]"
So, we have our `fetch` module. And it's an old plugin that we build with Vadim during the last 8 months. Right now it's changing time, and we split `fetch` with sd repo into 2 parts, that is separated. It makes the code more robust and easy to code.
actually, with changes from me, @hirdbluebird, @azaidi4, @EbrahimKreem we break it and fixing right now...

So, the main reason why I mentioning all

[2019-04-18 08:12] wahaj-47 commented on #55
So the script is complete ?

[2019-04-18 12:31] elnur004 commented on #135
hi,
@atherdon what we need to do now?
is there any task for me?

[2019-04-18 17:06] atherdon commented on #158
Current task for @elnur004 is #135. @vadim9999 can you have a look, please?

[2019-04-18 17:21] atherdon commented on #158
Current task for @wahaj-47(sorry that i forget to add you here) is #55. @vadim9999 please take a look, because i didn't test your generator myself

[2019-04-19 10:05] vadim9999 commented on #55
@wahaj-47 yes, but it has one bug, before you will run generator you need create a folder.
For example filename `userGrocery`, it will open folder `UserGrocery`, and write userGrocery.js. first letter of filename make to uppercase. I will fix this bug.

How to use this:
In https://github.com/GroceriStar/sd/blob/master/generateFiles.js#L18 is variable config - array of objects. you can comment four

[2019-04-19 10:08] vadim9999 commented on #135
@atherdon I suppose you need to generate files. See how to generate it in https://github.com/GroceriStar/sd/issues/55#issuecomment-484837676

[2019-04-19 10:12] atherdon commented on #135
@vadim I don't want to generate them :( please explain it to Elnur and
follow him at this task

[2019-04-19 10:39] vadim9999 commented on #135
@elnur004

Have you copy paste data from another test files? If yes, then
for example allergy.test.js has import
[code]
`~`  this symbol cut path(instead of this symbol babel add ./src/data), full path to file without this symbol will be

[code]

 change this '~/Allergy/allergies.json' on your path that you have saved your file
then change variable of import in example it allergies.

[2019-04-19 12:32] elnur004 commented on #135
@vadim9999 for instance: i've done files like this way `import dash from '~/GroceriStar/cd/dash.js'` already.
and so on other files... (they exist in _test_ folder)
if that way is correct let me know please, what to do then on?

[2019-04-19 17:09] wahaj-47 commented on #55
Alright got it.

[2019-04-21 06:06] wahaj-47 commented on #158
#173 both measurement files are being generated.

[2019-04-21 11:34] vadim9999 commented on #135
@atherdon it's task is done for elnur?

[2019-04-21 11:35] vadim9999 commented on #135
@elnur004 have done this ?

[2019-04-21 14:45] elnur004 commented on #135
hi, @vadim9999
no problem.
yes, i've done this and they exist in **task** folder

[2019-04-22 08:19] atherdon commented on #135
#174 @elnur004 please show it to @vadim9999 he will supervise you, while i'm busy

[2019-04-22 08:21] atherdon commented on #158
@vadim9999 please check it/ task is here #55 I add you as admin to this repository. so you'll be able to merge PRs

[2019-04-22 08:22] atherdon commented on #158
@EbrahimKreem & @azaidi4 are you here with us?

[2019-04-22 08:36] azaidi4 commented on #158
@atherdon yes. Just been a bit busy. Will start working on this soon

[2019-04-22 09:42] hirdbluebird commented on #158
@vadim9999
Hi.
what should be done in this repo? Any actual tasks?

[2019-04-22 10:12] atherdon commented on #158
i think Elnur and Wahaj as major devs here can help with readme ;)

[2019-04-22 10:43] atherdon commented on #1
![image](https://user-images.githubusercontent.com/1469198/56497029-9a07fc80-6504-11e9-91ca-0aa4a3ec1ef8.png)

![image](https://user-images.githubusercontent.com/1469198/56497034-9eccb080-6504-11e9-8ca9-0ef32903d927.png)

[2019-04-22 11:37] vadim9999 commented on #135
@elnur004
Can you give me a link where you converted data from image into object I can find it

[2019-04-22 12:01] vadim9999 commented on #135
@atherdon tests doesn't work when using es6 import, working when using es5 require

[2019-04-22 12:19] vadim9999 opened #176 "Update Readme"
Add explanation in Readme
- [x] related to module resolver in files.js(that is in root). Write why need variable __dirname, what we get when call path.resolver.
- [x] describe why we using alias ~ . what path babel insert instead of this symbol.(definision of alias you can see in babel.config.js in constant plugins)
- [x] describe methods that you have added in generateArray.js in section generate

[2019-04-22 12:28] vadim9999 commented on #158
@hirdbluebird  I have created but now it's empty https://github.com/GroceriStar/sd/issues/176 :)

[2019-04-22 18:11] elnur004 commented on #135
@vadim9999
https://github.com/GroceriStar/sd/tree/master/src/data/__tests__
these are tests files

[2019-04-22 18:26] elnur004 commented on #135
https://github.com/ChickenKyiv/awesome-food-measurements-information

[2019-04-22 18:31] elnur004 commented on #135
@vadim9999
need we change these to es5?

[2019-04-23 08:10] vadim9999 commented on #135
No, I have fix this place update your local repository

[2019-04-23 08:24] elnur004 commented on #135
sorry for question.
but how to update local repository?

[2019-04-23 08:31] vadim9999 commented on #135
@elnur004 All of objects that you have added in root directory cooking-times.js, cup1-2.js .. etc. Now doesn't work because it's haven't exported. and tests because it's import is incorrect.
I For example I will take dash.js and dash.test.js
To fix this you need
1. export object dash. to do this you need in dash.js in the end of file add
[code]
2. import this object in dash.test.js.
Now dash.test.

[2019-04-23 08:33] vadim9999 commented on #135
you just need in your project use
[code]

[2019-04-23 12:44] elnur004 commented on #135
@vadim9999

i stuck in cooking-times.js/cooking-times here.
how i have to trace here?
must i export cooking-times from in cooking-times.js file?
for example:
`import cooking-times from '../cd/cooking-times.js'`
is this a correct tracking?

[2019-04-23 12:47] elnur004 commented on #135
i want to understand from where we import the test

[2019-04-23 12:54] vadim9999 commented on #135
@elnur004
we have tests in sd/src/data/__tests__
sd is a folder project
object cooking-times.js is in sd, also other objects is in this folder
in cooking-times.js you have exported object that we can get acces to it from other files

[2019-04-23 13:10] elnur004 commented on #135
then,
i have to trace
import cooking-times from '../src/data/tests/cooking-times.js'
right?

[2019-04-23 13:11] vadim9999 commented on #135
@elnur004 but why you need to import tests? you need in file tests import object

[2019-04-23 13:14] vadim9999 commented on #135
@elnur004
if you will write in dash.test.js
import dash from '../../../dash'

this will work another variant doesn't work. in cooking-times.js import like below and change instead of dash cooking-times.js
in result you import will be
[code]

[2019-04-23 13:18] elnur004 commented on #135
i want to fill up that dots))
before the /cooking-times i don't know to show cooking-times.js or not

[2019-04-23 13:19] elnur004 commented on #135
i have stuck in there

[2019-04-23 13:20] vadim9999 commented on #135
just insert import
[code]
it will work

[2019-04-23 13:22] elnur004 commented on #135
`import cooking-times from '../src/data/tests/cooking-times'`

like this?

[2019-04-23 13:25] vadim9999 commented on #135
no
in cooking-times.test.js
insert
[code]

[2019-04-23 13:25] vadim9999 commented on #135
don't fiil up dots

[2019-04-23 13:39] elnur004 commented on #135
@vadim9999
may you explain please, why those dots wouldn't be filled up?
it has been obscure for me

[2019-04-23 13:44] vadim9999 commented on #135
ok,
for example now you are in folder tests you need to get access to file that located in folder up to get access you should use ../ . if need to get access upper folder in result it will be ../../

[2019-04-23 13:47] vadim9999 commented on #135
./ it get access to files that located in current folder but if you want to get file that located out of current folder using ../

[2019-04-23 13:50] vadim9999 commented on #135
now you are in sd/src/data/tests  using ./ you can get files related in folder tests. to get files related in `data` folder use ../ and if you  want use files that located in folder srs use ../../ then if you want to get files from project folder ../../../

[2019-04-23 13:54] elnur004 commented on #135
thanx, a lot @vadim9999 ,
it was very helpful for me

[2019-04-23 14:02] vadim9999 commented on #135
@elnur004 Sorry I thouhgt in file cooking-times.js is one object. change export default cooking-time on this structure
[code]
and change import in cooking-times.js
instead of
[code]

[2019-04-23 14:06] elnur004 commented on #135
ok

[2019-04-23 14:22] elnur004 commented on #135
need there to write `default` after `export`?

[2019-04-23 14:23] vadim9999 commented on #135
no

[2019-04-23 14:25] elnur004 commented on #135
why?
what is the difference between previous and this?

[2019-04-23 14:26] vadim9999 commented on #135
export default when you export one object and export { .. } some objects

[2019-04-23 14:32] elnur004 commented on #135
i've caught it up
but i want to grasp what is the meaning of default in here?

[2019-04-23 14:38] elnur004 commented on #135
sorry i'm giving you trouble

[2019-04-23 14:45] vadim9999 commented on #135
more information you can read in https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/export

[2019-04-23 14:48] vadim9999 commented on #135
add moore tests in block describe https://github.com/GroceriStar/sd/blob/master/src/data/__tests__/cooking_times.test.js

[2019-04-23 14:49] vadim9999 commented on #135
For example
describe('this test prevents to any issues and problems, also to break the structure of cooking_times data', () => {
  test('cooking_times data files returns object', () => {
    expect(cooking_times).not.toBe('')
  }),
 test('cooking_times data files returns object', () => {
    expect(cooking_times).not.toBe('')
  }),
 test('cooking_times data files returns object', () => {
    expec

[2019-04-23 15:14] vadim9999 commented on #135
@elnur004 please can you create one pull request and many commits?

[2019-04-23 15:23] elnur004 commented on #135
i don't know how to do this

[2019-04-23 15:23] vadim9999 commented on #135
also you can run tests by
[code]

[2019-04-23 15:26] elnur004 commented on #135
@vadim9999 i am a novice in this sphere
i don't know a lot of things but i'm trying to learn

[2019-04-23 15:28] vadim9999 commented on #135
you have forked repository, right? you make some changes
then git add *
git commit -m "comment"
git push
after that if you have created pull request it will automaticall add's commit to pull request(PR) if you haven't any PR you can create it

[2019-04-23 15:36] elnur004 commented on #135
i have forked a long time ago but i can't see a lot of changes in there now
i dont know why

[2019-04-23 15:37] vadim9999 commented on #135
and what are you doing?

[2019-04-23 15:43] elnur004 commented on #135
wait. i'm gravelled...

[2019-04-23 15:43] elnur004 commented on #135
))

[2019-04-23 15:45] elnur004 commented on #135
i will try to do

[2019-04-24 16:21] vadim9999 commented on #55
@wahaj-47 can you fix test measurementSystems.test.js  - it's faile. you can see it in https://travis-ci.org/GroceriStar/sd/jobs/524059567

[2019-04-25 09:11] vadim9999 opened #204 "fix tests that failures and fix imports in files.js"
to check tests you can
[code]
or open in pull request besides commit clicking details

[2019-04-25 13:39] elnur004 commented on #135
@vadim9999
what needs to do now?

[2019-04-25 13:48] vadim9999 commented on #135
@elnur004 gave you Artur some task?

[2019-04-25 13:51] elnur004 commented on #135
the last task was this

[2019-04-25 15:56] vadim9999 commented on #135
@elnur004 I can give you task, but I don't know can you do this or not. It's need to fix some failed tests.
to run tests you need
[code]

[2019-04-25 16:10] elnur004 commented on #135
to solve this task, need me to know node.js?

[2019-04-25 16:16] vadim9999 commented on #135
@elnur004 yes. Do you have this?

[2019-04-25 16:25] elnur004 commented on #135
i want to do. and besides this, i think it will profitable for me to learn node.js
btw may i ask you some question if there will be any problem to solve this task to me?

[2019-04-25 16:25] vadim9999 commented on #135
@elnur004 import and export objects from files that you had working in https://github.com/GroceriStar/sd/blob/master/src/files.js .

[2019-04-25 16:26] vadim9999 commented on #135
@elnur004 I think if you will make last comment I will close this issues

[2019-04-25 16:27] elnur004 commented on #135
i don't know, need me to download anything to computer to run this?

[2019-04-25 16:30] vadim9999 commented on #135
@elnur004 do you mean to run tests?

[2019-04-25 16:39] elnur004 commented on #135
yes

[2019-04-25 16:49] vadim9999 commented on #135
to run tests you should install nodejs then
in the root project
[code]
 (this command will download all packages that was defined in package.json)
then you can run npm run test

[2019-04-25 16:59] vadim9999 commented on #135
also to know that tests is working you can in pull request besides your commit click details and see result of tests

[2019-04-26 06:03] vadim9999 commented on #135
@have you imported exported objects in files.js that you had working?

[2019-04-26 09:42] elnur004 commented on #135
need me to change JSON files and export these?

[2019-04-26 16:49] vadim9999 commented on #135
@elnur004 no, first you need to import object then export it in files.js. It need because to get your object from outside of package

[2019-04-26 22:39] elnur004 commented on #135
@vadim9999 these JSON files confuse me
may you give me some hint, please?

[2019-04-27 07:34] wahaj-47 commented on #55
@vadim9999 What next ?

[2019-04-27 07:50] vadim9999 commented on #135
@elnur004 in path when you want import object from .json you should use .json. when you import object from js you don't need to use filename with extension, just filename. In you case you should use just filename in path because you files have extension .js

[2019-04-27 13:26] wahaj-47 commented on #204
#207 Fixed one failing test.
The other two are due to missing JSONs. Are we going to generate those JSONs ?

[2019-04-27 18:54] vadim9999 commented on #204
Now we can on pause this two files. I will find out why we need it files.

[2019-04-27 19:26] vadim9999 opened #208 "replace paths with module resolver paths in tests"
In root of project is files.js. You need import from this file certain variable.
For example in allergy.test.js replace import on
[code]
make it to all tests

[2019-04-27 19:29] vadim9999 opened #209 "export files that was added in src/files.js"
Import then export variable

[2019-04-27 19:30] #135 closed

[2019-04-27 19:35] elnur004 commented on #135
@vadim9999 sorry for the question but from which file i have to export file and to which file i have to import?

[2019-04-27 19:41] vadim9999 commented on #209
@elnur004 please ask questions here. In src/files.js import files that you have added then export it. For example
[code]
then export it like this
[code]

[2019-04-27 20:44] vadim9999 opened #211 "move files, created by Elnur into src/data/"
Move files from root folder project into src/data/. Create folder like filename but first letter should be uppercase

[2019-04-27 21:04] vadim9999 commented on #204
@wahaj-47 please change in src/files.js in import generatedMeasurementSystems on generatedMeasurementSystem (without s) also in path.

[2019-04-28 08:35] vadim9999 commented on #209
@elnur004 when you exported you files you have delete from export another
why you have deleted this
[code]
from export?

[2019-04-28 08:53] elnur004 commented on #209
this was mechanically.  i assume then i repaired this mistake

[2019-04-28 09:09] elnur004 commented on #209
@vadim9999 is there any task else to do?

[2019-04-28 09:22] vadim9999 commented on #209
@elnur004  add this variable into src/files.js because if I will publish this package other projects will crash now they will not get access to files measurementSystems, measurementUnits et

[2019-04-28 09:33] elnur004 commented on #209
`import recipes from '~/Recipe4/recipe.json'` this also add?

[2019-04-28 10:15] vadim9999 commented on #209
@elnur004 yes

[2019-04-28 10:45] #209 closed

[2019-04-28 10:46] vadim9999 commented on #204
@wahaj-47 you can start this task https://github.com/GroceriStar/sd/issues/208

[2019-04-28 17:02] wahaj-47 commented on #208
I don't understand. Do you want me use path.resolve ??

[2019-04-28 17:15] vadim9999 commented on #208
no, I mean import variables from files.js that is located in project folder

[2019-04-29 19:46] vadim9999 commented on #211
@elnur004 make all files that you have added static (to make it in json ).
Now all of files that you have added are objects in js files. You task is to make it static.
1. delete definision variable and export. Now cup1_2.js is
[code]
need to delete "let cup1_2 = " then delete semicolon then export of this object.
2. wrap all properties names into quotes. As you see properties names are without it.

[2019-04-29 19:47] vadim9999 opened #228 "move tests from groceristar-fetch"

[2019-04-29 19:48] vadim9999 opened #229 "update Readme#2"

[2019-04-30 06:15] wahaj-47 commented on #55
I think we should close this issue.

[2019-04-30 06:16] wahaj-47 commented on #204
Close this issue as well

[2019-04-30 07:12] vadim9999 commented on #204
close

[2019-04-30 07:12] #204 closed

[2019-04-30 07:12] vadim9999 opened #232 "fix test attribute2.0"

[2019-04-30 07:36] vadim9999 commented on #55
close

[2019-04-30 07:36] #55 closed

[2019-04-30 17:49] vadim9999 opened #233 "move generator in separated folder"
1. Create folder "generator" in root of project.
2. Move files generateFiles.js, generateFile.js, writeFile.js and generateArray in created folder
3. In package.json change in object of property scripts in generatorFiles and generatorFile paths.
4. create folder __tests__in folder generator

[2019-04-30 19:19] vadim9999 commented on #158
@ronniebhatt Hi!

[2019-04-30 20:05] vadim9999 opened #235 "move tests from groceristar-fetch"
Our need to find out what tests we should move here(in sd) from groceristar-fetch.

[2019-04-30 20:10] #228 closed

[2019-04-30 20:33] vadim9999 opened #236 "display data that created Elnur and Wahaj"
Create folder play and  play.js . In there import all files that you created and in loop render it via console log

[2019-04-30 21:02] vadim9999 opened #237 "upgrade generator"
move object config in separeted files (configGenerator.js) in folder generator. and connect it in generateFiles.js Also import in configGenerator.js generateArray
@EbrahimKreem

[2019-04-30 21:02] #233 closed

[2019-04-30 21:08] vadim9999 opened #238 "move method __generateId () and __generateData() from generateArra"
move method __generateId () and __generateData() from generateArray.js in utils.js that need to create. Also connect this file inot generatedArray

[2019-04-30 22:28] vadim9999 commented on #235
@EbrahimKreem @elnur004

[2019-05-01 08:25] vadim9999 commented on #208
@wahaj-47 please change variables that was before (allergiestFilePath) in files.js and tests

[2019-05-01 08:42] vadim9999 commented on #208
@wahaj-47 after it tests will not working but we can fix it.
After you will change all variables we will have this
[code]
then allergiesFilePath contain full path from your disk. First issue I have founded it's add use require.
I think we can change import on require.
Please change import in tests like this
[code]

[2019-05-01 09:10] vadim9999 opened #240 "move method getIngredientsKey() from groceristar-fetch"
**Is it was created as task at GitHub issues? Please provide an issue number or link**

This task is subtask of https://github.com/GroceriStar/sd/issues/294

**Describe the solution you'd like**

A clear and concise description of what you want to happen.
From https://github.com/GroceriStar/groceristar-fetch/blob/master/src/projects/GraphQL/graphQL.js  move to https://github.com/GroceriStar/sd/blo

[2019-05-01 18:30] elnur004 commented on #235
@vadim9999 can you explain a little how to do it?

[2019-05-01 19:15] vadim9999 commented on #235
@elnur004 in groceristar-fetch we have https://github.com/GroceriStar/groceristar-fetch/tree/master/src/projects projects folder. In each project folders are tests. Our goal is to find out what tests we should move

[2019-05-01 21:57] elnur004 commented on #235
@vadim9999, for example, i want to move `src/projects/ChickenKyiv/test/chickenKyiv.test.js` this test.
how to determine, need this to move or not?
or need such determination?

[2019-05-02 04:50] wahaj-47 commented on #208
How about we do this ?
`import {allergiesFilePath as allergies} from '../../../files.js'`

[2019-05-02 06:57] vadim9999 commented on #235
I think need tests that will help us

[2019-05-02 07:07] vadim9999 commented on #208
@wahaj-47 No, it's just get full path of file. The issue is that we can't set in import path variable in es6 but in es5 we can do it with require it like a method that you can use everywhere

[2019-05-02 07:10] vadim9999 commented on #235
Make it just copy past without deleting from groceristar-fetch

[2019-05-02 07:17] vadim9999 commented on #211
@elnur004 Change import path in src/files.js

[2019-05-02 07:39] #237 closed

[2019-05-02 07:39] #238 closed

[2019-05-02 07:44] vadim9999 commented on #235
fork groceristar-fetch repository then copy file past into sd in src/data/tests make push

[2019-05-02 15:53] vadim9999 opened #243 "copy function getKeyArrayDepAndIng from groceristar-fetch"
In groceristar-fetch in src/projects/GroceriStar/groceristar.js we have function getKeyArrayDepAndIng.
1. Create folder Groceristar and create file groceristar.js in generator.
2. Copy function getKeyArrayDepAndIng in generator/Groceristar/groceristar.js
3. generate file.
4. move test from groceristar-fetch for this method. all tests you can find in groceristar-fetch/src/projects/GroceriStar/test/

[2019-05-02 16:15] vadim9999 opened #244 "copied from groceristar-fetch (updating)"
* getMenuGenerator -> chickenKyiv

[2019-05-02 16:49] elnur004 commented on #235
@vadim9999 `groceristar-fetch/src/projects/GraphQL/test/files.test.js` name of this file is the same as
this file `groceristar-fetch/src/projects/ChickenKyiv/test/files.test.js`
need me to change the name of the file in **sd**?

[2019-05-02 16:56] vadim9999 commented on #235
Then create folder GraphQL and CkickenKyiv in generator and copy this test. Also move from src/data/tests chickenkyiv.test.js into created CkickenKyiv/tests. Safe the same structure like in groceristar-fetch/projects

[2019-05-02 18:12] elnur004 commented on #235
Now, at first, i have to copy all tests from groceristar-fetch/projects to sd/data/tests.
Then create consistency folders in generator and copy files into those folders, right?

[2019-05-02 18:18] vadim9999 commented on #235
yes

[2019-05-02 19:11] elnur004 commented on #235
@vadim9999 there are some **files** in the sd/src/data/tests **the same name** as the groceristar-fetch/src/projects.
what about do them? because they aren't able to paste in the sd/src/data/tests folder.
firstly we need to paste all test files here (in sd), but i can't do it

[2019-05-02 19:17] vadim9999 commented on #235
First of all let's create structure of folders in generator. It should be
generator
 |_ projects
    |_GroceriStar
   |_ ChickenKyiv
   |_GraphQL

[2019-05-02 19:37] elnur004 commented on #235
and then what to do?
just test files should be move there?

[2019-05-02 19:52] vadim9999 commented on #235
yes,  after will be folder ChickenKyiv create in it folder tests and paste there chickenkyiv.test.js

[2019-05-02 20:03] elnur004 commented on #235
@vadim9999 here (in sd) in the test folder chickenkyiv.test.js also exist.
what about do that? delete or not?

[2019-05-02 20:10] vadim9999 commented on #235
Now in folder ChickenKyiv create folder tests and move there chickenkyiv.test.js. and Delete chickenkyiv.test.js from src/data/tests

[2019-05-02 21:53] vadim9999 commented on #243
@EbrahimKreem this task for you

[2019-05-03 05:27] EbrahimKreem commented on #243
I have a small question, why this module uses JSON data other than a database what is the benefit?

[2019-05-03 06:49] vadim9999 commented on #243
because it's easy to use. If new interns that anything doesn't know also about databases can open json and see structure of files then write methods. second it's faster then setting connection with db and get from there data. we have some db on loopback. startingup a db on local mechine it's need some machine resources and new interns may doesn't understand how to use it.

[2019-05-04 07:31] vadim9999 opened #253 "add tests into src/index.test.js"
add tests that check each file that exist or not. All static data are in src/data/. Make structure like in cickenKyiv.test.js  https://github.com/GroceriStar/groceristar-fetch/blob/master/src/projects/ChickenKyiv/test/chickenKyiv.test.js
In index.test.js use import from files.js that is in root of project https://github.com/GroceriStar/sd/blob/master/files.js.
Example of importing from files.js yo

[2019-05-04 07:33] #208 closed

[2019-05-04 08:04] vadim9999 commented on #211
@elnur004 change in sd/files.js the same thing with cooking_times

[2019-05-04 08:11] elnur004 commented on #211
@vadim9999 i can't understand properly.
which cooking_times need to change?

On Sat, 4 May 2019 at 12:04, Vadim <notifications@github.com> wrote:

[2019-05-04 08:23] vadim9999 commented on #211
@elnur004 file cooking_times doesn't need to change. Delete constants variables that in files.js in root of project. The main problem that we moved files from root of project into src/data. Now path.resolver can't find your files because we changed file extensions. It's need to change from js into json. Second problem we wrap all objects into one array. this many objects doesn't exists that you ca

[2019-05-04 09:17] vadim9999 commented on #211
@elnur004 in root of project in files.js change that variables that they ends with FilePath like other variables

[2019-05-04 09:18] vadim9999 commented on #211
@elnur004 for example now
[code]
should be
[code]

[2019-05-04 09:22] vadim9999 commented on #211
@elnur004  then when will you do this change exported variables. Also change variables in export in src/files.js

[2019-05-04 10:09] vadim9999 commented on #211
@elnur004 in files.js you haven't exported cooking_timesFilePath, holidayFilePath export it. Also delete from export variables that was imported before

[2019-05-04 10:10] vadim9999 commented on #211
@elnur004 can you write a list of what files you have moved?

[2019-05-04 11:50] elnur004 commented on #211
@vadim9999 what to do now?

[2019-05-04 11:52] #211 closed

[2019-05-04 11:52] vadim9999 commented on #211
@elnur004 I have assigne task for you

[2019-05-04 11:53] #235 closed

[2019-05-05 11:53] elnur004 commented on #236
@vadim9999 hi,
actually, i don't understand this task clearly

[2019-05-05 14:33] vadim9999 commented on #236
@elnur004 Hi, I will push some changes after 5 minutes and explain how to do

[2019-05-05 14:45] vadim9999 commented on #236
@elnur004 Ok, in play js delete all imports make it empty. Then with using require import from filesObjects.js. Create function that will be displaying in loop all objects in console.log. you can use forEach, map, or other

[2019-05-05 15:01] vadim9999 opened #263 "change import in all tests in src/data/__tests__"

[2019-05-06 20:32] atherdon commented on #158
Guys, I was absent last month as you may find. But was "spying" on your code and pull requests

![xxx](https://media.giphy.com/media/l1IY0geomfz09dEB2/giphy.gif)

Vadim will continue to supervising you here, but I'll work on some management as well. If someone have some ideas about what I/we can update/upgrade in order to make our work more smooth - please tell me. I find out that we don't have a

[2019-05-06 20:39] atherdon commented on #158
Question: I see that generator it's become a huge thing here. At it complicate our code/logic here. Is it a good idea to move a generator away as a separated module and just call it in our package.json?

[2019-05-06 20:55] atherdon opened #266 "copy assets rollup module"
at package.json we have a module, that should copy files(if needed) while building code to es6 version. and before few last weeks, this module was outdated and not copying our files.
My idea was: move away `data` folder outside of `src` - because at that folder only tests are not static. and have maybe another folder for generated json as well. and when we'll run a build, data from both static and

[2019-05-06 20:55] atherdon commented on #158
#266

[2019-05-06 23:12] atherdon opened #267 "looks interesting"
@vadim9999  what do you think? https://github.com/marmelab/json-graphql-server

[2019-05-07 00:00] atherdon commented on #267
https://www.producthunt.com/posts/apis-with-github

[2019-05-07 00:06] atherdon opened #268 "install and configure this addon for better error reporting"
https://github.com/MikeKovarik/rollup-plugin-notify

[2019-05-07 10:14] vadim9999 commented on #158
Yes, I think it's a good idea

[2019-05-07 10:20] vadim9999 commented on #267
I think it's good tools. It's need to try

[2019-05-07 13:56] atherdon commented on #267
ok mark it somehow so maybe we can pick someone who can try it

[2019-05-07 13:59] atherdon commented on #158
then we need to have a really great explanation about how to do it at some
task. Because not everyone knows how rollup is working, so there only 2
options: we can did it quickly by myself or slowly but with help of other
people. i'm preferring a second one. especially because i don't code
generator

[2019-05-07 18:25] atherdon commented on #158
Team, please welcome Adebowale(@Edebo) - he is our new team member. @vadim will supervise you at this repository.

![xxx](https://media.giphy.com/media/l4JyOCNEfXvVYEqB2/giphy.gif)

[2019-05-07 19:14] vadim9999 commented on #158
@atherdon are we moving all methods from fetch. Then we will generate files from this functions?

[2019-05-07 19:18] vadim9999 commented on #158
@atherdon are we moving all methods from fetch. Then we will generate files from this functions?

[2019-05-07 19:48] atherdon commented on #158
I don't think that we need 100% of methods from fetch actually. same with tests.
Here we need to have only methods, that changing/updating structure of our json arrays.
So, for example - i think we need to move most of methods from folder `GraphQL` because most of them generating an arrays. if you want more details, let's have a separated task, where we can discuss each method separately

[2019-05-07 20:00] atherdon commented on #158
I think Gracia(@ladysequel) is also ready to start with us

![xxx](https://media.giphy.com/media/nPTXD4lJmDSTe/giphy.gif)

[2019-05-07 23:26] atherdon opened #271 "team management"
@vadim - I have a few questions.
I didn't review the progress of the team about 2-3 weeks, but all PRs are in my inbox, so i'll carefully check it later, and will notify you and member about changes(if it necessary).
First question is: do you move all tasks from my papers into github issues or not? I know that some tasks were covered bad, so maybe we need to adjust them and move here.

- One of my

[2019-05-07 23:38] atherdon commented on #158
Welcome Pratiksha (@Pratikshagit) as our new member too! She came from apps field with good knowledge at testing. We'll help her to learn Jest, so our test coverage will be awesome.

![xxx](https://media.giphy.com/media/SGkufeMafyuBhIw796/giphy.gif)

[2019-05-07 23:50] atherdon opened #272 "Basic Intro to Jest + plan of what to do"
It's not in a perfect share, but maybe we can make it looks better together: https://github.com/ChickenKyiv/awesome-jest-articles

[2019-05-07 23:51] atherdon opened #273 "what we need to do, in order to make Travis CI work without crashes?"
https://travis-ci.org/GroceriStar/sd

[2019-05-08 00:40] atherdon opened #274 "move utils inside src folder"
without brokening all package, for sure

[2019-05-08 00:41] atherdon opened #275 "maybe we need to move jsonlint inside of the data folder?"
without breaking everything for sure.
because right now the root of the repository looks durty. i don't like it

[2019-05-08 00:45] atherdon opened #276 "extend jsonlint.config"
i have some examples commented at this file.
our goal: if some of json files are broken(test it) then we should display a proper message for it

[2019-05-08 04:40] Edebo commented on #158
Hi everyone

[2019-05-08 05:06] atherdon opened #277 "introduction to our current working scope"
in order to get some details, please read readme from our other package. SD(static data) is a module, that used at our `groceristar-fetch` module. it has some articles, that I created in order to explain details

https://github.com/GroceriStar/groceristar-fetch/blob/master/README.md

 you can start from it, while Vadim will think about tasks for you
@Edebo

[2019-05-08 09:00] EbrahimKreem commented on #274
done

[2019-05-08 12:19] vadim9999 opened #278 "change importing in all tests"
Now in all tests we have this structure that get object.
[code]
Replace it with importing from filesObjects.js that is in root of project like this
[code]

[2019-05-08 15:24] vadim9999 commented on #278
@EbrahimKreem

[2019-05-08 15:24] atherdon commented on #271
please add them and i'll add more details into description

[2019-05-08 15:25] atherdon commented on #271
just don't want to loose them

[2019-05-08 16:38] atherdon commented on #277
@Pratikshagit you can jump here too

[2019-05-08 16:45] atherdon commented on #158
Whuh, looks like we increasing our team quickly. Nathaniel(@dctalk1234) also joining this repository

![xxx](https://media.giphy.com/media/3o6j8fXbqweKIIfCJW/giphy.gif)

[2019-05-08 17:08] atherdon commented on #278
i think confusion between having both es5 & es6 versions inside one package
are a real sign that we need to split code into few repositories and make
it less confusing for developers...

[2019-05-08 17:17] vadim9999 commented on #278
Rollup works with es6, mdoule is es5. Should we change rollup on es5?

[2019-05-08 17:22] atherdon commented on #278
this is not what i mean. major part of `sd` repo(all files inside src) are
actually working with es6.
and only small piece of code using es5. and i think it's just another "+"
of making code less complicated by separation of code again.

Don't worry - if i'm right - life will force us soon to do it :) Especially
with an increased number of new interns. So let's see in 1-2 weeks and then
maybe we'l

[2019-05-08 17:29] vadim9999 commented on #278
But src contains with static data and tests. tests should be in es5 or es6? If we wil use es6 need uncoment fix in babel.conf that I have added.

[2019-05-08 17:42] atherdon commented on #278
right now src contains json(static data), tests and export. but actually,
only export will be changed frequently. So with work of
`rollup-copy-asset-module` we'll be able to separate things. I'll add more
details a bit later and share with all team members at main task.

"tests" are actually not an easy term. because we have `json-files-tests`,
`jsonlint-tests` and some other. So i think for tests

[2019-05-08 17:50] vadim9999 commented on #278
Am I right understood tests in src/data should be in es6?

[2019-05-08 17:52] atherdon commented on #278
give me a code link as example please

[2019-05-08 17:54] vadim9999 commented on #278
https://github.com/GroceriStar/sd/blob/master/src/data/__tests__/allergy.test.js

[2019-05-08 17:56] atherdon opened #279 "es5 import"
When I'm looking at this file, i see a long path resolving each time.
https://github.com/GroceriStar/sd/blob/master/files.js
But we have a module resolver, that aiming to simplify including of files. Am I right that module resolving not working well for this file, or maybe we just forget to use it? Please advice.

[2019-05-08 18:05] vadim9999 commented on #279
module resolver returns just full  path to file that is stored on hdd.But the reason to use es5 it's due to require. that give to it path and returns object. But to make easier to use module resolver I have add filesObject.js that return array with all data

[2019-05-08 18:22] atherdon commented on #279
Can we replace right now
[code]
with
[code]
without crashing everything? Don't do it - just tell what do you think

[2019-05-08 18:25] atherdon commented on #274
at what PR? did you test it and can confirm that it works, right?

[2019-05-08 18:27] vadim9999 commented on #279
I think we can replace but I am a little doubte. It's working in ~ alias is working in es6 fine. But will it be working in es5 I don't test it.

[2019-05-08 18:28] atherdon commented on #279
ok, i think it can be a good task for someone else. i think all is clear and we don't need to spend time on it.

[2019-05-08 19:33] vadim9999 commented on #278
@atherdon What we will do with version es5 or es6 in tests in src/data?

[2019-05-08 20:24] atherdon commented on #278
just checked history and this file at sd-2.0.3 has this line:
```import allergies from '~/Allergy/allergies.json'```
is it was necessary to change to es5?

[2019-05-08 20:55] vadim9999 commented on #278
No it's worked good. But you have created task about replacing importing of all tests with path resolver

[2019-05-08 21:48] atherdon commented on #271
i want to review progress, that was done by Elnur. I mean files like gallon1, cup1 etc.
whom should i ask - you or Elnur? Right now i want to have a list of all that json files, that connected together by one topic

[2019-05-08 21:54] EbrahimKreem commented on #278
😅 should I make a patch in src/data/tests for using es5 or just keep it with es6?

[2019-05-08 22:08] atherdon commented on #278
I think 80% probability is I forget or have a mistake :) because i have a memory of fish.

----

@EbrahimKreem not sure to be honest. this problem is more than it looks. these "tests" problem confusing a lot of people. And yesterday our team join a Q&A engineer(tester). And i'm sure that she will be confused about our 3 type of tests as well.

As you join a conversation - we can discuss my other i

[2019-05-08 22:17] EbrahimKreem commented on #278
Yeah I agree with you the project structure very confusing

[2019-05-08 22:19] EbrahimKreem commented on #278
so you say that we should make a /test folder in the root dir and start moving files

[2019-05-08 22:23] atherdon commented on #278
yeah, i'm thinking about it, but not sure if need to do it. what do you think?

[2019-05-08 22:29] EbrahimKreem commented on #278
"Simplicity is the soul of efficiency" - Austin Freeman
if this step will make the structure more reasonable I think we should make it

[2019-05-08 22:31] atherdon commented on #278
this structure will not last forever. it may be only for short term goals.
as you may understand - when we'll move files to a new destination - a lot of our functionality will be broken, right? Do you think you want to do it?

[2019-05-08 22:39] EbrahimKreem commented on #278
I'm after you 😆

[2019-05-08 22:41] EbrahimKreem commented on #278
`a lot of our functionality will be broken` our hero is here

[2019-05-08 22:57] atherdon commented on #278
lol :) in order to simplify it:
- when we'll move `https://github.com/GroceriStar/sd/tree/master/src/data/__tests__` we will need to update paths to json files
- for `https://github.com/GroceriStar/sd/blob/master/jsonlint.config.js` we'll need to move files.js as well
and update paths at package.json for calling jsonlint script
- for `https://github.com/GroceriStar/sd/blob/master/src/index.test.js

[2019-05-08 23:05] dctalk1234 commented on #158
@vadim9999 I was told to get in touch about what tasks you may have for me to start looking at.

[2019-05-08 23:18] atherdon commented on #277
not remember if i shared this file with you @dctalk1234. you can read it too, in order to have some details about what we're doing

[2019-05-09 08:20] vadim9999 commented on #271
List of json files that Elnur connected
cooking_times
cup1
cup1_2
cup1_4
cup1_8
cup3_4
dash
gallon1
pinch
pint1
quart1
tablespoon_1
teaspoon_1

[2019-05-09 09:26] vadim9999 opened #282 "change importing in tests on filesObjects"
Tests for this task you can find here https://github.com/GroceriStar/sd/tree/master/src/data/__tests__/
In this file tests
[code]

For example in https://github.com/GroceriStar/sd/blob/master/src/data/__tests__/cup1.test.js#L3
is import from files.js. Replace this importing by importing from filesObjects.js that is in root of project.

To import from filesObjects.js you need to use this import
[co

[2019-05-09 09:29] vadim9999 commented on #158
@dctalk1234 Hi! This task is for you https://github.com/GroceriStar/sd/issues/282

[2019-05-09 20:04] Edebo commented on #158
@vadim9999 i have not got a task yet

[2019-05-09 20:40] vadim9999 commented on #158
@Edebo Hi! This task for you https://github.com/GroceriStar/sd/issues/253

[2019-05-09 23:05] atherdon opened #286 "Tasks In progress [Team management]"
subtask of #271
- [ ] #278
- [ ] #277
- [x] #274
- [x] #268
- [x] #243
- [ ] #236
- [x] #122
- [x] #95
- [ ]

[2019-05-09 23:09] atherdon commented on #271
after processing these PRs we'll need to release a new version of sd, publish on npm, install to `fetch` and check if our changes works well.
Also, just in case of my paranoja, let's update sd at fake-api as well and call it - so we can be happy of quality.
- #259
- #269
- #280
- #284
- # 285

[2019-05-10 00:47] atherdon commented on #271
Topics that i want to check/review/complete
 - Unit Convertion (Wahaj) -> is completed?
- Measurements (Elnur) -> is completed?
- data for both Unit + Measurements are displayed?
- GraphQL project - are files are generated here? Did we test the connection to fetch of those files? Can we actually try them at graphql-server?
-

[2019-05-10 04:06] dctalk1234 commented on #282
It appears that the first github link is not working.

[2019-05-10 04:11] atherdon commented on #282
try again, it's about formatting links here

[2019-05-10 04:17] dctalk1234 commented on #282
That worked

[2019-05-10 04:19] dctalk1234 commented on #282
To make sure I'm understanding this right my job is to go through the tests and in for example cup1.test.js file change const {cup1} = require('../../../files.js') to const staticData = require("./filesObjects")

[2019-05-10 04:32] atherdon commented on #282
i'm not Vadim, so cannot reply to you exactly. Make your changes, show you code and when we will be ready - he will tell you if you need to change something in your code ;)

[2019-05-10 04:34] atherdon commented on #282
Btw, some our other developer, Ebrahim also show interest to make some changes in tests - so be aware about it - because your changes can generate a conflict with his code

[2019-05-10 08:25] vadim9999 commented on #271
* Unit Conversion (Wahaj):
 1. He created 2 functions that return array with id and other additional properties. In  generateArray.js this  getMeasurementUnits() and getMeasurementSystem(). He have generated in folder MeasurementSystem and MeasurementUnits.
**Question**: What should we do with folder Units? Because structurue of generation is in function. And to generate files folder and her files

[2019-05-10 08:29] vadim9999 opened #294 "Moving functions from groceristar-fetch project GraphQL"
Here is a list of functions that should be moved and working without bugs.
From https://github.com/GroceriStar/groceristar-fetch/blob/master/src/projects/GraphQL/graphQL.js need move to https://github.com/GroceriStar/sd/blob/master/generator/projects/GraphQL/graphQL this list of functions:

- [x] getUserGroceryKey (#302)
- [x] getIngredientsKey (#240)
- [x] getFavoritesKey (#303)
- [x] getItemsKey

[2019-05-10 09:55] #268 closed

[2019-05-10 09:55] #263 closed

[2019-05-10 09:56] #274 closed

[2019-05-10 09:57] #275 closed

[2019-05-10 13:26] hirdbluebird commented on #176
https://github.com/GroceriStar/sd/pull/295

[2019-05-10 18:34] atherdon opened #296 "more details to pr template"
https://github.com/rollup/rollup/blob/master/.github/PULL_REQUEST_TEMPLATE.md

[2019-05-10 18:54] dependabot[bot] opened #297 "Dependabot can't parse your yarn.lock"
Dependabot couldn't parse the yarn.lock found at `/yarn.lock`.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-05-10 19:17] #297 closed

[2019-05-10 19:25] atherdon commented on #278
Ebrahim, as Vadim merged your latest changes - please work on this one then.
Because right now all these `test` situations look crazier for me :)

[2019-05-10 19:29] #296 closed

[2019-05-10 20:14] vadim9999 commented on #236
@elnur004 please watch on this task. I have updated it

[2019-05-10 20:25] Edebo commented on #253
@vadim9999,do i have to do same for all file in groceristar-fetch/src/projects/

[2019-05-10 20:45] EbrahimKreem commented on #278
ok

[2019-05-10 20:45] vadim9999 commented on #253
@Edebo yes

[2019-05-10 22:57] atherdon commented on #23
#271

[2019-05-10 23:02] atherdon commented on #23
work on copy-plugin: https://github.com/bengsfort/rollup-plugin-copy-assets/issues/1

[2019-05-10 23:50] atherdon commented on #229
#295 - this task is related to Eugene push too, right?

[2019-05-10 23:52] atherdon commented on #271
**This comment is more for me**
I convert my notes in digits, so soon or later we'll create those tasks and I'll try to add more information into it.

---

===

Sd -> Elnur -> tests as similar function, that we have it at `fetch`. Just have a separated file for it for a first time. If it(when) it will work, let's back to discussion and maybe upgrade tests then(tests that we have).

Stage1: file th

[2019-05-11 00:24] atherdon commented on #158
If someone want to read more - actually more about plans that we have at `fetch` plugin located here and at Readme of `fetch` plugin: https://github.com/GroceriStar/groceristar-fetch/issues/174
And we're doing right now part that we start to work at January: https://github.com/GroceriStar/groceristar-fetch/issues/174#issuecomment-456695662

[2019-05-11 00:26] atherdon commented on #273
yeah, i think we should take a look at some of our CI jobs, see that we have a lot of errors there and start to close them step-by-step: https://travis-ci.org/GroceriStar/sd/jobs/530993735

[2019-05-11 00:26] atherdon commented on #273
actually I see that we very simple mistakes here, and maybe Benitha can solve them

[2019-05-11 03:56] atherdon commented on #158
The generator is a huge thing. So maybe details are necessary.

**Graphql subproject.**
our task for it is to generate about 5-8 files, that we're generating here.
Methods we actually grabbing and moving from `fetch` module.

---

**ChickenKyiv subproject** it's using at recipe-antd, fake-API

---

**Groceristar subproject** - used at groceristar-showcase, main groceristar-backend server.

---

**

[2019-05-11 04:19] ijb87 commented on #158
Can I have a task please?

[2019-05-11 19:40] atherdon commented on #271
We need to assign a new task to Eugene. But it should be something hard, or he wouldn't be motivated to solve it. and it's cannot be about tests - because Ebrahim working on them. Also, I add Eugene to our npm organization, so you can give him tasks about publishing a release, installing in on other repositories, etc.

[2019-05-11 21:32] atherdon commented on #158
@hirdbluebird do you want a simple task or hard one?

[2019-05-11 23:14] atherdon opened #299 "Update structure of food measurements - part1"
### Expected Behavior / Situation
We need to add a field name inside of the object. in the current case - `name:'cup'`

### Actual Behavior / Situation
file https://github.com/GroceriStar/sd/blob/master/src/data/Cup1/cup1.json
has structure, that is not easy to merge with other measurements.

### Modification Proposal

[2019-05-11 23:31] atherdon commented on #299
repeat please with each of these files:
- cooking_times https://github.com/GroceriStar/sd/blob/master/src/data/Cooking_times/cooking_times.json

- cup1_2 https://github.com/GroceriStar/sd/blob/master/src/data/Cup1_2/cup1_2.json
- cup1_4 https://github.com/GroceriStar/sd/blob/master/src/data/Cup1_4/cup1_4.json
- cup1_8 https://github.com/GroceriStar/sd/blob/master/src/data/Cup1_8/cup1_8.json
- cup3

[2019-05-11 23:33] atherdon commented on #158
Benitha (@Beni03) is working on #299

[2019-05-11 23:59] atherdon commented on #271
will think about it

Ok, how do you plan to handle that?

[2019-05-12 05:35] hirdbluebird commented on #176
@atherdon check the pull request
https://github.com/GroceriStar/sd/pull/295

[2019-05-12 06:27] atherdon commented on #176
yeah i saw it. as i'm not team lead at this repo - I cannot merge it. i add you just to avoid confusion

[2019-05-12 06:28] #122 closed

[2019-05-12 17:43] vadim9999 commented on #229
yes

[2019-05-12 18:31] atherdon commented on #229
@vadim9999 please close it if it completed

[2019-05-12 18:31] atherdon commented on #176
@vadim9999 please close it if it completed

[2019-05-12 20:06] elnur004 commented on #236
@vadim9999 this syntax in filesObjects.js confuses me
arr = {
    ...arr,

what is this meaning? especially 3 dots

[2019-05-12 20:13] atherdon commented on #236
http://es6-features.org/#SpreadOperator
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Spread_syntax

[2019-05-13 04:50] atherdon commented on #294
Can you put there what is needed to be done, please?

[2019-05-13 04:51] atherdon commented on #294
#240

[2019-05-13 07:39] ankit-prgmr commented on #158
Hi @vadim9999, I'm told to text you to get a task to start with. Thanks

[2019-05-13 09:23] vadim9999 commented on #229
@hirdbluebird Please add explanation about how to get data from this module after installing it. Also add information where people can find tests. How to run build and what folder will be created after this command. What is inside of this?

[2019-05-13 09:25] vadim9999 commented on #176
close

[2019-05-13 09:25] #176 closed

[2019-05-13 09:44] vadim9999 commented on #236
@elnur004

[2019-05-13 10:02] vadim9999 opened #302 "Move function getUserGroceryKey() from groceristar-fetch"
**Is it was created as task at GitHub issues? Please provide an issue number or link**

This task is subtask of https://github.com/GroceriStar/sd/issues/294

**Describe the solution you'd like**

A clear and concise description of what you want to happen.
From https://github.com/GroceriStar/groceristar-fetch/blob/master/src/projects/GraphQL/graphQL.js  move to https://github.com/GroceriStar/sd/blo

[2019-05-13 10:26] vadim9999 commented on #158
@ankit-prgmr Hi! This task for you https://github.com/GroceriStar/sd/issues/302

[2019-05-13 10:31] vadim9999 commented on #158
@ijb87 Hi! This task if for you https://github.com/GroceriStar/sd/issues/240

[2019-05-13 11:05] vadim9999 opened #303 "move getFavoritesKey() from groceristar-fetch"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

This task is subtask of https://github.com/GroceriStar/sd/issues/294

**Is it was created as task at GitHub issues? Please provide an issue number or link**

From https://github.com/GroceriStar/groceristar-fetch/blob/master/src/projects/Gr

[2019-05-13 13:30] ladysequel commented on #158
Hi Vadim,

Thank you, I will take a look at it tomorrow.

Sincerely,
Gracia Rivas

Sent from Mail for Windows 10

From: Vadim
Sent: Monday, May 13, 2019 6:31 AM
To: GroceriStar/sd
Cc: ladysequel; Mention
Subject: Re: [GroceriStar/sd] custom structures generator [Main task] (#158)

@ijb87 Hi! This task if for you #240
—
You are receiving this because you were mentioned.
Reply to this email directly

[2019-05-13 14:53] vadim9999 commented on #158
@ladysequel  do you have two accounts? ijb87 it's also your account?

[2019-05-13 18:52] atherdon commented on #303
@wahaj-47 readme message is at low priority - so start issue that gave you Vadim.

[2019-05-13 18:55] atherdon commented on #158
No, @ijb87 it's Ihab, our new member as well :)

[2019-05-13 22:58] atherdon commented on #229
#304

[2019-05-14 08:08] ambikantpc1987 commented on #158
Hi,
I am a QA Engineer with 5 years of experience.

[2019-05-14 12:27] ladysequel commented on #158
No, that is not mine.

Sent from Mail for Windows 10

From: Vadim
Sent: Monday, May 13, 2019 10:53 AM
To: GroceriStar/sd
Cc: ladysequel; Mention
Subject: Re: [GroceriStar/sd] custom structures generator [Main task] (#158)

@ladysequel do you have two accounts? ijb87 it's also your account?
—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute

[2019-05-14 13:02] ladysequel commented on #158
Dear Vadim,

I am currently developing my JavaScript skills. So it might take me a little bit to code back the method. But I will be working on it.

Sincerely,
Gracia Rivas

Sent from Mail for Windows 10

From: Vadim
Sent: Monday, May 13, 2019 6:31 AM
To: GroceriStar/sd
Cc: ladysequel; Mention
Subject: Re: [GroceriStar/sd] custom structures generator [Main task] (#158)

@ijb87 Hi! This task if for

[2019-05-14 15:44] vadim9999 opened #308 "Intro to the project"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Is it was created as task at GitHub issues? Please provide an issue number or link**

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Readme file: https://github.com/GroceriStar/sd/blob/m

[2019-05-14 15:47] vadim9999 commented on #158
@akshatphumbhra Hi! This task for you https://github.com/GroceriStar/sd/issues/308

[2019-05-14 15:52] vadim9999 opened #309 "move getItemsKey() from groceristar-fetch"
**Is it was created as task at GitHub issues? Please provide an issue number or link**

This task is subtask of https://github.com/GroceriStar/sd/issues/294

**Describe the solution you'd like**

A clear and concise description of what you want to happen.
From https://github.com/GroceriStar/groceristar-fetch/blob/master/src/projects/GraphQL/graphQL.js  move to https://github.com/GroceriStar/sd/blo

[2019-05-14 15:57] vadim9999 commented on #158
@ladysequel Hi! This task for you https://github.com/GroceriStar/sd/issues/309

[2019-05-14 15:59] vadim9999 commented on #303
@wahaj-47 Make this steps for method getDepartmentsKey()

[2019-05-14 20:05] hirdbluebird commented on #273
@will be fixed with upcoming merge https://github.com/GroceriStar/sd/pull/304

[2019-05-14 20:09] will commented on #273
I don’t need to be fixed >:(

On Tue, May 14, 2019 at 1:05 PM Eugene Mikhushkin <notifications@github.com>
wrote:

[2019-05-15 01:12] atherdon commented on #299
looks like we finished this task.

[2019-05-15 01:13] #299 closed

[2019-05-15 01:17] atherdon commented on #271
@vadim9999 2 pending things we have right now.
1) review and merge Eugene pull request - we commit everything in one place and this can be dangerous
2) publish a new version of sd-wrapper and install it at fetch. I need it in order to assign a new task to Benitha

[2019-05-15 08:14] atherdon opened #326 "Move function getGroceryKey() from groceristar-fetch"
**Is it was created as task at GitHub issues? Please provide an issue number or link**
This task is subtask of #294

**Describe the solution you'd like**

From https://github.com/GroceriStar/groceristar-fetch/blob/master/src/projects/GraphQL/graphQL.js move to https://github.com/GroceriStar/sd/blob/master/generator/projects/GraphQL/graphQL function getGroceryKey().

[2019-05-15 08:18] atherdon opened #327 "Move function getUsersKey () from groceristar-fetch"
**Is it was created as task at GitHub issues? Please provide an issue number or link**
This task is subtask of #294

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
From https://github.com/GroceriStar/groceristar-fetch/blob/master/src/projects/GraphQL/graphQL.js move to https://github.com/GroceriStar/sd/blob/master/generator/projects/GraphQL/graphQL

[2019-05-15 08:22] atherdon commented on #95
@ronniebhatt are you still with us or should i reassign this task to someone else?

[2019-05-15 09:51] atherdon opened #329 "Measurements systems. add type to the structures."
### Expected Behavior / Situation
right now we have one structure

I think maybe that we need to add 'type' to Units? I'm not 100% sure about it,
if you have troubles in matching stuff. together (one object with another) --> we need it then.
### Actual Behavior / Situation
I want to change it. you can do it in any way. maybe we need to ask @vadim9999 so he confirm if we need to change structure by

[2019-05-15 09:55] atherdon opened #330 "looks like we deleted a previos version(non-generated of measurement system. roll it back"
**Describe the bug**
At data folder i cannot see an old version of the measurement system, that Wahaj created by hands.
we need it.

**To Reproduce**
the easiest way - go to releases folder - download some old version of plugin, that has those files - upload them back

**Expected behavior**
We should have both versions, generated and static.

**Screenshots**
![image](https://user-images.githubuser

[2019-05-15 09:56] atherdon opened #331 "we need to have tests, that will check number of our static files. so no one can delete them without crashing builds"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Is it was created as task at GitHub issues? Please provide an issue number or link**

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear a

[2019-05-15 09:59] atherdon opened #332 "create a plan for moving generator out"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Is it was created as task at GitHub issues? Please provide an issue number or link**

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear a

[2019-05-15 15:29] vadim9999 commented on #271
@atherdon Ok, right now I will make it

[2019-05-15 15:48] #303 closed

[2019-05-15 15:54] vadim9999 commented on #330
@atherdon We have generated and static data. Static data located in Units here https://github.com/GroceriStar/sd/tree/master/src/data/Units. Generated files in https://github.com/GroceriStar/sd/tree/master/src/data/MeasurementSystem and https://github.com/GroceriStar/sd/tree/master/src/data/MeasurementUnits

[2019-05-15 22:43] atherdon commented on #330
hmm, maybe i was mistakenly scared. ok, sorry for alarm

[2019-05-15 22:45] atherdon commented on #330
I think I was confused by this folder, where i saw only one file.

[2019-05-15 23:22] atherdon commented on #294
if you can create a similar to this task, but related to groceristar methods - i think Eugene will be able to handle it himself quickly.

[2019-05-16 05:51] ronniebhatt commented on #95
I am busy with my College examination , you can give this task to other

On Wed 15 May, 2019, 1:52 PM Arthur Tkachenko, <notifications@github.com>
wrote:

[2019-05-16 05:57] atherdon commented on #95
ok, will do.
Good luck with exams btw!
will you back to us after them?

[2019-05-16 08:43] atherdon opened #335 "[Groceristar project][generator] moving methods from groceristar-fetch"
### Expected Behavior / Situation
This task is similar to #294.
We need to move all methods and tests, that related to changing objects structure.

### Actual Behavior / Situation
methods moved
tests moved
methods can be used in order to generate new files.

Vadim will follow the process.

[2019-05-16 21:40] atherdon commented on #294
GraphQL functions
another important thing is how exactly you will did it.
For example: all is done with this part of functionality. And I decided to add two more files, that will extend the logic of our work.
How quickly you will be able to handle it?

1) we finished our changes at sd repository. tests of this part is working fine. Vadim confirmed it.
2) Vadim/Eugene publishing sd module at npm. S

[2019-05-17 00:49] atherdon commented on #286
as i'm not well know what was doing on, i merged some of Edebo PRs.
But we'll need recheck it just in case.
https://github.com/GroceriStar/groceristar-fetch/pull/380#issuecomment-491618342
https://github.com/GroceriStar/groceristar-fetch/pull/382
https://github.com/GroceriStar/groceristar-fetch/pull/401

[2019-05-17 01:03] atherdon commented on #253
@Edebo did we finish this task, right?

[2019-05-17 01:10] atherdon commented on #282
did we finish this task?

[2019-05-17 01:12] atherdon commented on #95
@Edebo you can grab this task as well

[2019-05-17 22:38] #326 closed

[2019-05-17 23:15] ijb87 commented on #294
https://github.com/GroceriStar/sd/blob/master/generator/projects/GraphQL/graphQL link isn't working

[2019-05-17 23:21] atherdon commented on #294
@ijb87 what do you think to do?

[2019-05-17 23:27] atherdon commented on #294
@ijb87 can you also give me your task number?

[2019-05-17 23:38] atherdon commented on #282
@Edebo can you grab this task too?

[2019-05-17 23:40] ijb87 commented on #294
It's #240

[2019-05-17 23:41] atherdon commented on #158
@akshatphumbhra as Vadim busy at his university - lets talk here about tests for this module. as you can see its pretty simple

[2019-05-17 23:44] atherdon commented on #240
ok, so you have a question about second link. am i right? @ijb87 what do you think can be the next steps, in order to solve this problem?

[2019-05-17 23:46] ijb87 commented on #240
I would say create a new file with that name and backup the file and its contents just in case

[2019-05-17 23:58] atherdon commented on #240
ok, check that folder and if it will work - show me what you want to do via your code changes

[2019-05-17 23:59] atherdon commented on #240
@ijb87 you'll need to fork this repository in order to make changes

[2019-05-18 00:16] atherdon commented on #332
https://github.com/GroceriStar/sd/issues/158#issuecomment-490092040
https://github.com/GroceriStar/sd/issues/158#issuecomment-490229905

[2019-05-18 00:54] atherdon opened #337 "do it"
### Expected Behavior / Situation
-  merge your pr
- publish on npm
- install to fetch
- publish fetch at npm
- install updated fetch at fake-api(https://github.com/GroceriStar/fake-api) & graphql-server(https://github.com/GroceriStar/graphql-server)

### Actual Behavior / Situation

### Modification Proposal

[2019-05-18 04:49] MOOYOUONGOH commented on #158
Hi,
I am Mooyoung. I go to college in California.
I glad to be a member of this project.

[2019-05-18 05:09] atherdon opened #338 "review nutriotional attributes/types json file. it wouldn't pass our jsonvalidator"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubuser

[2019-05-18 05:17] atherdon commented on #158
It's Vadim side, but he is busy. @MOOYOUONGOH
try to dig into 'data' folder and check if we converted such kind of data into json objects. if no, please convert it and submit to this repository: https://github.com/ChickenKyiv/awesome-food-db-strucutures#diet-and-health-labels
I also have more advanced task. tell me if you feel powers to solve it. i want to parse a big csv file and convert that dat

[2019-05-18 05:27] atherdon commented on #158
@MOOYOUONGOH  i'm talking about this dataset which maybe will be an important part of our software/module soon. because few people right now crafting logic and data, related to measurement systems of food ingredients. https://github.com/GroceriStar/tensor-something/blob/master/Food%20Composition.xlsx

[2019-05-18 05:36] MOOYOUONGOH commented on #158
@atherdon
where is the data folder? what repo?

[2019-05-18 05:41] atherdon commented on #158
spend some time and research more. this kind of question shows me that you
should spend some time and observe(read) about our current work.
or ask more specific questions

[2019-05-20 11:34] atherdon commented on #267
https://github.com/AndyMacDroo/clusterf-chaos-proxy

[2019-05-20 11:57] atherdon commented on #337
we need to discuss what we'll do next after that

[2019-05-20 12:43] hirdbluebird commented on #229
@vadim9999 check the updates,
if all checkboxes are checked, close the issue

[2019-05-20 13:02] hirdbluebird commented on #337
@atherdon please, leave the list of command to publish, can't find it in repo's

[2019-05-20 13:19] atherdon commented on #337
https://github.com/GroceriStar/sd/blob/master/README.md#publish-at-npm

[2019-05-20 14:33] atherdon commented on #267
or https://kinto.readthedocs.io/en/stable/overview.html

[2019-05-20 18:43] atherdon commented on #282
it's done

[2019-05-20 18:44] #282 closed

[2019-05-20 19:30] atherdon commented on #267
https://github.com/paulolramos/eslint-prettier-airbnb-react because i think that standard is starting to roten now. not a lot of upgrades. and actually react has eslint5 and standard has eslint4

[2019-05-20 23:20] wahaj-47 commented on #158
Is there something I can do?

[2019-05-21 04:44] atherdon commented on #158
@wahaj-47 what do you think about parsing data, that i mentioned https://github.com/GroceriStar/sd/issues/158#issuecomment-493649858

[2019-05-21 04:54] atherdon commented on #267
https://raw.githubusercontent.com/rollup/rollup/master/README.md

[2019-05-21 05:32] atherdon opened #357 "replace standard with eslint-*"
**Is your feature request related to a problem? Please describe.**
I use standard because it was to configure. but we cannot use them at our React projects. so maybe we need toreplace it with default rollup/eslint/prettier/addons setup

**Describe the solution you'd like**
There plenty sources to find how to do it. can share upon request.
if we can add it and compare results from standard and late

[2019-05-21 08:16] atherdon commented on #253
i think it's done

[2019-05-21 08:16] #253 closed

[2019-05-21 08:20] atherdon commented on #158
@pratikshagit @ankit_prgmr @ijb87 @ladysequel @ambikantpc1987 how things going? do you have questions/busy/anything? Should i update your tasks - tell me something - don't see that we're on the same page at this moment.

[2019-05-21 09:28] ambikantpc1987 commented on #158
Hi
@arthur Assign me my task from next week onwards.

On Tue, May 21, 2019, 1:50 PM Arthur Tkachenko <notifications@github.com>
wrote:

[2019-05-21 11:38] atherdon commented on #158
Eugene ships a few big pull requests in previous days. One of them upgraded our Readme file. So if someone need more details - updated readme file will help you a lot. With that changes we'll run soon a chain of module updates(current module, parent module then few of our projects, that works with our static data)

Our first major part, related to this task is #294
Eugene also fixed our basic test

[2019-05-21 12:21] Pratikshagit commented on #158
Hi Arthur

This week and next week I am busy with some other stuff. I will let you
know when to assign a task to me.
Simultaneously I am getting familiar with Jest Testing.

Best
Pratiksha

On Tue, May 21, 2019 at 4:20 AM Arthur Tkachenko <notifications@github.com>
wrote:

[2019-05-21 18:01] atherdon commented on #267
https://hackernoon.com/how-to-easily-share-reusable-modules-in-node-js-at-scale-daaab9f0f41d

[2019-05-21 18:26] ijb87 commented on #158
@atherdon I've been busy lately actually, but I'll work on my task when I have the time

[2019-05-22 00:25] wahaj-47 commented on #158
@atherdon Woah, it’s a pretty big file. How about we use some sort of script to generate json from xlsx ?

[2019-05-22 06:31] atherdon commented on #158
yep - it looks like a good plan. i think what we should do:
1) export as csv.
2) try different npm modules that can help to parse csv file
https://www.npmjs.com/package/csv-parse
https://www.npmjs.com/package/csv-parser
https://stackoverflow.com/questions/23080413/library-recommendations-nodejs-reading-csv-file
https://stackabuse.com/reading-and-writing-csv-files-with-node-js/
https://csv.js.org/p

[2019-05-22 06:39] atherdon commented on #332
@wahaj-47 what is your take on it?

[2019-05-22 15:50] atherdon commented on #337
I really need to complete this

[2019-05-22 18:32] atherdon opened #362 "carefully move files from root into src"
**Is your feature request related to a problem? Please describe.**
Right now we have only 2 files, related to code at our root folder. i think it's time to move them out too. so at root we'll have only folders and configuration files.

**Describe the solution you'd like**
files, that we need to move:
- https://github.com/GroceriStar/sd/blob/master/files.js
- https://github.com/GroceriStar/sd/blob/

[2019-05-22 21:20] atherdon commented on #309
@Edebo you can grab this task

[2019-05-22 21:28] atherdon commented on #158
@EbrahimKreem how things going? Do you need a new task?

[2019-05-22 21:59] atherdon opened #364 "Update README.md"
**Is your feature request related to a problem? Please describe.**
 **src                     # Folder with static JSON files. WTF what is going on here**

**Describe the solution you'd like**
https://github.com/GroceriStar/sd/pull/363#issuecomment-494976899

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**A

[2019-05-22 22:28] #309 closed

[2019-05-22 22:29] atherdon commented on #327
@Edebo you can grab this task

[2019-05-22 23:06] Beni03 commented on #302
Looks like getUserGroceryKey() has been already moved. Did you ask me to work on task @294?

[2019-05-23 06:11] atherdon commented on #327
perfecto

[2019-05-23 06:11] #327 closed

[2019-05-23 06:12] atherdon commented on #302
oops, my bad. closing it then - thanks for letting me know

[2019-05-23 06:12] #302 closed

[2019-05-23 06:24] atherdon commented on #362
please grab this task, while team not finished with publish

[2019-05-23 07:02] Edebo commented on #327
next task pls

[2019-05-23 07:24] atherdon commented on #240
@Edebo grap this task, so we can complete #294 in short time

[2019-05-23 09:30] atherdon commented on #158
I assume today we'll finish our first part of this task: https://github.com/GroceriStar/sd/issues/158#issuecomment-494354446
then we'll publish it on npm, upgrade things at fetch, fake-api, graphql-server projects
@Edebo then will start https://github.com/GroceriStar/graphql-server/issues/145

and we here will work with Groceristar project part. Similar to tasks for Graphql - a lot of stuff was co

[2019-05-23 09:36] atherdon opened #367 "not complete test coverage"
**Describe the bug**
We need to add more tests, that will shield us from simple errors that we may have.
This task is just an example about how tests can protect us.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If appl

[2019-05-23 10:18] #240 closed

[2019-05-23 10:19] atherdon commented on #294
We finished moving our methods, but didn't test it yet.

[2019-05-23 10:27] Edebo commented on #294
what is it to be done.task?

[2019-05-23 10:29] atherdon commented on #294
@Edebo when i'll move our changes to npm you'll be able to jump into https://github.com/GroceriStar/graphql-server/issues/145 give me 10 minutes

[2019-05-23 10:52] atherdon commented on #22
1) we need to install that addon to jest
2) for each of files(let's start with first 5 only) we'll add check for object structure. https://www.npmjs.com/package/jest-json-schema#matchers-included

@elnur004 it can be also your task if you want

[2019-05-24 12:42] ronniebhatt commented on #95
Sir I won’t be able to continue my tasks

On Fri, 17 May 2019 at 6:42 AM, Arthur Tkachenko <notifications@github.com>
wrote:

[2019-05-24 13:17] atherdon commented on #95
@ronniebhatt not a problem I understand.
@Edebo i think we finish this task, am i right?

[2019-05-24 13:19] Edebo commented on #95
yes

[2019-05-24 13:54] atherdon commented on #95
awesome. closing it

[2019-05-24 13:54] #95 closed

[2019-05-24 22:12] Beni03 commented on #362
Already there is a file with a file name  "files.js" in src folder. Should I rename the file which I am going to move?

[2019-05-25 00:09] atherdon opened #369 "files.js and files.js confusion"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other c

[2019-05-25 00:10] atherdon commented on #362
awesome question - for now, please rename our current files to `filesES5`.
I created a bug report #369 that will help us to not forget about this problem.

[2019-05-25 00:39] atherdon commented on #294
@vadim9999 looks like our moved functions work surprisingly well. without any mistakes(strange ;))
I didn't run graphql queries, so will keep this task open

[2019-05-25 00:47] atherdon commented on #338
@Edebo did we finish it and i can close it as well?

[2019-05-25 00:50] atherdon commented on #243
@Edebo you can grab this task too

[2019-05-25 00:51] atherdon commented on #276
https://github.com/GroceriStar/sd/blob/master/src/data/jsonlint.config.js
@hirdbluebird looks like you update it a bit. is this task completed?

[2019-05-25 00:56] Edebo commented on #338
yes we finished it

[2019-05-25 00:59] atherdon opened #370 "usergrocery mistake"
**Describe the bug**
i'm confused again. what is the difference between
https://github.com/GroceriStar/sd/blob/master/src/data/UsersGrocery/usersGrocery.json
https://github.com/GroceriStar/sd/blob/master/src/data/UserGrocery/userGrocery.json
looks like something is definitely goes wrong

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4.

[2019-05-25 00:59] atherdon opened #371 "Moving functions from groceristar-fetch [Loopback]"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Is it was created as task at GitHub issues? Please provide an issue number or link**

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear a

[2019-05-25 01:01] atherdon opened #372 "index don't replaced inside"
**Describe the bug**
```Weekly menu #${index}``` at https://github.com/GroceriStar/sd/blob/master/output/generatedMenu.json

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://user-images.githubusercontent.co

[2019-05-25 01:01] atherdon commented on #372
@hirdbluebird is this your mistake or @vadim9999

[2019-05-25 01:09] Edebo commented on #243
generator folder only exist in Groceristar/sd

[2019-05-25 01:24] atherdon commented on #243
not sure how i need to react - can you elaborate?

[2019-05-25 01:26] #338 closed

[2019-05-25 01:31] Edebo commented on #243
am to copy getKeyArrayDepAndIng function from groceristar-fetch in src/projects/GroceriStar/groceristar.js
to a generator folder.but the where the generator folder is wasnt specify.the only place i found generator folder is in @groceristar/fetch.Morever the moved function is already in generator folder https://github.com/GroceriStar/sd/blob/master/generator/projects/GroceriStar/groceristar.js

[2019-05-25 01:34] atherdon commented on #364
for me is not clear how to run build from readme. i think this section should be more advanced: https://github.com/GroceriStar/sd#npm-commands

[2019-05-25 01:34] atherdon commented on #364
Readme -> explanation, related to module resolver + add alias, related to tests

[2019-05-25 01:36] atherdon commented on #243
ok, maybe we started to work on it. but this function is empty. i think we need to have a working method here - can you do it?

[2019-05-25 01:38] atherdon commented on #267
@hirdbluebird in order to try to kickass of that huge Maksim - maybe we should try quickly this server: https://github.com/GroceriStar/sd/issues/267#issue-440941335?

[2019-05-25 02:10] atherdon commented on #243
#374

[2019-05-25 02:16] atherdon opened #375 "simple tests to cextend our coverage"
**Is your feature request related to a problem? Please describe.**
Sd -> Elnur -> tests as similar function, that we have it at fetch. Just have a separated file for it for a first time. If it(when) it will work, let's back to discussion and maybe upgrade tests then(tests that we have).

Stage1: file that have "isset" test: with checking if it works well + info
Stage2: replace that function at our

[2019-05-25 03:27] atherdon opened #377 "[blocker] separate our grocery lists [duplicate of #424?]"
**Is your feature request related to a problem? Please describe.**
I don't want to do this, but it looks like a necessary evil. right now our structure is unmanageable.
So I think it's a good case for try our generator in action too

**Is it was created as task at GitHub issues? Please provide an issue number or link**

**Describe the solution you'd like**
A clear and concise description of what y

[2019-05-25 03:38] atherdon commented on #76
#377

[2019-05-25 08:06] wahaj-47 commented on #370
I’m confused as well.

[2019-05-25 12:50] atherdon commented on #370
just guessing, but looks like this is also part of this task: https://github.com/GroceriStar/sd/blob/master/output/usersGrocery.json

[2019-05-25 13:04] atherdon commented on #243
i think we need to do this and we can close this task:
**5. add explanation about this function**

at `docs` folder we have a second part of readme - please add there information about this method

[2019-05-26 05:48] atherdon commented on #243
Ok, it's done

[2019-05-26 05:48] #243 closed

[2019-05-26 05:50] atherdon commented on #22
as we have a lot of files, i think it's better to split up between a few developers.
@Edebo as Elnur starting with first 5 json schemas - please grab the last 5

[2019-05-26 06:18] Beni03 commented on #362
I could not create pull request for the file which I moved in to src folder.  Is it possible for you to see my changes which are just committed?

[2019-05-26 06:22] atherdon commented on #362
not sure if i understand you correctly. i think you open a pull request here: https://github.com/GroceriStar/sd/pull/381
if you will commit and push your changes to your forked repo - that changes will be added to this pull request

[2019-05-26 06:26] atherdon commented on #362
ok, i'm more confused :)
we have a #381 for renaming file and #382 for fixing an error?

[2019-05-26 06:34] atherdon commented on #362
i think i have an interesting idea.
tell me about what are you using as IDE?
my idea is to extend a bit your git skills.
so, in order to do this task, you'll need - checkout PR#381 and merge to it changes from PR#382 it maybe sound hard. but you'll like it in the end ;)
some details to read: https://stackoverflow.com/questions/14391421/merging-pull-requests-together

[2019-05-26 06:44] Beni03 commented on #362
I am using visual studio. Sure will look in to the link which you have
sent. sorry for the confusions :)

On Sat, May 25, 2019 at 11:34 PM Arthur Tkachenko <notifications@github.com>
wrote:

[2019-05-26 06:56] atherdon commented on #362
not a problem - it's just a cool exercise

[2019-05-26 07:12] atherdon commented on #362
i think VS have a terminal inside. but i'm not sure. it was about 5-7 years when i code at VS :) time flies

[2019-05-26 12:58] brunocordeiro180 commented on #158
Hi, my name is Bruno.
I'm from Brazil.
How can I help you guys?

[2019-05-26 13:07] atherdon opened #384 "Carefully move json files tests into root folder"
### Expected Behavior / Situation
Right now we have mess with our tests. this task will be a first part of our changes.
Current tests located here: ```https://github.com/GroceriStar/sd/tree/master/src/data/__tests__```
rename folder to `tests` and move this folder into the root of the repository

[2019-05-26 13:08] atherdon commented on #158
@brunocordeiro180 this is a task for you #384

[2019-05-26 13:09] atherdon commented on #384
major thing here is carefully. because all tasks inside have imports, and if you just move them to the outside - all tests will be broken. So be careful and avoid it, please

[2019-05-26 14:43] brunocordeiro180 commented on #384
Done

[2019-05-26 15:40] atherdon opened #387 "convert ingredients ML dump into json file"
**Is your feature request related to a problem? Please describe.**
This task is based on https://github.com/GroceriStar/sd/issues/158#issuecomment-494670684

File is here: https://github.com/GroceriStar/sd/issues/158#issuecomment-493649858

i'm not sure right now how to connect @EbrahimKreem and @wahaj-47 but i think we'll figure it out during the work on it.

**Describe the solution you'd like**

[2019-05-26 17:16] atherdon commented on #22
@Edebo you can start to work on this task

[2019-05-26 17:31] EbrahimKreem commented on #384
I apologize @brunocordeiro180 I didn't know you will make it :sweat_smile:

[2019-05-26 17:57] EbrahimKreem commented on #387
Hi @atherdon, As I understood from this task that we should parse JSON files inside CSV file

[2019-05-26 17:59] EbrahimKreem commented on #387
Am I correct or there is something missing

[2019-05-26 19:16] wahaj-47 commented on #387
Is it just me, that when I download this file it just hangs my computer ?

[2019-05-26 19:52] atherdon commented on #387
No, actually right now we moving data from CSV to JSON. Reason is - json format is widely used and it's much easy to import data to database. actually - as our database will increase it's complexity by itterations - we'll need to import data from time to time. so this is a good way to do it in a long distance.

I can download that file. But yeah, it's huge - it have a database that was scraped fro

[2019-05-26 20:07] atherdon commented on #384
let's go to another task(don't forget that you'll need to sync your fork) in order to get always a fresh version.
1) move JSONLint file and change path to it at package.json
2) Rename
 - Gallon1 to Gallon
- Pint1 to Pint
- Quart1 to Quart
- Tablespoon_1 to Tablespoon
- Teaspoon_1 to Teaspoon
- 1_2Cup to HalfCup
- 1_4Cup to QuaterCup
- Cooking_times to CookingTimes
you'll also need to update paths

[2019-05-26 20:11] atherdon commented on #384
@brunocordeiro180 tell me if something will not clear

[2019-05-26 20:18] EbrahimKreem commented on #387
ok, now what should I do?

[2019-05-26 20:22] atherdon commented on #387
First of all you need to define with Wahaj who will lead and how you'll separate work.
next task is to parse csv file. we can split it into few stages as well

[2019-05-26 20:28] atherdon commented on #387
for me this task is not only for making things done, but also about team building and having a discussion together.

[2019-05-26 23:22] wahaj-47 commented on #387
I suggested using a parser module. Let’s start with choosing the right one. https://github.com/GroceriStar/sd/issues/158#issuecomment-494670684

[2019-05-27 02:24] brunocordeiro180 commented on #384
Haha no problem @EbrahimKreem

[2019-05-27 02:45] brunocordeiro180 commented on #384
@atherdon It is not very clear to me exactly what file to move and where in "move JSONLint file and change path to it at package.json"

[2019-05-27 07:03] atherdon commented on #384
yeah - it was my intentions - i don't want to give you a path to that file so you can search it yourself and get more familiar with project structure ;)

[2019-05-27 07:04] atherdon commented on #384
@brunocordeiro180 at this explanation you have at least 2 different ways how to do it

[2019-05-27 07:05] atherdon commented on #387
Yes, lets grab a first one, install it to npm, create a separated file for working with it, import module, import file, write some code, add path to that script at pkg.json

[2019-05-27 11:45] EbrahimKreem commented on #387
I think that https://www.npmjs.com/package/csv-parser is easy to use and they have a lot of examples but the problem is I tried this module with our CSV file and it gave me empty values then when I tried it with another CSV file it works correctly

[2019-05-27 11:47] EbrahimKreem commented on #387
with our csv file
![Screenshot from 2019-05-27 14-46-30](https://user-images.githubusercontent.com/32773511/58417708-5ddd3400-808e-11e9-8d38-3f961bbbe3a7.png)

[2019-05-27 11:48] EbrahimKreem commented on #387
with another csv file

![Screenshot from 2019-05-27 14-47-06](https://user-images.githubusercontent.com/32773511/58417751-7cdbc600-808e-11e9-9758-ef2285a4eed6.png)

[2019-05-27 12:01] wahaj-47 commented on #387
I think that’s because our csv is laid out differently

[2019-05-27 13:35] EbrahimKreem commented on #387
I think that's because of the two lines in the beginning when I remove them I receive data
![Screenshot from 2019-05-27 16-34-52](https://user-images.githubusercontent.com/32773511/58423293-638e4600-809d-11e9-9f14-823a00d9d160.png)

[2019-05-27 13:44] atherdon commented on #387
we have that line because we convert from Excel to csv without removing a first line, aka title.
@wahaj-47 will you be able to download Excel file, remove first line and re-export csv file to this repo?

[2019-05-27 13:51] atherdon commented on #387
@EbrahimKreem can you also open PR with your current changes? it's hard for me without looking at code

[2019-05-27 14:00] EbrahimKreem commented on #387
ok

[2019-05-27 14:26] wahaj-47 commented on #387
On it

[2019-05-27 14:46] atherdon commented on #387
Ok, as I merge latest changes from Ebrahim I think he is leading and me with Wahaj will work on "cleaning up"

[2019-05-27 16:39] atherdon commented on #387
@wahaj-47 next step for you will be moving this script into generator folder, then we need to add tests for this file and script and i think we can start to code method that will adjust/save into json our data.
by adjust - let's have a simple example - add to each row an autogenerated id. because we always need ids

[2019-05-27 16:47] atherdon commented on #387
can someone tell me the list of fields that each row has?

[2019-05-27 16:51] EbrahimKreem commented on #387
do you mean the headers?

[2019-05-27 16:53] EbrahimKreem commented on #387
but when I look to the file it is not organized

[2019-05-27 16:54] atherdon commented on #387
yep, headers/columns.
i just want a quick/preliminary list - lazy to open it myself :)

[2019-05-27 16:57] EbrahimKreem commented on #387
Food class level | Metrics | Concentration levels | Country

[2019-05-27 17:01] atherdon commented on #387
emm, what about measurements? is it metrics?

[2019-05-27 19:36] wahaj-47 commented on #387
Aren't we supposed to be generating a JSON file ?

[2019-05-27 19:41] atherdon commented on #387
@wahaj-47 first of all - we need to complete this part: https://github.com/GroceriStar/sd/issues/387#issuecomment-496217769

[2019-05-27 19:43] wahaj-47 commented on #387
That's complete. I didn't do it but its already done. Thanks @EbrahimKreem

[2019-05-27 19:49] brunocordeiro180 commented on #384
Done. This time the pull request passed :)

[2019-05-27 19:53] atherdon commented on #384
yeah - it's awesome - no bugs then. merged

[2019-05-27 19:54] atherdon commented on #387
ohh, i just don't know about it. so the newest version is uploaded at this repo and parsing stuff works well, right?

[2019-05-27 19:55] atherdon commented on #387
Yes, we'll generate a json. but script, that Ebrahim wrote, located in `data` folder with is not ideal way for our structure

[2019-05-27 19:55] atherdon commented on #387
And then in generator create a method to adjust that JSON .

totally correct

[2019-05-27 19:56] atherdon commented on #384
You can go with next things

[2019-05-27 20:18] brunocordeiro180 commented on #384
Nice. I'm ready to another task

[2019-05-27 20:21] atherdon commented on #384
@brunocordeiro180 did you complete
- DietAndHealthLabels -> update/remove the first line, keep only json data.
- move tests, that we have at generator/projects/%projectName% to tests/projects/%projectName%

[2019-05-27 20:41] atherdon opened #395 "gen"
Config Generator -- why we comment a few things, methods?
if we don't need them. lets then add and comment more objects. and hide them for next times?

for generator -- we need to create folders for each generated file as well(compare with `src/data`).

### Expected Behavior / Situation

### Actual Behavior / Situation

### Modification Proposal

[2019-05-27 20:42] atherdon opened #396 "filesES5"
### Expected Behavior / Situation
filesES5 -- we have very long paths
we should make it less long. we can update to ```var { resolve } = require('path')``` and make files easy to read again.

### Actual Behavior / Situation

### Modification Proposal

[2019-05-27 22:32] brunocordeiro180 commented on #384
Yes

[2019-05-27 22:41] atherdon commented on #384
then we closing this task :)

[2019-05-27 22:41] atherdon commented on #396
@brunocordeiro180 you can grab this one

[2019-05-27 22:43] atherdon commented on #396
also file all places, where this thing can be applied, not only to `files.js`

[2019-05-27 22:45] atherdon commented on #384
I find out another task that is related to this one.
with your latest changes related to measurements parts name, we actually will broke out another module, that related to this module.
please explore this folder: https://github.com/GroceriStar/groceristar-fetch/tree/master/src/projects/UnitConvertion
and update things respectively

[2019-05-28 13:17] atherdon commented on #384
i find another part, related to this rename.
Check this folder and you'll find out what you need to do: https://github.com/GroceriStar/sd/tree/master/tests

[2019-05-28 13:18] atherdon commented on #384
@brunocordeiro180 I promise that next tasks will be more interesting to do :)

[2019-05-28 13:52] wahaj-47 commented on #387
I don't quite understand what is going on in the csv. As @EbrahimKreem  said, the file is not properly organized.

[2019-05-28 14:03] EbrahimKreem commented on #387
this file cannot be parsed

[2019-05-28 14:04] EbrahimKreem commented on #387
It has duplicate headers and it doesn't follow CSV file conventions

[2019-05-28 14:19] atherdon commented on #387
maybe it's a problem at parser module that we picked?
did you saw an Excel version of this file before?

[2019-05-28 14:51] EbrahimKreem commented on #387
:sweat_smile: I don't have Excel program on my computer because I'm running Ubuntu ... so do you think if we change the parser module we will solve the problem?

[2019-05-28 15:02] atherdon commented on #387
1. you can use libreoffice or upload Excel file into google docs(better and
easiest option)
2. i'm convinced that this file can be parced, we just need to find a way
how to do it. as you see at that comment - i proposed different parsers -
just in case if things will go wrong.

[2019-05-28 16:04] wahaj-47 commented on #387
Yes I’ve viewed the file on excel and yes it has duplicate headers and there are cells which are supposedly headers but are not.
Maybe we can skip a few lines and generate a JSON and then adjust it so as to match the csv.

[2019-05-28 16:08] atherdon commented on #387
can you show me what do you mean on screenshots?

[2019-05-28 18:53] atherdon commented on #387
while we thinking - let's move script into generator folder. and if someone has new code changes - open a pr with your changes please

[2019-05-28 18:55] siddharthp538 commented on #158
Hi. I'm Siddharth. I'm a new member of this team. Really looking forward to learn from all of you here. Thanks.

[2019-05-28 19:03] atherdon commented on #22
@siddharthp538 you can grab some files from here. in order to see what was done, check the latest merged pull requests

[2019-05-28 20:32] brunocordeiro180 commented on #384
@atherdon Thank you hauhauhau

[2019-05-28 21:16] atherdon commented on #384
all is done here

[2019-05-28 21:16] #384 closed

[2019-05-28 22:02] atherdon commented on #76
@brunomendescjr i'll create a more clear explanation tomorrow. you also should receive a notification from github - i add you to organization, but cannot assign a task to you.

so please check files from ```data/Grocery/example``` - our goal will be to generate these files using our generator methods. tell me your questions

[2019-05-29 01:13] brunocordeiro180 commented on #158
@atherdon Can you give me another task?

[2019-05-29 11:25] wahaj-47 commented on #387
#403
Alright, I have moved the script to generator/project/Foodcomposition directory and I have managed to generate a JSON but only for the country: Finland. I was thinking maybe we can generate multiple JSONs for each country and merge them together.
Right now the generated JSON has the following structure
{
    "Food class": "",
    "Food (FoodEx2 description)": "Fries (finger chips)",
    "Micr

[2019-05-29 12:39] atherdon commented on #158
@brunocordeiro180 take a look https://github.com/GroceriStar/sd/issues/76#issuecomment-496706753,

[2019-05-29 12:41] atherdon commented on #76
please go to this link - https://github.com/GroceriStar - because for some reasons your invitation to groceristar team not active

[2019-05-29 12:45] atherdon commented on #387
yes, let's try this way @EbrahimKreem what do you think?
Maybe we'll also find that country - that have a "bad" data

I remember how my team and I was importing 10-year-old/custom data into the new clean database - I was forced to sleep by 15 minutes, in order to upload a next chank that our server was able to digest

I have feeling that we have a more long number of element there. or I'm mistaken

[2019-05-29 13:40] atherdon commented on #22
@siddharthp538 tell me if you didn't receive this notification - it can be because you have github registered on another email address

[2019-05-29 13:48] siddharthp538 commented on #22
Oh I received them. Sorry for the confusion.

[2019-05-29 13:56] atherdon commented on #22
don't worry = in my first coding job i spend 1 day in order to understand where to put `console.log` ;)
My team lead was very upset with me - so don't worry - we have a very friendly team

[2019-05-29 13:57] EbrahimKreem commented on #387
yeah I agree with as I understand from the file we have a lot of headers
Food (FoodEx2 description) | Metrics | Concentration levels | Microgram/100 gram | Milligram/100 gram

[2019-05-29 13:58] siddharthp538 commented on #22
I cloned the entire repo and went through the files. I'm not quite understanding what my task is. Can you please elaborate a little?

[2019-05-29 14:00] EbrahimKreem commented on #387
Is there any tool to reorganize the CSV file?

[2019-05-29 14:01] atherdon commented on #387
it's like this structure, right?:
country
 -- food ingredient
 ---- Food (FoodEx2 description)
 ---- Metrics
 ---- Concentration levels
 ---- Microgram/100 gram
 ---- Milligram/100 gram

---

I think when it will be imported to json we'll also merge this data with measurements data tables, that was created by Wahaj previously, so clean/easy to understand code will help up to make it work and conne

[2019-05-29 14:03] Edebo commented on #22
Now you are now writing packages.really wonderful,i hope i get better,cos i really desire to

[2019-05-29 14:04] atherdon commented on #387
i don't think that any tool will actually really help us.
because data is custom, created/merged from 2 different sources of our
maching learning intern from France.
so i think we need to create that tool by our hands :)

actually - it's just a big array of arrays for me. so i think loops is
our best bet here.
Btw, maybe, just maybe - lodash as module that have wrappers around default
loops will h

[2019-05-29 14:05] atherdon commented on #22
@Edebo i think it's just matters of spending `ass hours` as much time you put on it right now - then more progress you'll get soon. i'm coding each day, reading about new coding tools each week - and this is how it works

[2019-05-29 14:07] brunocordeiro180 commented on #76
@atherdon ok I'll check the files. And I accepted the invitation.

[2019-05-29 14:08] atherdon commented on #22
@siddharthp538 lets this file will be your first assessment: https://github.com/GroceriStar/sd/blob/master/tests/dash.test.js
1) compare it with changes that were done at our other file: https://github.com/GroceriStar/sd/blob/master/tests/quaterCup.js
2) make changes accordingly

if you need more details - buzz @Edebo he actually working on the same task right now

[2019-05-29 14:09] atherdon commented on #76
ok, now i can assign tasks to you.
ask me questions - because task description was writen purely and you'll help me to update it

[2019-05-29 14:25] brunocordeiro180 commented on #76
The javascript files that we're going to generate isn't very clear yet. Can you give a more detailed explanation?

[2019-05-29 14:28] atherdon commented on #76
Can you put here file that you're talking about?

[2019-05-29 14:33] atherdon commented on #357
I think you'll like it

[2019-05-29 14:33] #337 closed

[2019-05-29 14:51] brunocordeiro180 commented on #76
The doubt it's more related with the direction that I need ti take to generate the files. The 'users-with-lists' for example. I don't know what direction to take to generate this file.

[2019-05-29 14:55] siddharthp538 commented on #22
@Edebo  how did your test your quarterCup.js file? Did you just use node executable?

[2019-05-29 14:56] atherdon commented on #76
hmm, users with lists actually empty. not sure why, but we can handle it later.
main goal of having users-with-lists file is easy - we have a set of grocery lists in our database and we need to have an object, that will give us not all of grocery lists, but only lists, that connected to some users.

Example: admin user as creator of all grocery lists - are an actuall owner of all of them
user A -

[2019-05-29 15:12] Edebo commented on #22
Jest package will do the testing, just adding the code jest will test, if
there are errors Travis Ci will detect tell u where to find the error
On Wednesday, May 29, 2019, Siddharth Pandey <notifications@github.com>
wrote:

[2019-05-29 15:53] atherdon commented on #22
@shubhamrajput do you mean how to run tests locally?

[2019-05-29 16:05] atherdon commented on #387
I think we also need to createa separated file aka foodcompositionFiles.js and be able to export all files from this module. it's not very important right now, but by doing this - we'll be able to connect that data with our servers and try to use them in short amount of time

[2019-05-29 16:07] atherdon opened #412 "add tests in order to clear issue - does all data from foodcomposition we're imported corerctly"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Is it was created as task at GitHub issues? Please provide an issue number or link**

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear a

[2019-05-29 16:15] atherdon commented on #412
#387

[2019-05-29 16:23] atherdon commented on #76
if you'll need help with exact generation process - buzz @wahaj-47 he was
one of the developers behind it

[2019-05-29 16:42] siddharthp538 commented on #22
@atherdon  have made a PR. Done with the testing of dash.test.js. Please have a look.

[2019-05-29 16:43] atherdon commented on #158
Thanks to everyone!
![image](https://user-images.githubusercontent.com/1469198/58575040-0683c300-824a-11e9-8e65-caeb875a76ed.png)

[2019-05-29 16:43] siddharthp538 commented on #22
@Edebo  thanks for your help

[2019-05-29 16:55] atherdon commented on #22
make small update at your PR and you can jump into next file

[2019-05-29 17:00] atherdon commented on #22
you can also make some small adjustments at files, that was done by @Edebo.
just in order to make our code simpler:
for your case
[code]
can be updated to
[code]

On Wed, May 29, 2019 at 7:55 PM Arthur Tkachenko <
arthur.tkachenko.netweight@gmail.com> wrote:

[2019-05-29 17:03] siddharthp538 commented on #22
okay. will do them.

[2019-05-29 21:16] brunocordeiro180 commented on #76
I'll send a email to him.

[2019-05-30 14:28] atherdon commented on #22
@siddharthp538 i find another small task for you - tell me when you'll need it

[2019-05-30 14:58] siddharthp538 commented on #22
@atherdon sure. I'm actually busy right now college stuff. I'll try completing the task ASAP. Please let me know.

[2019-05-30 15:02] atherdon commented on #22
don't worry and take your time @siddharthp538 - we don't have rush here. and your task right now was I assume: https://github.com/GroceriStar/sd/issues/22#issuecomment-497024161

[2019-05-30 15:46] atherdon commented on #76
you can just buzz him here - all of our communication is open and it's easy to track everything at one place.
again - if you have more questionsabout this task - raise them.
this is why this task is interesting :) it's not an easy thing to do - but very cool when we'll finish it

[2019-05-30 15:52] atherdon commented on #332
@EbrahimKreem @wahaj-47 it's not a pending task right now - but maybe we should start a conversation about it. tell me what your opinion/questions about it

[2019-05-30 16:04] atherdon commented on #387
please keep me posted what we're doing here - maybe i can help somehow

[2019-05-30 16:12] atherdon commented on #22
@Edebo do we have some files left, without your json-schema changes?

[2019-05-30 16:16] siddharthp538 commented on #22
@atherdon  i think i did those changes in my last PR. Can u have a look once?

[2019-05-30 16:18] atherdon commented on #22
I just don't remember :) if you think it's done - then i'm trusting you. will create a task for you right now -but again - no rush - take as much time you need and good luck with exams(I assume you have them)

[2019-05-30 16:19] siddharthp538 commented on #22
cool. i'll wait for it.

[2019-05-30 16:21] atherdon opened #423 "json-schema modification [addon]"
1) Move json schemes into the separated variable outside of `describe` block. it will make tests looks less complicated
2) move out example into the separated file, move out scheme into the separated file - maybe it should be one file with 2 exported variables...
3) configure rollup bundler, so with build -> we copy only json files from data folder at build, and skip tests/schemas/examples...
#22

[2019-05-30 16:23] atherdon commented on #423
@siddharthp538 you can grab it
tell me if you need more information

[2019-05-30 16:23] siddharthp538 commented on #423
cool. will do it

[2019-05-30 16:29] Edebo commented on #22
yes we do

[2019-05-30 16:39] etg624 commented on #158
Hi everyone! I'm excited to help out this project. @atherdon Can you please assign me a task?

[2019-05-30 16:39] atherdon commented on #22
ok, i think that you made good progress here and we should move you to some more complex task - what do you think @Edebo

[2019-05-30 16:40] uniyalprashant9 commented on #158
Hello Everyone.

[2019-05-30 16:50] atherdon commented on #158
@uniyalprashant9 ![xxx](https://media.giphy.com/media/3o85xv9doNoKndEr5K/giphy.gif)

[2019-05-30 17:04] siddharthp538 commented on #423
@atherdon  what exactly do u mean by the 3rd point?

[2019-05-30 17:15] atherdon commented on #158
@etg624 not sure why - but your comment gone :(

[2019-05-30 17:22] siddharthp538 commented on #423
i'm done with the first 2, i'm not understanding what exactly needs to be done for the 3rd one? @atherdon

[2019-05-30 19:02] atherdon commented on #423
can you open a pull request with that changes?

[2019-05-30 19:03] atherdon commented on #423
and i think you did it pretty quick - especially that we need those changes for each test file - that was updated...
And before going into point 2 i was hoping to see all files working after changes of point 1

[2019-05-30 19:07] atherdon opened #424 "We need to split our big object with grocery lists into separated files, each file = one grocery list object"
i keep it without good task explanation for a reason. want to provoke a discussion here.
Please ask your questions. @uniyalprashant9

[2019-05-30 19:11] atherdon commented on #377
#424

[2019-05-30 19:13] atherdon commented on #266
@etg624 I think this will be an interesting task for you. Some things were changed for the last month, but let's have a discussion here and figure out how to do it

[2019-05-30 19:26] siddharthp538 commented on #423
oh, i am sorry. I made a PR. Have a look. @atherdon

[2019-05-30 19:30] atherdon commented on #423
no problem - all is fine - this is why i'm assigning these tasks for you - so you can have more practice

[2019-05-30 19:44] atherdon opened #428 "pkg.json modification"
![image](https://user-images.githubusercontent.com/1469198/58659759-766a7a00-832c-11e9-9266-c4250e4f339a.png)

### Expected Behavior / Situation

### Actual Behavior / Situation

### Modification Proposal

[2019-05-30 19:51] AndrewSerra commented on #158
Hi everyone, I'm Andrew. I'm new on this team from Turkey, studying in the US. Looking forward to learning a lot.

[2019-05-30 19:52] atherdon commented on #294
closing it. if something will be broken - then re open it

[2019-05-30 19:52] #294 closed

[2019-05-30 20:06] #17 closed

[2019-05-30 20:20] atherdon commented on #423
@AndrewSerra this task touch a lot of files, so you can jump into it and help Siddharth

[2019-05-30 20:25] Edebo commented on #22
it will be nice.

[2019-05-30 20:33] atherdon commented on #158
Looks pretty, right?
![xxx](
![image](https://user-images.githubusercontent.com/1469198/58662616-525e6700-8333-11e9-8eae-841c5caa9d15.png)
)

[2019-05-30 20:37] atherdon commented on #76
Adebowale, you can help us with this task. it's a bit tricky, but it can help us to extend of functionality, that we pass into graphql server, and one of our new team members will work closely on graphql soon, so let's crack it!

[2019-05-30 21:13] brunocordeiro180 commented on #76
So I was talking with @wahaj-47 and he said that the goal is to build a method do get the json files in 'example' folder and structure them. Now it's more clear to me :)

[2019-05-30 21:47] #286 closed

[2019-05-30 22:11] vadim9999 commented on #372
I have called function getMenuGenerator(1) it's return good
[code]
Maybe should regenerate this file or probleble in something else

[2019-05-31 08:59] atherdon commented on #423
can you open a pull request with that changes?

[2019-05-31 09:01] siddharthp538 commented on #423
@atherdon a little busy right now. Will do it once I'm free. Sorry for the delay

[2019-05-31 09:17] atherdon commented on #423
let's start with first one and i'll elaborate lately the last one

[2019-05-31 09:20] siddharthp538 commented on #423
just explain what needs to be done. I'll try to do it ASAP

[2019-05-31 09:25] siddharthp538 commented on #423
Can you tell me what was wrong with my last PR? Didn't they solve the first two points?

[2019-05-31 09:54] AndrewSerra commented on #423
So is there only the third step left?

[2019-05-31 11:37] atherdon commented on #423
@AndrewSerra nope. please start with step one only and apply it for a few test files

[2019-05-31 11:41] atherdon commented on #423
@siddharthp538 problem with your latest PR is simple - few days ago, when you fork our repo you apply some changes. Then Adebowale update one file that I merged to master. you change the same file with Adebowale, but you didn't sync your fork with his changes. it creating merge conflict. and i asked you to rebase your pull request(branch) in order to get changes from Adebowale and I was able to ap

[2019-05-31 11:43] atherdon commented on #423
@siddharthp538 it maybe solves the first two points - but it was done for one test file(and we have a lot of files and each one require these changes) and it creates `merge conflict`,

[2019-05-31 12:21] amogh-jrules commented on #158
Hello I'm Amogh. I have just joined this team. I am from Oman and studying in India. I have developing software for the last 4 years, but only now have started working with JavaScript. Hoping to learn a lot from you guys and hope I can be of value to this project! :)

[2019-05-31 12:30] Edebo commented on #76
@atherdon i think have the code to generate https://github.com/GroceriStar/sd/blob/master/src/data/Grocery/example/ultimate-gl-from-loopback-server-example.json
should i pull a request on https://github.com/GroceriStar/sd/blob/master/generator/projects/GroceriStar/groceristar.js to see.though code not yet test

[2019-05-31 12:37] siddharthp538 commented on #423
Okay. Noted

[2019-05-31 13:08] atherdon commented on #76
Ok, let's do this, but i'm not 100% sure what do you mean - show me at PR and i'll take a look

[2019-05-31 13:23] atherdon commented on #424
@amogh-jrules as it's a big task - let's go from it. but it pretty simple

[2019-05-31 13:38] amogh-jrules commented on #424
@atherdon Do we have to write scripts which take in a large object and break it down and generate smaller files?

[2019-05-31 13:41] atherdon commented on #424
if you want - yes. we actually have our generator script - that you can use for this kind of task.
my goal here - to split our old version of file/database into small files in order to easily manipulate them
and by working on this task, same to @uniyalprashant9 - you'll learn about the current structure of grocery lists(which maybe soon will be changed)

[2019-05-31 13:42] atherdon commented on #424
for generator explanation - check Readme file

[2019-05-31 14:56] atherdon commented on #424
@amogh-jrules @uniyalprashant9 please connect together in order to deal with this task. because we need to solve it together - not twice, so it's about collaboration task, not about competition

[2019-05-31 14:57] amogh-jrules commented on #424
Will do

On Fri 31 May, 2019, 8:26 PM Arthur Tkachenko, <notifications@github.com>
wrote:

[2019-05-31 15:11] uniyalprashant9 commented on #424
We have to write a script for splitting these files `https://github.com/GroceriStar/sd/tree/master/src/data/Grocery`  ( grocery.json and grocery0.json ) into multiple JSON files each with one element ??

[2019-05-31 15:13] amogh-jrules commented on #424
Yes that's the goal I guess

On Fri 31 May, 2019, 8:41 PM Prashant Uniyal, <notifications@github.com>
wrote:

[2019-05-31 15:56] atherdon commented on #424
what is the difference between `grocery.json` and `grocery0`? just don't remember

[2019-05-31 16:06] amogh-jrules commented on #424
I ran it through https://www.diffchecker.com, only one line is different rest all is the same

[2019-05-31 16:13] atherdon commented on #424
got it

[2019-05-31 16:15] siddharthp538 commented on #423
@atherdon  for the shema of the first file, allergy.test.js
"Seafood-Free",
"Gluten-Free"
all these should have value of 1 or 0 right?

[2019-05-31 17:08] uniyalprashant9 commented on #424
This should be the desired output or need some changes??
Each file has one element from grocery.JSON and the file name is the same as the name attribute of each element.
![Screenshot from 2019-05-31 22-34-31](https://user-images.githubusercontent.com/36094606/58722164-5d2d0080-83f4-11e9-9cbd-c9e52bc2a405.png)

[2019-05-31 17:30] atherdon commented on #424
1) can you replace JSON with json
2) did you made it inside of our module?
3) can you open a pull request and so I can publish it on our repository?

[2019-05-31 17:31] atherdon commented on #424
other thing looks well(but we'll need to check it with our tests and
JSONLint script)

[2019-05-31 17:32] atherdon commented on #423
@siddharthp538 for some reasons your message didn't appears here.
I'll put it here

"Seafood-Free",
"Gluten-Free"
all these should have value of 1 or 0 right?

@Edebo can you advise, because i'm not quite sure

[2019-05-31 17:33] uniyalprashant9 commented on #424
Ok, I will change JSON to json .
I made that separately to test if it works or not, I will put in our module and open a pull request.

[2019-05-31 17:34] atherdon commented on #424
cool main reason - we need it to work as part of our module, because later
we'll be able to change the structure of our data and import it into
databases with different structure

[2019-05-31 18:09] atherdon commented on #273
i think this part was done

[2019-05-31 18:09] #273 closed

[2019-05-31 18:30] uniyalprashant9 commented on #424
@atherdon I made few changes in the script, now it creates a seperate directory for each object of the same name and put respective elements inside the directory.

If you need all the elements in one folder I will change it again.

I opened a pull request for the same.

[2019-05-31 18:40] vadim9999 commented on #294
ok

[2019-05-31 18:48] atherdon commented on #424
1) We need to create an `index.js` file and import all of created json files there.
you can see as example `src/files.js` so our files will be accessible from the outside
2) we should write tests for all files(connecting them to tests from `index.js` that we will create)
3) we should add information to our readme - so other team members will know about our changes.
4) how do we can call this scrip

[2019-05-31 18:54] siddharthp538 commented on #423
@atherdon I'm done with the option 1, but only with those files who were already tested. Should I make a PR? or You'll review it tomorrow directly after i'm done for all files?

[2019-05-31 19:04] vadim9999 commented on #371
@atherdon why in fetch in loopback.js some method are commented? and one function we can move here

[2019-05-31 19:16] atherdon commented on #158
Today our work is featured at Hackernoon newsletter
![image](https://user-images.githubusercontent.com/1469198/58729299-bba4af80-83f1-11e9-97e4-bbb32b648f37.png)

[2019-05-31 19:23] atherdon commented on #423
yes, please open a PR so I can take a look

[2019-05-31 19:23] atherdon commented on #371
it's @hirdbluebird did it

[2019-05-31 22:17] atherdon commented on #22
@elnur004 while we waiting for @vadim reply - you can continue at this task - i think part of work was done - we just need to finish it

[2019-05-31 22:28] atherdon commented on #22
actually, we have new data from #387 and we don't have tests for that files at this moment. data is here: https://github.com/GroceriStar/sd/tree/master/generator/projects/FoodComposition
It's not finished and not connected to our `files.js` but can be done quickly i think

[2019-06-01 00:26] atherdon opened #437 "Test ticket from Code Climate"

[2019-06-01 00:29] #437 closed

[2019-06-01 00:29] atherdon opened #438 "Fix "similar-code" issue in generator/generateArray.js"
Similar blocks of code found in 2 locations. Consider refactoring.

https://codeclimate.com/github/GroceriStar/sd/generator/generateArray.js#issue_5cf1c1900a7b0f00010000bd

[2019-06-01 00:29] atherdon opened #439 "Fix "similar-code" issue in generator/generateArray.js"
Similar blocks of code found in 2 locations. Consider refactoring.

https://codeclimate.com/github/GroceriStar/sd/generator/generateArray.js#issue_5cf1c1900a7b0f00010000be

[2019-06-01 00:30] atherdon opened #440 "Fix "method_complexity" issue in generator/writeFile.js"
Function `writeFile` has a Cognitive Complexity of 8 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/GroceriStar/sd/generator/writeFile.js#issue_5cf1c18c0a7b0f00010000b8

[2019-06-01 00:30] atherdon opened #441 "Fix "identical-code" issue in generator/generateArray.js"
Identical blocks of code found in 2 locations. Consider refactoring.

https://codeclimate.com/github/GroceriStar/sd/generator/generateArray.js#issue_5cf1c1900a7b0f00010000bb

[2019-06-01 00:30] atherdon opened #442 "Fix "identical-code" issue in generator/generateArray.js"
Identical blocks of code found in 2 locations. Consider refactoring.

https://codeclimate.com/github/GroceriStar/sd/generator/generateArray.js#issue_5cf1c1900a7b0f00010000bc

[2019-06-01 00:30] atherdon opened #443 "Fix "similar-code" issue in generator/projects/GraphQL/graphQL.js"
Similar blocks of code found in 2 locations. Consider refactoring.

https://codeclimate.com/github/GroceriStar/sd/generator/projects/GraphQL/graphQL.js#issue_5cf1c1900a7b0f00010000c0

[2019-06-01 00:30] atherdon opened #444 "Fix "similar-code" issue in generator/projects/GraphQL/graphQL.js"
Similar blocks of code found in 2 locations. Consider refactoring.

https://codeclimate.com/github/GroceriStar/sd/generator/projects/GraphQL/graphQL.js#issue_5cf1c1900a7b0f00010000bf

[2019-06-01 01:47] #4 closed

[2019-06-01 03:12] siddharthp538 commented on #423
@atherdon  i'm not able to make a PR. "Create Pull Request" button is disabled. Any help?

[2019-06-01 03:38] atherdon commented on #423
Hmm, maybe you didn't commit/push your changes to your fork?

[2019-06-01 03:39] siddharthp538 commented on #423
I did

On Sat, Jun 1, 2019, 9:08 AM Arthur Tkachenko <notifications@github.com>
wrote:

[2019-06-01 03:45] siddharthp538 commented on #423
@atherdon i made a PR. Have a look

[2019-06-01 03:50] atherdon commented on #423
jump into next thing while i'm figure out what is going on :)
falling asleep

[2019-06-01 04:17] atherdon opened #446 "Fix "similar-code" issue in generator/projects/GraphQL/graphQL.js"
Similar blocks of code found in 2 locations. Consider refactoring.

https://codeclimate.com/github/GroceriStar/sd/generator/projects/GraphQL/graphQL.js#issue_5cf1c9347e51d80001000127

[2019-06-01 04:19] atherdon commented on #446
I think it can be done by simple function, that stored at utils.js and wrap element inside the loop into object(as we doing, but without copy-paste duplications)

[2019-06-01 13:46] uniyalprashant9 commented on #424
@atherdon I didn't understand what is to be done in point 1.

I have to make `index.js ` file which will import all the json files that were splitted from the large object file grocery.json and it will return a list of all the elements??

[2019-06-01 13:52] EbrahimKreem commented on #387
Now the eight generated JSON files have the same output except the country field so if I generate one file and randomly generate the country field would it be good or just keep it as it is

[2019-06-01 13:53] atherdon commented on #424
i think yes, something similar to https://github.com/GroceriStar/sd/blob/master/src/index.js

[2019-06-01 13:55] atherdon commented on #387
show me a screenshot, having very lazy brain today.
more details please. or show code at PR...

[2019-06-01 14:03] EbrahimKreem commented on #387
ok, now there are eight JSON files that @wahaj-47 generated from Food_Composition there are identical except the country field

![Screenshot from 2019-06-01 16-59-44](https://user-images.githubusercontent.com/32773511/58749433-be091700-848e-11e9-8f3c-27f3f9888d58.png)

![Screenshot from 2019-06-01 16-59-59](https://user-images.githubusercontent.com/32773511/58749449-0e807480-848f-11e9-8631-521ba84

[2019-06-01 14:03] EbrahimKreem commented on #387
so I think it is useful to have one file and generate the country field randomly

[2019-06-01 14:05] atherdon commented on #387
now i got it. i like this plan. it will reduce duplicates. you'll adjust Wahaj code for it, right? i mean there no needs to recreate it from scratch

[2019-06-01 14:06] EbrahimKreem commented on #387
yes

[2019-06-01 14:06] atherdon commented on #387
good. do it. and promise you'll be surprised soon :)

[2019-06-01 15:08] EbrahimKreem commented on #412
I have a small question does the ` Food (FoodEx2 description)` field expected to be numbers or characters?

[2019-06-01 15:19] EbrahimKreem commented on #387
what is codeclimte?

[2019-06-01 15:22] atherdon commented on #412
show me examples that pump this question at your head. by name i think it should be string - because this is why description it needs

[2019-06-01 15:23] atherdon commented on #387
it's a cool too that will maybe make our life harder - but code will be better :)

[2019-06-01 16:42] uniyalprashant9 commented on #424
Which ourput is required for 1

A)list of files
or
B)an object that has all the content of the splitted files.
A=>
![Screenshot from 2019-06-01 22-04-33](https://user-images.githubusercontent.com/36094606/58751261-130e5280-84ba-11e9-833a-933c2924f6a8.png)

B=>
![Screenshot from 2019-06-01 22-04-59](https://user-images.githubusercontent.com/36094606/58751266-1acdf700-84ba-11e9-9eff-7bc46880b977.png

[2019-06-01 16:45] atherdon commented on #424
actutally both will be useful :)
Make 2 methods but for now we'll use the first one

[2019-06-01 16:48] uniyalprashant9 commented on #424
OK i will make the first one as `index.js` and the second one as `indexContent.js`

[2019-06-01 17:23] #438 closed

[2019-06-01 17:23] #439 closed

[2019-06-01 17:23] #441 closed

[2019-06-01 17:23] #442 closed

[2019-06-01 17:23] #443 closed

[2019-06-01 17:23] #444 closed

[2019-06-01 17:23] #446 closed

[2019-06-01 20:36] wahaj-47 commented on #387
They’re are not identical.
The keys are identical but their values are what’s in the spreadsheet. The values are specific to each country. Each file has data specific to that country.

[2019-06-01 20:38] wahaj-47 commented on #332
Are we moving the generator to a separate repo ?

[2019-06-02 07:03] uniyalprashant9 commented on #424
For 2, I have made a test.
Please check is it ok, then I will open a new pull request.
Writing test is new for me so it took time. 😅

That error in the screenshot was made intentionally to check if it is working or not. Then I reverted it back and made a final one.

![Screenshot from 2019-06-02 12-26-33](https://user-images.githubusercontent.com/36094606/58757921-03325500-8532-11e9-81ee-7c605b6f38

[2019-06-02 07:35] uniyalprashant9 commented on #424
@atherdon I have one doubt, I have used mocha for the test , will it get errors when running it in Travis CI?

[2019-06-02 12:29] AndrewSerra commented on #423
I've worked on eleven files on the version I have forked.  Should I continue with all of them or should go to the second step? because I'm not sure which ones @siddharthp538 has completed.

[2019-06-02 12:31] AndrewSerra commented on #423
@atherdon also sorry I was a bit slow, I was going through the airbnb style guide

[2019-06-02 14:30] uniyalprashant9 commented on #424
@atherdon  Please check my pull request, I have one more test module to upload. 😅

[2019-06-02 14:32] uniyalprashant9 commented on #424
I am currently working on readme file.

[2019-06-02 15:54] uniyalprashant9 commented on #424
@atherdon  I need some help for making tests.
tests are working in my laptop but not working when I opened a pull request so I canceled that pull request. 😅

[2019-06-02 17:30] atherdon commented on #387
@EbrahimKreem as values are not identical - then we cannot do what you proposed. What will be our next step @wahaj-47 do we need to roll back some changes or adjust the latest changes that were made there?

[2019-06-02 17:33] atherdon commented on #332
@wahaj-47 not right now. But I'm thinking about it.
My main worries - generator is making this module abit complicated/
What i want to do^
- move to a separated module and publish at npm
- connect it here and 1) call generator from package.json or 2) have one file/script that will be called before build and will regenerate all files as we need them

tell me your questions!

it will also help us to

[2019-06-02 17:57] atherdon commented on #423
@AndrewSerra  no problem - it's not an issue, because it's hard to jump into new project, with changes that we made also quickly. you'll get that pace - just will take some time

[2019-06-02 18:29] atherdon commented on #424
let's do this way - show me that changes by opening a pull request. because it hard to discuss them while i don't see code. and there, at pull request comments please explain in details what exact help you need - and i'll help you

[2019-06-02 19:42] atherdon opened #461 "src/index.js require a test coverage"
**Describe the bug**
I mention a similar problem before. we don't have a lot of tests, related to index.js
This is cause a problem - when someone make some changes - we don't have tests, that will prevent errors, related to export of json files.

as example of things that should be covered at this PR: #460

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scro

[2019-06-02 19:43] atherdon opened #462 "Fix "file_lines" issue in tests/cookingTimes.test.js"
File `cookingTimes.test.js` has 297 lines of code (exceeds 250 allowed). Consider refactoring.

https://codeclimate.com/github/GroceriStar/sd/tests/cookingTimes.test.js#issue_5cf40a3b9c12f700010000eb

[2019-06-02 19:44] atherdon opened #463 "Fix "method_complexity" issue in generator/writeFile.js"
Function `writeFile` has a Cognitive Complexity of 8 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/GroceriStar/sd/generator/writeFile.js#issue_5cf40a3b9c12f700010000ea

[2019-06-02 19:45] atherdon opened #464 "Fix "similar-code" issue in generator/projects/GraphQL/graphQL.js"
Similar blocks of code found in 3 locations. Consider refactoring.

https://codeclimate.com/github/GroceriStar/sd/generator/projects/GraphQL/graphQL.js#issue_5cf40a3f9c12f70001000138

[2019-06-02 20:38] wahaj-47 commented on #387
Right now, I think we just need to loop over these arrays in JSONs and add the required keys, so that the JSONs match the csv completely.

[2019-06-02 21:00] atherdon commented on #462
done

[2019-06-02 21:00] #462 closed

[2019-06-02 21:16] atherdon commented on #387
ok, do it - but @EbrahimKreem deleted files that were created before

[2019-06-02 21:27] #464 closed

[2019-06-02 21:33] atherdon commented on #158
I add a tool that will help to check our code quality each time someone making a pull request and Adebowale make a good work by fixing issues that our code has. Big thanks!

[2019-06-02 22:59] wahaj-47 commented on #387
No problem, I think it’ll be better to add the looping logic to the current script (hope that’s still intact)

[2019-06-02 23:07] #463 closed

[2019-06-02 23:08] atherdon commented on #332
@Edebo @vadim9999 what is your take on it?

[2019-06-02 23:18] #440 closed

[2019-06-02 23:21] atherdon commented on #387
i'm not sure - please check the latest changes that were made

[2019-06-03 00:00] ijb87 commented on #158
@atherdon I would like a task please

[2019-06-03 00:03] atherdon commented on #423
@ijb87 you can join this task as well

[2019-06-03 00:30] Edebo commented on #332
if generator can stand alone,i think we should go ahead.considering the listed advantages.i just hope there wont be side effects.would love to hear @vadim9999 take

[2019-06-03 10:01] AndrewSerra commented on #423
Should I continue with all the files or would you like to have a look at the ones I have done?

[2019-06-03 11:53] atherdon commented on #332
i think that main advantage will be less complicated code and whole functionality. When I decided to split fetch into 2 modules - i didn't plan to add here our team members  - this is why repository name is so stupid. But with our current progress - i definately want to do it.
For sure, it will require some additional work, but as our functionality working - i don't see any big issues. it can be d

[2019-06-03 11:56] atherdon commented on #423
show me what you done. i like small steps approach, especially when we have a lot of people, working on this particular task @AndrewSerra

[2019-06-03 11:58] atherdon commented on #387
@wahaj-47 what will be our next steps here?

[2019-06-03 12:01] wahaj-47 commented on #387
I’ve parsed the csv into a single JSON. I think all we need to do is to verify that all the fields from the csv have been moved to JSON.

[2019-06-03 12:02] atherdon commented on #387
Can you also check #450 PR becausei don;t want to lose work that @EbrahimKreem did few days ago

[2019-06-03 12:12] wahaj-47 commented on #387
There wasn’t really a way to parse our csv as a whole, so what I did was create separate csv for each country containing data specific to that country. Then parse each csv separately and merge the returned JSONs into one. What @EbraheemKreem is trying to do is to parse the csv as a whole. I think it’ll be better to wait for his thoughts on this.

[2019-06-03 12:19] atherdon commented on #387
Ok, will wait for him. maybe you can go through his commits and see what can be useful for us in next stages?

[2019-06-03 12:22] hirdbluebird opened #470 ".vscode folder in root repo folder"
**Describe the bug**
Wrong PR request merge

**To Reproduce**
Go to repo

**Expected behavior**
No folder of visual studio code

**Additional context**
Check carefully PR's

[2019-06-03 12:27] wahaj-47 commented on #387
Already did. I think we both have done pretty much the same stuff except he’s assigning random country to each object.

[2019-06-03 12:30] atherdon commented on #387
let's think about this:
one of our associates grab the latest database - csv format from US Food database. can code from that PR will be used for that case as well?

[2019-06-03 12:36] wahaj-47 commented on #387
Yes and no
The looping logic is sloppy.
If that can be improved then yes.

[2019-06-03 12:39] atherdon commented on #387
ok, then let's do some small work that necessary.
Can you connect our json generated files at index.js file, so we can use that files outside of out module?

[2019-06-03 12:43] atherdon commented on #387
can you also point me to the json files that we generated. because right now it's a bit confusing.
at src/data we have csv files. at output folder we don't have files and ... not very clear right now

[2019-06-03 12:44] atherdon commented on #470
add it to .gitignore

[2019-06-03 12:55] atherdon commented on #470
can you add it to gitignore i dont want to do it

[2019-06-03 13:28] EbrahimKreem commented on #387
did you make a PR for your latest changes @wahaj-47?

[2019-06-03 13:30] atherdon commented on #387
@EbrahimKreem check #469

[2019-06-03 13:34] wahaj-47 commented on #387
@EbrahimKreem my changes have been merged.
@atherdon because the generated file is at https://github.com/wahaj-47/sd/blob/master/generator/projects/FoodComposition/FoodComposition.json

[2019-06-03 13:59] EbrahimKreem commented on #387
#450

[2019-06-03 14:00] EbrahimKreem commented on #387
#450

[2019-06-03 14:16] atherdon opened #471 "USDA database csv import [not finished]"
**Is your feature request related to a problem? Please describe.**
#387

**Is it was created as task at GitHub issues? Please provide an issue number or link**

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-06-03 14:23] Edebo commented on #332
only have a rough idea of microservices. am interested in the elaborate part.then we should separate generator then if we are going for this approach

[2019-06-03 14:35] atherdon commented on #332
microservices is just one of the patterns. main idea is - separate functionality as much as possible.
similar to our modules approach. Example: one service will generate data(i.e. receive command with arguments, call our generator module, return result), another service will update/prepare that data as user wants.

another simple example:
1) service for any website that gave you data, connected to

[2019-06-03 14:39] Edebo commented on #332
get it.

[2019-06-03 14:54] atherdon commented on #387
@EbrahimKreem

i think this was not done yet
And #412

[2019-06-03 14:58] wahaj-47 commented on #387
I think we need to improve the script if we want to use it off the shelf for other csv.
https://github.com/GroceriStar/sd/issues/387#issuecomment-498238340

[2019-06-03 15:04] atherdon commented on #387
Ok, just decide together what both of you will do in order to don't have a lot of intersections

[2019-06-03 15:07] wahaj-47 commented on #387
Can we presume that every time a new csv filed comes through the formatting of the csv will be the same ?

[2019-06-03 17:19] uniyalprashant9 commented on #424
I am merging splitObject.js in the existing generateArray.js file in generators and then will do a readme.MD update.

[2019-06-03 18:39] atherdon commented on #471
@ashleycribb  will be observing this task and then we'll create a plan of what changes should be made

[2019-06-03 18:43] atherdon commented on #471
2 files are huge, so we'll need tosplit them into chunks in order to be able to upload them at github

[2019-06-03 22:08] ijb87 commented on #423
@AndrewSerra @siddharthp538 do any of you guys have a discord or something we can communicate through in order to make sure we're on the same page?

[2019-06-03 23:47] atherdon commented on #423
it's better to use GitHub for communication. because only here all team is
connected. please use these comments for it.

[2019-06-03 23:50] atherdon commented on #423
one of the easiest ways is to look at the last changes, that were made. check pull requests - that I merge and mentioned at this thread, then you'll be able to see what was done. then compare file that was updated with another file and you'll find out are the same(i.e both completed) or not. just made some groundwork and research code more and everything will be clear

[2019-06-04 00:00] atherdon commented on #396
looks like Adebowale grabbed this task

[2019-06-04 00:02] #396 closed

[2019-06-04 00:20] atherdon commented on #424
Ok, but please be careful with changes. Or create tests or ask for advice about tests as well.

[2019-06-04 00:21] atherdon commented on #424
Btw, it's still not clear for me - are we merge your changes or not? @uniyalprashant9 - you made some moves and my head is going around

[2019-06-04 00:28] atherdon commented on #470
as you don't know how to use gmail during development process

[2019-06-04 00:28] #470 closed

[2019-06-04 01:57] atherdon commented on #471
@Edebo let's try to think about this task and maybe also discuss details about moving generator out

[2019-06-04 02:07] atherdon commented on #332
@Edebo please ask me questions in order to provoke me to update task description

[2019-06-04 02:13] atherdon opened #481 "Tasks list for Adebowale"
Just want to have a separate place in order to improve our process
- [ ] #471
- [x] #332

[2019-06-04 03:23] atherdon commented on #471
@ashleycribb I cannot split 2 excel files. my google docs are crashing when I open them.
can you split Products, Nutrient2 into a set of files each less than 20mb and upload them here: https://github.com/ChickenKyiv/awesome-food-db-strucutures/tree/master/USDA-01-06-2019

[2019-06-04 03:41] atherdon commented on #332
this will be a repository for our generator. i'll clean it up later, but right now that setup is similar to sd repository. So our code will be validated and published to npm without any issues(at least with less of them :)

[2019-06-04 04:06] atherdon commented on #481
another idea was to try our sd at our fake-api project. it should work without any troubles, but we don't know it yet. and we can start to preparing our fake-api to be able to handle our React Showcase project

[2019-06-04 07:06] Edebo commented on #481
#332 seen the repository created and i agree with you.

[2019-06-04 07:09] Edebo commented on #481
i think we should do this,to be first sure our sd is working perfectly without any trouble.

[2019-06-04 07:23] Edebo commented on #481
#471 awesome-food-db-strucutures/USDA-01-06-2019/Serving_Size.xlsx has over 237910 objects when converted to json .what is the maximum number of objects that  will be appropriate in each file when the main one is split

[2019-06-04 08:30] atherdon commented on #481
i dont' know but for now, i think for us it will be enough to have just some(100 or 1000) entities. because having a lot of data is cool, but not necessary in our current stage

[2019-06-04 08:35] atherdon commented on #481
https://github.com/GroceriStar/fake-api/issues/130

[2019-06-04 08:55] AndrewSerra commented on #423
@atherdon to show you what I have completed should I create a pull request? Currently, I forked the repository and made changes there. How do we do the checking?

[2019-06-04 08:57] atherdon commented on #423
watch this
https://github.com/ChickenKyiv/awesome-git-article#forking-pull-requests

[2019-06-04 09:07] AndrewSerra commented on #423
Thanks. I'm working on it now, there are some conflicts that I have to resolve

[2019-06-04 09:08] atherdon commented on #332
@Edebo imagine that tomorrow I'll assign you a task about moving out the generator - tell me your 5-10 questions that will help you do it quickly/without errors

[2019-06-04 09:16] atherdon commented on #423
you will need to sync your fork

[2019-06-04 09:57] AndrewSerra commented on #423
Once I did the sync I most of the files are done in a different way already or the files were deleted but I have gone through all the files and realized that not all of them have the same style, should I change them so they are consistent in style?

[2019-06-04 09:58] AndrewSerra commented on #423
I now have the repository properly set up so I hopefully won't have the same problem again my bad.

[2019-06-04 10:09] atherdon commented on #423
i don't usually understand when i don't see code.
if you think there should be some update in "style" - do it and open a pull
request. then i'll see it and tell if it ok or not

and i think good lesson here - don't wait a lot and submit changes quickly

[2019-06-04 11:09] AndrewSerra commented on #423
Okay since my files were done I'll so some small quick changes so all files match and open a pull request

[2019-06-04 11:30] atherdon commented on #423
@AndrewSerra your files not gone. this is why git and github is a good thing. you can see your history of commits or roll soeme changes back - i don't want to lose your previous work. let's think how we can bring it back - if it's not duplicate of someone e;se work

[2019-06-04 12:39] ashleycribb commented on #471
Sure I will take a certain amont of rows and then split them up.

From: Arthur Tkachenko <notifications@github.com>
Sent: Monday, June 03, 2019 11:24 PM
To: GroceriStar/sd <sd@noreply.github.com>
Cc: Cribb, Ashley <cribba@uncw.edu>; Mention <mention@noreply.github.com>
Subject: Re: [GroceriStar/sd] USDA database csv import [not finished][Main task] (#471)

@ashleycribb<https://nam05.safelinks.prot

[2019-06-04 12:40] ashleycribb commented on #471
I have split the two files up ... just need priviilages so that I can upload them.

[2019-06-04 12:50] atherdon commented on #471
https://github.com/ChickenKyiv/awesome-food-db-strucutures/issues/4

in order to apply changes to repository you need to fork it, upload files
and then create a pull request to the main repository and i'll accept them

[2019-06-04 12:52] AndrewSerra commented on #423
@atherdon It is very similar that's why I did not mind. Right now the schemes and examples change for the same variable name. I had all examples and schemes as their own constant since the second step of the issue says the can be exported from different files. Maybe I misunderstood task two.

[2019-06-04 13:16] ashleycribb commented on #471
Done.

From: Arthur Tkachenko <notifications@github.com>
Sent: Tuesday, June 04, 2019 8:51 AM
To: GroceriStar/sd <sd@noreply.github.com>
Cc: Cribb, Ashley <cribba@uncw.edu>; Mention <mention@noreply.github.com>
Subject: Re: [GroceriStar/sd] USDA database csv import [not finished][Main task] (#471)

https://github.com/ChickenKyiv/awesome-food-db-strucutures/issues/4

in order to apply changes to re

[2019-06-04 13:20] atherdon commented on #471
perfect! merged your changes. I acutally think that this separation is
important thing. because for the begining - we actually don't need the
whole pool of data. i mean for your MVP it will be enough to have slower
number of rows

[2019-06-04 14:02] atherdon commented on #332
1) a lot of work was done by @wahaj-47 & @EbrahimKreem so we'll need just to adjust some methods in order to make them work as a separated module.
2) we need to have a lot of tests. because without tests - any change can break someone hard work
3) major issue will be - move out everything from here and make it work there. I assume we'll have a few waves - when we'll make some work at generator rep

[2019-06-04 16:05] uniyalprashant9 commented on #424
Yes I will

[2019-06-04 16:27] siddharthp538 commented on #423
@atherdon  i'm done with testing of almost of all files. That ends option 1 as well. I have made a PR. I'm starting with option 2. cool?

[2019-06-05 04:48] siddharthp538 commented on #423
@AndrewSerra  @ijb87 can we start with the second task? It's simple enough but a repetitive thing, we can distribute it and get our stuff done quickly, I feel.

[2019-06-05 14:33] AndrewSerra commented on #423
@siddharthp538 sure I'll start it but I didn't fully understand what is meant

[2019-06-05 15:33] siddharthp538 commented on #423
This is the task : move out example into the separated file, move out scheme into the separated file - maybe it should be one file with 2 exported variables...

Still any doubt?

[2019-06-05 19:21] atherdon commented on #423
yes please start with second part of task, but please everybody be aware
and sync your fork with our repository - because i'll merge a lot of new
changes in 1 hour or so

[2019-06-05 19:36] atherdon commented on #362
Ok, let's discuss here what is should be done in order to close this task

[2019-06-05 22:25] Edebo commented on #481
so sorry,you havent heard from me,for a while,having issues with electricity in this part of the world

[2019-06-05 22:26] atherdon commented on #481
no a problem at all - take as much time as you need

[2019-06-05 23:27] Beni03 commented on #362
Ok, so after moving files.js in to src folder, I can do something like this right?

const staticData = require('@groceristar/sd-wrapper')
const grocery = staticData.grocery
and so on..

instead of
var { resolve } = require('path')
const grocery = resolve(__dirname, './src/data/Grocery/grocery.json')

[2019-06-06 00:05] atherdon commented on #362
No, ```var {resolve}``` is a good thing.
But your main idea is looks good. - please apply your changes and i'll take a look - right now it's hard for me to 100% understand your idea. it's very simple task, so i think you know how to do it

[2019-06-06 00:21] atherdon commented on #332
@Edebo let's think about questions from another perspective. (still, I asked about 5-10 questions for a reason) I think both questions/situations can require to spend 1 hour for each - because planning is an important thing, especially in this case.

So another imaginable situation:
"you're the main observer/manager of moving out generator process. So you have a few new interns that just join us.

[2019-06-06 09:46] AndrewSerra commented on #423
@siddharthp538 Still not totally sure. What I understood is having a file that is similar to files.js for both examples and schemas, is that right?

[2019-06-06 15:44] Edebo commented on #332
@atherdon,i agree with planning being important.
for the 5-10 question.
1) Have we faced similar situation before and how did we solve it or have other people faced similar situation and how did they solve it?
2)how can we apply the solution to this present situation,and what pitfall is experienced in the last one that we should avoid in this one.
3) Is there an alternative solution to what we wan

[2019-06-06 16:00] atherdon commented on #332
will put everything at one place

1) What are the steps to follow
**a lot of work was done by @wahaj-47 & @EbrahimKreem so we'll need just to adjust some methods in order to make them work as a separated module.**

2) things to take note of to prevent error
we need to have a lot of tests. because without tests - any change can break someone hard work

3) if there are challenges on the way i will r

[2019-06-06 16:04] siddharthp538 commented on #423
have a look at tests/dashexamples.js something like that.

[2019-06-06 16:52] uniyalprashant9 opened #493 "update splitObject and test cases for getList(), getListContent()"
### Tasks to be done.

- [ ] Upgrade splitObject()
- [ ] Add tests for splitObject()
- [ ] Add tests for getList(), getListContent()

[2019-06-06 17:00] atherdon commented on #332
Readme also have a great explanation of methods. And that part should be moved to a readme at separated repo as well https://github.com/GroceriStar/sd#generator-commands

[2019-06-06 17:02] atherdon commented on #471
@Edebo let's explore details about this task in the same as we did it at our other task - tell me your questions here

[2019-06-06 17:02] siddharthp538 commented on #423
@AndrewSerra  created tests/example/
we'll add all the files there.
tell me which files you'll are willing to take. I have already did option 2 for few files.

[2019-06-06 17:04] Edebo commented on #332
am thinking of this steps- these are coming from the things to talked about

1)let us adjust the generator methods-what should be achieved in the adjustment
2)we should make sure our test is working in sd- what is the aim of testing
3)let make sure to call to generator functions are working in sd
4)we should publish at npm and install at sd repo
5) test the generator functions again at publishing

[2019-06-06 17:08] atherdon commented on #423
example is very unclear name. I.e "example of what?" or "if there examples,
why we have schemas as well?"

[2019-06-06 17:10] atherdon commented on #332
1) please explain what exact methods we should move?

Plus i think we'll have option "fix bug if any exist" after each of this
points :)

[2019-06-06 17:11] siddharthp538 commented on #423
i meant examples of all the schema's

[2019-06-06 17:12] Edebo commented on #332
i was refering to

[2019-06-06 19:48] AndrewSerra commented on #423
@siddharthp538 got it. I'm assuming you went alphabetically, I can complete from gallon.test.js to quart.test.js?

[2019-06-06 19:51] siddharthp538 commented on #423
works for me @AndrewSerra

[2019-06-07 12:43] Edebo commented on #481
i already did the spliting of awesome-food-db-strucutures/USDA-01-06-2019/Serving_Size.xlsx  into several json file using sd logic,but i used a max entry of 10000 so as to get 24 json files,which i think shouldnt be overwhelming.if i use max entry of 1000,we will be getting 238 json files

[2019-06-07 13:10] atherdon commented on #481
push your changes via PR first.
and  then i'll reply :)

[2019-06-07 14:12] atherdon commented on #481
i'm ok with both options. like few long files or more files.
But i think we should use this situation as source of improvement. we should extend logic of our split function, so we can pass there a number of entries in order to be able to manipulate it outside.

again, plese be careful with changes - because it may affect work of other files that generated - just to let your know

[2019-06-07 14:58] AndrewSerra commented on #423
I have made a pull request for the files starting from gallon.test.js to quart.test.js @siddharthp538 just to let you know

[2019-06-07 14:59] AndrewSerra commented on #423
*when you list them alphabetically

[2019-06-07 15:42] siddharthp538 commented on #423
cool, i'll do the remaining files and then we'll start with option 3.

[2019-06-07 15:59] atherdon commented on #423
i think we also need tests that will prevent errors of not finding
examples/schema files

[2019-06-07 16:00] siddharthp538 commented on #423
could not get you?

[2019-06-07 16:02] atherdon commented on #423
?

[2019-06-07 16:24] siddharthp538 commented on #423
can u elaborate a little?

[2019-06-07 19:51] atherdon commented on #423
Sure, imagine this situation - i'll delete whole folder that contains
examples/schemas. without tests it will just crash. but tests will show use
that something is wrong here

this is actually a similar test case that we have with out json files

[2019-06-07 22:28] Edebo commented on #471
should the same be done for the remaining csv files in https://github.com/ChickenKyiv/awesome-food-db-strucutures/tree/master/USDA-01-06-2019

[2019-06-07 22:42] atherdon commented on #471
yes please @Edebo

[2019-06-07 23:15] atherdon commented on #471
@Edebo while you working on this script - i'm sure you find some things/code places, that can be improved by your opinion. When you'll find someplace, that worth - put code line here or maybe add `@TODO` there, so we can catch them later, please.

One of the next goals will be improve our scripts, because i feel that we have some duplicates between this parsing script and also it will help us to h

[2019-06-07 23:44] atherdon commented on #423
@elnur004 you can jump into this task with very simple improvement.
you can go through files that we have and update this line
[code]
with
[code]

[2019-06-07 23:56] atherdon opened #500 "updating tests into es6 style"
**Is your feature request related to a problem? Please describe.**
our tests written at es5 style. and this is understandable - because we use it as it is. but right now - with growing number of tests/cases - also with a separation them and placing outside of src folder - we can make them es6(i assume) because babel can handle that as well

**Is it was created as task at GitHub issues? Please prov

[2019-06-07 23:56] atherdon opened #501 "move example/schema variables into the top of test file declarations"
**Is your feature request related to a problem? Please describe.**
it's look strange, because we can define all of our variables at top of the files.
should be updated and looks similar for each test file

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative s

[2019-06-08 00:17] atherdon commented on #332
This is another example of why generator should be moved out:
1) it has es5 style code
2) it doesn't support babel resolver
3) don't support build features
![image](https://user-images.githubusercontent.com/1469198/59139442-da7be680-899b-11e9-9d56-53853a4bccfe.png)

[2019-06-08 20:08] AndrewSerra commented on #423
@atherdon so you mean adding extra test cases that check all files are there? or a simple try/catch block?

[2019-06-09 13:47] atherdon commented on #423
i like both! Do both!
:)
extra cases and try/catch is a good thing to implement here

[2019-06-09 15:08] AndrewSerra commented on #423
Nice! I can work on that or should I continue with step three? If I'll be working on error handling, for the try/catch should it just be a
`try {
 require('./example/a_file.js')
}
catch (e) {
 console.log(e)
}`
block that writes to console or something else? For the test cases can they be a file that has a describe block containing all it and expect for all the necessary files?

[2019-06-09 15:43] atherdon commented on #423
we don' ready for step 3 yet.
about try/catch - show me code changes at pull requests - its better for my
understanding

[2019-06-09 19:40] AndrewSerra commented on #423
@atherdon should I do one and make a pull request so you could see? after that, I can continue with the rest and add them all to the same pull request

[2019-06-11 02:54] atherdon opened #512 "measurements methods"
**Is your feature request related to a problem? Please describe.**
I think that we should try to do task from fetch here. I'm talking about https://github.com/GroceriStar/groceristar-fetch/issues/399
And I think we can firstly do it here - because it's a main reason why we have files - and then we'll move it to the fetch plugin

**Describe the solution you'd like**
A clear and concise description

[2019-06-11 03:06] #493 closed

[2019-06-11 03:19] atherdon commented on #423
@AndrewSerra looks like your changes break our builds. error log
[code]

[2019-06-11 03:29] siddharthp538 commented on #423
@atherdon I won't be available this week. Sorry, have to complete my college project.

[2019-06-11 03:43] atherdon commented on #423
@siddharthp538 no problem at all - take your time - no rush here

[2019-06-11 03:47] atherdon commented on #423
Andrew, I fixed that issue

[2019-06-11 07:42] AndrewSerra commented on #423
@atherdon what was causing it to be not defined? I checked all other files and couldn't figure it out

[2019-06-11 15:28] uniyalprashant9 commented on #424
splitObject() is in writeFile.js to split json files
getList() and getListContent() are in utils.js to retrive json files.
readme is updated.
how to call those functions is explained in readme.md.
the old splitObject.js is already merged in existing file (writeFile.js)

[2019-06-11 15:37] uniyalprashant9 commented on #424
Only test part is remaining.

[2019-06-11 15:37] uniyalprashant9 commented on #424
@atherdon

[2019-06-12 02:23] #501 closed

[2019-06-12 02:26] atherdon opened #516 "create an index files inside of examples folder and connect all of our examples/schemas there"
**Is your feature request related to a problem? Please describe.**
I want to splify our work with next step - we can reduce logic of connecting schemas and examples by having one file that connect all of them.
later we'll create a method, that will return both schema and example into our test file.
it maybe not make our code better, but will help us later

**Is it was created as task at GitHub iss

[2019-06-12 03:06] atherdon commented on #424
can you handle a testing part on your own or do you need help with it? we have a pretty cool test folder where you may find some similar tests that you can copy and connect to this task

[2019-06-12 15:23] uniyalprashant9 commented on #424
@atherdon  Most of the tests are to match the schema of json files, my modules split large json files into single files, retrive list of files in the directory,  they don't need tests I guess splitObject will work on parameters passed.

[2019-06-13 02:45] atherdon commented on #424
yes, that tests for schema. but not only for schemas only. take deeper look

[2019-06-13 02:45] atherdon commented on #424
and no guessing - we have tests for that ;)

[2019-06-14 09:21] AndrewSerra commented on #423
Do we have anything left for step 2?

[2019-06-14 10:16] atherdon commented on #423
i don't know - you tell me.
Do you think we cover all json files? Are you really really sure? because
i'm always unsure

[2019-06-14 11:07] AndrewSerra commented on #423
I think we are done. The last part I have done checks all the files under the examples/ directory, so all the schemas and examples that are used in the tests/ directory.

[2019-06-14 12:17] atherdon commented on #423
will you bet on that that we're done? :)

[2019-06-14 12:26] AndrewSerra commented on #423
nope :)

[2019-06-14 12:45] atherdon commented on #423
me too - then spend some time and try to answer to the question - what
files were covered and what is not. i mean we can also create some methods
as well - that can help us or some of our team members to answer to that
question in future as well

[2019-06-14 12:53] atherdon commented on #267
https://ajv.js.org/

[2019-06-14 22:12] atherdon opened #523 "Copy generator methods into new place"
As we plan to move our generator out - we preparing a separated space for it.
Our readme file has good explanation of generator methods and you should copy it into this repository: https://github.com/GroceriStar/food-static-files-generator

[2019-06-14 22:19] atherdon commented on #523
@amogh-jrules you can grab this quick task while Prashant not replied

[2019-06-14 22:22] atherdon commented on #471
@Edebo I assume that we converted all database files into our tailored json format, right?

[2019-06-14 22:29] amogh-jrules commented on #523
I'm working on it
thanks

[2019-06-14 22:43] atherdon commented on #523
cool - i'm here for any help

[2019-06-14 22:48] atherdon opened #524 "upgrade our examples/tests"
So, we have a folder https://github.com/GroceriStar/sd/tree/master/tests/examples

And here are simple tests, aka non-empty https://github.com/GroceriStar/sd/blob/master/tests/testFilesCheck/exampleFiles.test.js

As you can see - we have a pretty similar code there. we should update it and instead of having copy-paste - create a function and just pass a variable into it

https://github.com/Groceri

[2019-06-14 22:48] atherdon commented on #524
@amogh-jrules you can jump here as well

[2019-06-15 01:41] Edebo commented on #471
Yes,we did,what is left is to review the code

[2019-06-15 02:00] atherdon commented on #471
cool! what do you mean by code review? i cannot recall

[2019-06-15 02:12] Edebo commented on #471
the todos in the codes.
then i have a question,why are we storing the json files converted into generator,why not output or sd/data since we will still move the generator as a different package

[2019-06-15 02:14] atherdon commented on #471
Do you mean why our generated json files stored not at `src/data`? I have a
same question for that :) this is how other team members did it - but yeah
- src/data should be our main place for JSON. especially when it will be
moved out

[2019-06-15 02:21] atherdon commented on #471
yeah it's should be solved later. can you create a new issue and explain
with details what data should be moved? We'll assign that task to our new
members - you did some durty work before and we'll focus with you on more
complex tasks.

Can you also share with me few code links to that `todos` so I can help you
a bit ?

[2019-06-15 02:25] Edebo commented on #471
https://github.com/GroceriStar/sd/blob/master/generator/csv_parser.js

[2019-06-15 02:30] Edebo commented on #471
which do you prefer as storage for our generated json files? sd/output folder or sd/data folder

[2019-06-15 02:31] atherdon commented on #471
it will be data folder, but it will be moved outside from src ;)

[2019-06-15 02:40] atherdon commented on #471
let's start with a simple thing: create a separated method, that will shore
only
https://github.com/GroceriStar/sd/blob/master/generator/csv_parser.js#L42-L57

when you'll open a PR - i'll send what do to as next step

[2019-06-15 02:41] atherdon commented on #471
second PR can be to move this function outside

https://github.com/GroceriStar/sd/blob/master/generator/csv_parser.js#L23-L38

[2019-06-15 03:18] atherdon commented on #471
remove this duplicates: https://github.com/GroceriStar/sd/blob/master/generator/csv_parser.js#L30-L31

[2019-06-15 03:29] Edebo commented on #471
line 30 is closing brace for the for function while line 31 is for the function,except i dont get what you mean

[2019-06-15 03:32] atherdon commented on #471
yep, i didn't update that page. new link: https://github.com/GroceriStar/sd/blob/master/generator/csv_parser.js#L23-L25

[2019-06-15 03:42] Edebo commented on #471
line 23-25 help to detect the remaining entries that is less than 10000,it has a purpose except if there is a way to simplify it

[2019-06-15 03:49] atherdon commented on #471
i just see 2 similar lines and i don't like it :) make a separated method that will return a value and call it inside of `splitJsonIntoFiles`

[2019-06-15 04:32] atherdon opened #526 "reduce tech debt"
**Is your feature request related to a problem? Please describe.**

![image](https://user-images.githubusercontent.com/1469198/59546981-af673900-8f3f-11e9-9ba6-3202f27fd0f1.png)
LInk: https://codeclimate.com/github/GroceriStar/sd/trends/technical_debt

We need to reduce it to 10% then 5%

**Is it was created as task at GitHub issues? Please provide an issue number or link**

**Describe the solutio

[2019-06-15 04:34] atherdon opened #527 "move import outside of try/catch"
**Describe the bug**
A clear and concise description of what the bug is.
![image](https://user-images.githubusercontent.com/1469198/59546994-f6edc500-8f3f-11e9-8074-32507de3fda9.png)

@AndrewSerra

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to h

[2019-06-15 09:29] AndrewSerra commented on #527
Sorry I wasn't quite sure what to do. Should I just add an explanation of what is different when the import is inside or outside and how the behavior changes? or should I just change them?

[2019-06-15 11:07] AndrewSerra commented on #527
**Description of the bug**
The problem with the warning we get in the picture [here](https://github.com/GroceriStar/sd/issues/527#issue-456498686) is about repetitive code in tests.js files, all files under examples/ directory. This is because the only difference in these files are the import path name and the description of the tests.

**To Reproduce**

1. Go to pull request [#517](https://codecl

[2019-06-15 11:08] AndrewSerra commented on #527
@atherdon about the try/catch block import, should I just pull them outside now? Because as far as I know the codeclimate issue is something else

[2019-06-15 18:39] atherdon commented on #471
check comments from this file: https://github.com/GroceriStar/sd/blob/master/generator/projects/USFA/Derivation_Code_Description/csv_parser.js - let's improve it too

[2019-06-15 19:14] amogh-jrules commented on #523
So do I copy the generator methods from this repo to the new one ie /food-static-files-generator following the readme for the generator file? just confirming once

[2019-06-15 19:18] atherdon commented on #387
@EbrahimKreem tell me if you want to jump into development of our graphql server

[2019-06-15 19:37] atherdon commented on #523
yep

[2019-06-15 20:16] amogh-jrules commented on #523
i have one question, the generateFiles.js does not have an export statement written, if we are to move it an external wrapper as we are doing it, should'nt it require one?

[2019-06-15 20:16] amogh-jrules commented on #523
The rest of the readme i have added and suitably modified

[2019-06-15 20:46] atherdon commented on #523
cool suggestion, yes, please do an export from generateFiles.js

[2019-06-15 20:47] atherdon commented on #523
but only at sd repo right now. we quite not ready to move all functionlaity
out right now. but we're working on it

[2019-06-15 21:04] atherdon commented on #527
thanks for the clear explanation. it save me a lot of time.

at this point i want just to not have an import of our examples and schemas inside of try/catch

[2019-06-15 21:39] atherdon commented on #527
but your suggestion is right - code can/should/will be refactored. this is part of my plan

[2019-06-15 21:47] atherdon commented on #524
this is a next easy task to do

[2019-06-15 21:47] #523 closed

[2019-06-15 21:54] amogh-jrules commented on #524
on it

[2019-06-15 21:56] atherdon opened #531 "add test coverage for Nutrition"
https://github.com/GroceriStar/sd/tree/master/generator/projects/USFA/Nutrition

[2019-06-15 21:57] atherdon opened #532 "add test coverage for FoodComposition"
https://github.com/GroceriStar/sd/tree/master/src/data/FoodComposition

[2019-06-15 21:57] atherdon opened #533 "smart test coverage for this folder"
https://github.com/GroceriStar/sd/tree/master/generator/projects/Product

[2019-06-15 22:13] amogh-jrules commented on #524
almost done,
![image](https://user-images.githubusercontent.com/31567169/59556896-1e926b00-8fdc-11e9-8a12-81ccc39f0a0c.png)
just one doubt, wont we have to change wherever this function was called in order to pass the required param? Should I be doing that as well?

[2019-06-15 22:25] atherdon commented on #524
it's hard for me to understand without seeing PR

[2019-06-15 22:38] amogh-jrules commented on #524
sorry, done.

[2019-06-16 04:06] atherdon commented on #532
@AndrewSerra

[2019-06-16 04:06] atherdon commented on #531
@AndrewSerra

[2019-06-16 04:07] atherdon commented on #533
@AndrewSerra but we need to talk how better to do it.
We have some methods created at sd, that can be useful for this kind of tasks

[2019-06-16 17:16] amogh-jrules commented on #526
Can I take this up?

[2019-06-16 17:49] atherdon commented on #526
we're partially doing it. but it's a big task to start with

[2019-06-16 19:21] atherdon commented on #424
@uniyalprashant9 what is left for this task?

[2019-06-16 23:23] uniyalprashant9 commented on #424
@atherdon  only tests are remaining

[2019-06-16 23:29] atherdon commented on #424
can you do them?

[2019-06-16 23:36] uniyalprashant9 commented on #424
yes i will :)

[2019-06-17 19:40] AndrewSerra commented on #527
Sure I will remove them now. Sorry for the late response I was taken to the hospital and did not have access to my phone or laptop. All good now handling the imports now and will open a pull request.

[2019-06-17 19:41] atherdon commented on #516
Ok, let's also add and export from this file a method, that will return to us one files, when it's necessary. something like get('allergy') and it will return our variable

[2019-06-17 19:43] atherdon commented on #527
not a problem at all - hope everything is going well with you - work can
wait but health are most important thing

[2019-06-17 20:11] AndrewSerra commented on #533
I'll go through the files as well to see what is fone until now. I'll handle the imports first then

[2019-06-17 20:17] atherdon commented on #533
main term in this task is "smart" - so we cannot do it in old way. i think
we should finish un-completed pending things first.

also - at some place we have methods, that can grab all files from
directory. maybe we can use it...

[2019-06-17 22:42] elnur004 commented on #516
what do you recommend? how to do this?

[2019-06-17 23:05] Beni03 commented on #512
Hi Arthur,
I was trying to understand this task, but I am not very clear of what I should do.
1. In SD repo, we already have filesObjects.js and I think it has all those files in to one object right?
2. What are measurement files? all json files inside data folder?
Can you please give me some more details to understand this task
Thanks

[2019-06-18 00:12] atherdon commented on #516
the easiest way is to combine all of our variables into array.
so diets, and other will be inside of array. aka ```[ 'diets':diets,
'allergy':allergy ]```...

then inside of that function we'll use that variable as array key in order
to return only one file with data, not all of them. show me some examples
at PR and i'll guide you forward

[2019-06-18 00:20] atherdon commented on #512
1) yes
2) we have 2 files related to measurement system. it's called measurement
system and measurement units. right now they're separated. when you'll do
this task, later we'll work on merging them into one structure

[2019-06-18 10:14] siddharthp538 commented on #423
can u assign a new task? @atherdon

[2019-06-18 10:15] atherdon commented on #423
yes i can but for me this task is not finished yet

[2019-06-18 10:16] atherdon commented on #423
try to find static files, that we have in this repo - and they were not covered yet with json schema test

[2019-06-18 13:29] AndrewSerra commented on #423
@atherdon do you mean any files that we have missed to create as <filename>.test.js

[2019-06-18 13:43] AndrewSerra commented on #423
Also under tests/projects/ directory, I don't know if there were typos creating the file names, but some of the tests under the project folders have names such as "loopback.teszt.js" Just wanted to ask because it may be a typo even though they are all commented out except for graphQL at the moment.

[2019-06-18 13:58] atherdon commented on #423
this is my "work" - we didn't finish test coverage for that files and i
just rename them, in order to remove them from testing process.
You can create a separated task/github issue - specify each file and some
new teammate will be able to deal with it

[2019-06-18 16:48] Beni03 commented on #512
Got it! thanks

[2019-06-18 20:50] atherdon opened #545 "paths?"
**Is your feature request related to a problem? Please describe.**
as we have some problems with them - it's a great way to use some network brain and try some modules. maybe they also will remove some of our non-ideal methods.
https://www.npmjs.com/package/path-exists
https://www.npmjs.com/package/path-type
https://www.npmjs.com/package/normalize-path

**Is it was created as task at GitHub issues

[2019-06-19 00:03] atherdon commented on #471
@Edebo you mentioned issue about file paths. Please check this thing.
Will it help?

https://github.com/GroceriStar/sd/blob/master/babel.config.js#L25-L31

[2019-06-19 00:07] Edebo commented on #471
i tried '~': './src/data', didnt work ,may be i dont know how to use it

[2019-06-19 00:09] atherdon commented on #471
got it. this thing works only with transpiled files. i.e. that going to be published on npm. and while generator is not a separate thing - we have this troubles

[2019-06-19 00:11] atherdon commented on #471
what was left? i don't think that we need to cover all todos right now at generator. or maybe we should... tell me what do you think

[2019-06-19 00:15] Edebo commented on #471
really want to clean up codes i.e making sure things work before separating generator

[2019-06-19 00:17] atherdon commented on #471
i'm ok with that plan. i like how files start to look similar and simple. we really reducing our code dept right now

[2019-06-19 00:18] atherdon commented on #471
and i'm still moving us backwards, by adding new todos, but it's good for code...
![image](https://user-images.githubusercontent.com/1469198/59728009-dde75b80-9240-11e9-9b69-1e13af0d5ebc.png)

[2019-06-19 00:19] Edebo commented on #471
no problems,

[2019-06-19 01:04] atherdon opened #558 "Fix "TODO" issue in generator/generateArray.js"
TODO found

https://codeclimate.com/github/GroceriStar/sd/generator/generateArray.js#issue_5d0989133836940001000235

[2019-06-19 01:12] atherdon opened #559 "Fix "TODO" issue in generator/writeFile.js"
TODO found

https://codeclimate.com/github/GroceriStar/sd/generator/writeFile.js#issue_5d0989133836940001000237

[2019-06-19 01:12] atherdon opened #560 "Fix "TODO" issue in generator/generateFiles.js"
TODO found

https://codeclimate.com/github/GroceriStar/sd/generator/generateFiles.js#issue_5d098913383694000100023d

[2019-06-19 11:39] vadim9999 commented on #236
I see this task is stuck

[2019-06-19 11:40] vadim9999 commented on #236
@elnur004 What help do you need that you have complete this task?

[2019-06-19 11:46] vadim9999 opened #561 "Questions"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Is it was created as task at GitHub issues? Please provide an issue number or link**

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear a

[2019-06-19 12:56] vadim9999 commented on #278
is it done?

[2019-06-19 13:38] atherdon commented on #332
@vadim9999 i agree. partially we discuss it at this long thread. maybe you can put everything at one text so it will be easy to read to all of us?
I also created some todos at code that can help us a bit

[2019-06-19 13:39] atherdon commented on #278
i'm not sure. our tests are mess. we made some work, but there still a lot of things to work on.
This milestone contain all tasks related to tests. maybe it will help you: https://github.com/GroceriStar/sd/milestone/1

[2019-06-19 14:41] uniyalprashant9 commented on #545
I feel [path.resolve()](https://nodejs.org/docs/latest/api/path.html#path_path_resolve_paths) must fix all path errors as it resolves relative paths to absolute paths.

[2019-06-19 14:58] atherdon commented on #545
@vadim9999 take it please.
my goal is not only to help Prashant with his PR, but also maybe it will help with generator, csv parser...

[2019-06-19 15:09] vadim9999 commented on #545
ok,  start with installing path-exist

[2019-06-19 15:13] vadim9999 commented on #561
Should I curate some interns or be like a developer?

[2019-06-19 15:14] siddharthp538 commented on #423
@AndrewSerra  can u pls explain me what is done and what is left?

[2019-06-19 15:23] atherdon commented on #561
explore right now what we're doing. coding at sd is not necessary. let's
put our powers at planning. maybe for quick commits we can work on
generator, but some tasks is not finished yet - so i'm conflicted

[2019-06-19 15:26] atherdon commented on #332
@vadim9999 maybe we should put all information at this readme - https://github.com/GroceriStar/sd/tree/master/generator

[2019-06-19 15:49] vadim9999 commented on #545
In commit https://github.com/GroceriStar/sd/commit/2ac3ad4b94b33d1dcf3143c9f6286103dfb53533
How do you play to use function pathExists(path)? Should it just display what paths are exits or return boolean value?

[2019-06-19 20:08] vadim9999 commented on #332
ok, I will do it

[2019-06-19 20:26] vadim9999 commented on #236
@elnur004 The first stage was done. Your goal here create a function that will be displaying all objects. As you see when you display two objects using the same function forEach(). Think up how to separate it with one function.

[2019-06-21 05:16] atherdon commented on #561
https://github.com/ChickenKyiv/recipe-antd/blob/master/descriptions.md

[2019-06-21 05:17] #527 closed

[2019-06-21 05:23] atherdon commented on #387
@vadim9999 I think this task is partially done, and we need to figure out what is left to do

[2019-06-21 05:23] atherdon commented on #423
@vadim9999 grab it here as well. it mostly done, but not finished

[2019-06-21 05:24] atherdon commented on #424
@vadim9999 garb it here too. looks like we almost finished it but i'm have doubts that all of my comments was actually done/implemented

[2019-06-21 09:23] AndrewSerra commented on #423
@siddharthp538 sorry for the late response, I'm having quite a rough week. So what I have completed is a try/catch block for the test.js files so the test does not crash if for some reason a file is missing and we could not import the schema and example. The second thing I have done is the tests/testFilesCheck/ directory. The two files under that directory get all the file names under tests/exampl

[2019-06-21 10:04] vadim9999 commented on #561
@atherdon Coding school
1. What is my role there? What should I do?
2. When will you start getting students from companies?