[2019-06-21 10:23] atherdon commented on #561
@vadim9999 do 10-20 questions about coding school and publish it at hackernoon forum:) going totally open

[2019-06-21 10:24] amogh-jrules commented on #531
Can I take this up?

[2019-06-21 10:44] atherdon commented on #531
yes you can

[2019-06-21 10:45] atherdon commented on #531
@vadim9999 will check it

[2019-06-21 16:01] uniyalprashant9 opened #567 "Callback for splitObject"
Let's also add a backward method, that will combine splited files into a big one. But do it in a more elegant way. as the last attribute - we'll pass a callback, that will operate the structure of `object` inside of that array.

  For example.
  I want to combine all grocery lists together. but for one case I want to have

[code]

  for the second case

[code]

  and I want to do manipulations wit

[2019-06-21 16:01] uniyalprashant9 commented on #567
@atherdon

[2019-06-21 16:06] #424 closed

[2019-06-21 17:15] vadim9999 commented on #387
@atherdon

Can't find json version

[2019-06-21 17:33] atherdon commented on #387
yep it's a bit mess up
- https://github.com/GroceriStar/sd/tree/master/generator/projects/FoodComposition
- https://github.com/GroceriStar/sd/tree/master/src/data/FoodComposition

please try to run a csv parser script - i assume it will break, because we updated some of methods

[2019-06-21 17:50] atherdon commented on #387
you can also add to readme an explanation about how to run stuff for Foodcomposition.
because when we'll move generator out - it will be important to test and re-run all scripts again

[2019-06-21 19:46] vadim9999 commented on #387
I have run it and it's working

[2019-06-21 19:50] vadim9999 commented on #387
in csv_parser.js I can't find method that creates json version. Maybe this step is not done or the method is moved in another place. What format of data should contain this json?

[2019-06-21 20:17] atherdon commented on #387
it should be just split by countries.
i think we have some long script for parser.
any way - you can grab this task and finish it

[2019-06-22 12:11] vadim9999 commented on #424
ok

[2019-06-22 12:59] vadim9999 commented on #387
It's not done. Because it's not split by countries just one file FoodComposition.json that contains many countries. Should I complete it or leave interns?

[2019-06-22 13:06] atherdon commented on #387
but did you saw a separated csv files that we have at data folder, right?

And you can also check out some folders, under USFA project - it contains
also a few files - so by looking at code, you might find out how we did it.
or we can grab an @Edebo here and he can explain some details to us here

I'm ok if you complete it - we just need to do in a smart way - by using
code that is actually done.

[2019-06-22 13:13] vadim9999 commented on #387
Yes, in data FoodComposition are:
[code]
but in folder FoodComposition of generator is one json file FoodComposition.json.
Ok, we can give to complete task @Edebo

[2019-06-22 13:37] atherdon commented on #387
ok, then let's think what you can also do.
tell me what do you want to do :)

[2019-06-22 13:44] vadim9999 commented on #387
Then I will complete it

[2019-06-22 13:44] AndrewSerra commented on #532
This is the same as all tests I assume, right? Doing this now.

[2019-06-22 13:45] AndrewSerra commented on #532
Again sorry about this week being a bit away because of the hospital issues I've been busy with getting health tests done.

[2019-06-22 13:53] atherdon commented on #387
go forward with it

[2019-06-22 16:26] atherdon opened #574 "[FoodComposition] comments"
**Is your feature request related to a problem? Please describe.**
https://github.com/GroceriStar/sd/issues/22
https://github.com/GroceriStar/sd/pull/450
https://github.com/GroceriStar/sd/issues/387#issuecomment-498291128

#387

**Is it was created as task at GitHub issues? Please provide an issue number or link**

**Describe the solution you'd like**
A clear and concise description of what you wa

[2019-06-22 16:26] atherdon commented on #387
Ok, i think we can close this task. I moved all necessary things to another task - this thread became very long

[2019-06-22 16:27] uniyalprashant9 commented on #567
@atherdon  Let this be sample content in grocery
[code]

so should this module return ??

[code]

[2019-06-22 16:28] atherdon commented on #387
@vadim9999 please also push a new release(minor) to npm

[2019-06-22 16:40] vadim9999 commented on #387
Done

[2019-06-22 16:40] atherdon commented on #567
@vadim9999 please grab this one

@uniyalprashant9 yep, this can be one of the cases. structure, like
[code]
should be manipulated inside of that callback.

btw, my assessment was to create a combineObjects method with callback, but as you started this one - let's do it twice. hope it's ok for you. just more practice.

how i see it.
example.
[code]

[2019-06-22 16:42] atherdon commented on #387
closing it. pretty happy about it

[2019-06-22 16:42] #387 closed

[2019-06-22 16:42] vadim9999 commented on #387
Should I replace csv by json in src/data?

[2019-06-22 16:46] atherdon commented on #387
to be honest - not inportant at this moment. because with changes, tat i'm making at #565 we'll improve whole process.

[2019-06-22 16:47] atherdon opened #575 "Projects 2.0"
1) finish basic changes
2) separated modules works?
3) main module also work without crashing, i.e. files.js and other stuff
4) published at npm?

[2019-06-22 19:11] vadim9999 commented on #424
I think it's done

[2019-06-22 22:41] AndrewSerra commented on #574
for the test coverage (#532) I read and saw the json files being in generator/projects/FoodComposition/ directory. Will the json files stay in that directory or will they be moved to src/data/FoodComposition/? should I add them to the files.js file to use them for the test? if yes, should they be separate for countries or one test?

[2019-06-22 22:44] AndrewSerra commented on #532
for the test coverage (#532) I read and saw the json files being in generator/projects/FoodComposition/ directory. Will the json files stay in that directory or will they be moved to src/data/FoodComposition/? I'm asking this because files.js uses the directory src/data/FoodComposition/

Another question is should I add them to the files.js file to use them for the test? if yes, should they be sep

[2019-06-23 04:23] #377 closed

[2019-06-23 04:30] atherdon commented on #532
@vadim9999

[2019-06-23 04:37] atherdon opened #576 "splitObjects comments"
**Is your feature request related to a problem? Please describe.**
https://github.com/GroceriStar/sd/issues/424#issuecomment-497821188
https://github.com/GroceriStar/sd/issues/424#issuecomment-497946970

**Is it was created as task at GitHub issues? Please provide an issue number or link**

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe

[2019-06-23 06:32] vadim9999 commented on #532
@AndrewSerra

jsons files will be moved from generator/projects/FoodComposition to src/data/FoodComposition, but now.
Yes, add separated for countries and FoodComposition.json to the files.js. Use separated by countries and FoodComposition.json for tests.

[2019-06-23 09:59] vadim9999 commented on #567
Do you want me to create this method or just check PR?

[2019-06-23 10:23] atherdon commented on #567
Vadim,. only check PR when it'll be published

[2019-06-23 15:34] uniyalprashant9 commented on #567
@atherdon How if the function `combineObject()` will get the list of keys (or index of keys assuming that the user knew what are the serial of keys in structure) to be not to be included while combining??

This will be handier for the user to manipulate the structure as required as he can decide which keys are not required.

[2019-06-23 15:39] atherdon commented on #567
show the code - this is what i can tell you :) looks like a cool idea, but
open PR and Vadim will advice you about it

[2019-06-23 20:36] AndrewSerra commented on #532
awesome working on it

[2019-06-23 20:57] AndrewSerra commented on #532
as a suggestion, do you think having a single test file (foodComposition.test.js) containing all tests for the countries and foodComposition.json could be better? Since all tests are in a way "related" to FoodComposition I wanted to ask whether the test file can cover them all. or should I keep the test files all separate files as well?

[2019-06-23 21:11] atherdon commented on #532
for now it's debatable because after finishing this tests we something like closing a door for this sub-project. But if Vadim told so - then I'm voting for his way

[2019-06-23 21:15] AndrewSerra commented on #532
ok I'll keep all files separate and simple, no problem

[2019-06-23 21:19] atherdon commented on #532
yeah, maybe it will save some time for people that will work or use this
part in the future.
That set is a pretty unique combination of data that our machine learning
team created. When it will be released to public - i'm curious to see a
response

[2019-06-23 21:23] AndrewSerra commented on #532
it sounds like something awesome is happening :) I saw the comments in [this issue](https://github.com/GroceriStar/sd/issues/387) interesting.

[2019-06-23 21:34] atherdon commented on #532
this is just a tip of the iceberg :)
I go insane few months ago and decide to go fully open about this project.
and I don't have internet for a month. and I'm very active at my work. I
mean I cannot just relax and switch my mind away. so about a month I wrote
a lot of notes and combine a lot of information that I collect for the last
years about food tech, recipes, and all these things.
if you int

[2019-06-23 22:23] atherdon commented on #471
@ashleycribb assuming that we pretty close to finish our preparation of this dataset - what our next step should be?

[2019-06-24 12:18] ashleycribb commented on #471
Work on Algorithm that filters food based on diabetic needs.  We have an algorithm that filters foods based on a healthy recipe, but, not necessarily a diabetics.  I have a PDF that lays out what a diabetic should be looking for when they go to the grocery store.  We need to change the algorithm we have to that.  Also I am working with a CDE (Certified Diabetic Educator) so that we can fine tune t

[2019-06-24 12:50] atherdon commented on #471
@ashleycribb image didn't upload here

[2019-06-24 13:58] atherdon commented on #471
ok, let's split things on smaller chunks. let's extend this part and make more details. right now it's not enough to start working on it

So, that algorithm is written at R language, that you shared with me before.
First problem that i see - nobody here knows R. So how we'll update it, in order to meet your requeremtns.

I assume that your PDF will give more details, but this is what first comes i

[2019-06-24 15:34] ashleycribb commented on #471
OK. I have sent the PDF and image of the walkthrough to your gmail account.  I may have R Studio and can at least load it there to see how it works so that we can see what methods we need to create in javascript.

From: Arthur Tkachenko <notifications@github.com>
Sent: Monday, June 24, 2019 9:59 AM
To: GroceriStar/sd <sd@noreply.github.com>
Cc: Cribb, Ashley <cribba@uncw.edu>; Mention <mention@nor

[2019-06-24 15:57] atherdon commented on #471
can i upload that files here?

[2019-06-24 16:26] ashleycribb commented on #471
Sure that’s fine.

From: Arthur Tkachenko <notifications@github.com>
Sent: Monday, June 24, 2019 11:57 AM
To: GroceriStar/sd <sd@noreply.github.com>
Cc: Cribb, Ashley <cribba@uncw.edu>; Mention <mention@noreply.github.com>
Subject: Re: [GroceriStar/sd] USDA database csv import [Main task] (#471)

can i upload that files here?

—
You are receiving this because you were mentioned.
Reply to this emai

[2019-06-24 19:45] amogh-jrules commented on #531
@atherdon hey, I am a bit confused, what exactly am I supposed to be doing..?

[2019-06-24 19:55] atherdon commented on #531
find a folder nutritions at generator/USFA
we don't have tests for that huuuge set of files.
tell me if it doesn't have a separated `files.js` i think i created one,
but not sure if i push it to master branch.

we need to do a similar test coverage.
not empty, plus check for shema.

but we cannot do it by copypaste - it's a suicide. at some places in
generator i think we have a method that list al

[2019-06-24 20:25] jan-strum commented on #158
Hi Everyone. My name is Jan Strum. I've been coding for about a year, and I'm now starting my first internship with GroceriStar. I'm looking forward to getting to know and working with you all!

[2019-06-24 20:33] atherdon commented on #524
did we finish this task @amogh-jrules ?

[2019-06-24 20:36] atherdon commented on #560
@/jan-strum you can grab this one, if you need details - buzz me

[2019-06-24 20:39] amogh-jrules commented on #524
Yes, @vadim merged my pr

[2019-06-24 20:41] atherdon commented on #559
@jan-strum  please check if this was not done, because i'm not sure

[2019-06-24 20:42] atherdon commented on #560
it will increase our code quiality and remove a similar code that we have before

[2019-06-24 20:55] atherdon commented on #395
lets chat here about your approach at generator where we have a list of methods

[2019-06-24 20:56] atherdon commented on #524
cool then closing it

[2019-06-25 06:34] amogh-jrules commented on #531
there is no files.js inside the nutrition folder, I found this however

https://github.com/GroceriStar/sd/blob/master/generator/projects/USFA/files.js it is entirely commented out i think this is the one you are talking abour

[2019-06-25 06:37] amogh-jrules commented on #428
What is supposed to be done here?

[2019-06-25 07:17] atherdon commented on #428
we made some quick changes at `package.json`
and in order to move quickly - i copy-paste old version of code into
`pkg.json` so i want at some time to finish our configuration setup - move
all important things into `package.json` and delete `pkg.json`

[2019-06-25 14:45] jan-strum commented on #559
@atherdon It looks like someone resolved this issue, but I don't feel I have enough context to be sure.

[2019-06-25 14:47] atherdon commented on #559
hold on, i'll take a look

[2019-06-25 14:48] atherdon commented on #559
you did a great work :) closing it. jump to another task that I mentioned you

[2019-06-25 14:48] #559 closed

[2019-06-25 14:50] jan-strum commented on #559
Ha. I'm looking at it now. I'll email you if I have any questions.

On Tue, Jun 25, 2019 at 9:49 AM Arthur Tkachenko <notifications@github.com>
wrote:

[2019-06-25 15:07] jan-strum commented on #560
@atherdon On line 13, do you want functions for the path manipulations which are then called inside of `generateFiles`?

[2019-06-25 15:09] jan-strum commented on #560
@atherdon Referring to line 35, what script would `generateFiles()` be called in? Or should I just remove it for now?

[2019-06-25 15:13] atherdon commented on #560
@vadim9999  please advice here - i'm falling asleep

[2019-06-25 16:06] AndrewSerra commented on #423
@atherdon I found a couple more, do we need tests for Derivation_Code_Description, DietAndHealthLabel, Product, and ServingSize? These are under src/data/ and they all have csv files except for DietAndHealthLabel.

[2019-06-25 16:18] atherdon commented on #423
yes we need it. i think when it will be done - we'll be able to finish this
big topic with tasks and focus on the next things

[2019-06-25 16:23] AndrewSerra commented on #423
I'll start with **Derivation_Code_Description** then. Also, I will add them under food composition in files.js since the json file is under generator/ they can all be together and easier to see when the paths change later

[2019-06-25 20:16] elnur004 commented on #516
@atherdon need we add a function in index.js file or play.js one for return the file with data?

[2019-06-25 20:20] elnur004 commented on #516
btw sorry for the late response. i've been busy lately

[2019-06-26 00:56] atherdon commented on #516
yes, index that will be a separated point where we connect to files. and no
problem at all - we don't have rush - so take your time

[2019-06-26 07:50] vadim9999 commented on #531
I think you need method readAllFiles(path) that located in utils. you can find it in /src/utils

[2019-06-26 11:50] amogh-jrules commented on #531
@atherdon  there is no files.js, can you please push it

[2019-06-26 12:00] atherdon commented on #531
just added it, but Vadim right - we should do an import of files recursevely. my way is bad. i just did it for quick way

link: https://github.com/GroceriStar/sd/blob/master/generator/projects/USFA/Nutrition/files.js

[2019-06-26 15:14] vadim9999 commented on #395
1. On the first question - we just were testing generator and we generated files that were needed for a task.
2. Do you mean to create a folder with adding to the name "generated"? Example: Allergy_generated.json?

[2019-06-26 15:20] vadim9999 commented on #560
Yes, create separated method and call it from generateFiles()

[2019-06-26 15:21] jan-strum commented on #560
Okay. I just started a coding challenge that will take several days, so I
won't be able to get to this for a while.

On Wed, Jun 26, 2019 at 10:20 AM Vadim <notifications@github.com> wrote:

[2019-06-26 15:25] vadim9999 commented on #560
Yes remove line 35 and move code outside of the function generateFiles. It will be automatically running without calling any function that to start generator

[2019-06-26 16:17] vadim9999 commented on #561
I need tasks that I will refresh knowledge in my brain or study a new feature that helps me to take a job.
1. Loops (for, while, map, find... ) and on lodash
2. Some tasks on rollup and babel. I have started learning docs of rollup.

[2019-06-26 16:26] atherdon commented on #561
ok, noted.

2) as you mentiioned at projects2 fetch - about how to make tests works with es6 - you can add this config to each of project and test if it works or not

i'll prepare more tasks and put them here soon

[2019-06-26 18:08] amogh-jrules commented on #531
I have a few doubts,
what should the tests check for apart from schema?
what platform should I write the tests for ie, Travis or jest?

[2019-06-26 18:13] atherdon commented on #531
right now we're doing only 2 kid of tests for our json files:
- if file exists and return data
- if data match to the scheme

Hmm, it's not correct question i think.
- framework for testing is Jest
- Travis is a CI/CD tool that work as we configure it. we add to run `npm
test` script so it's checking if something doesn't crash after our changes

[2019-06-26 18:15] amogh-jrules commented on #531
Oh ok understood, thanks
I start working on it

[2019-06-26 20:05] atherdon commented on #561
3. have some ideas, that can increase your skills. I was thinking that having this long list of functions is actually not cool. I didn't plan to work on these modules so long, but as we're doing it - then it's fine. One of my ideas related to improve our methods, by applying some coding patterns. long story short - it's also about separations and adding more layers. So like table(data) will be one

[2019-06-26 22:48] atherdon commented on #512
Can you create few simple methods, that will use functionality that you did in prev PR and return measurements files to the outside?

also, next move can be to combine few files that have objects into one big object

we have this code, but i don't remember how it actually works
https://github.com/GroceriStar/sd/blob/master/generator/generateArray.js#L106-L140
can you take a look and figure it out?

[2019-06-27 02:47] Beni03 commented on #512
Yes I’ll try to do this

Sent from my iPhone

[2019-06-27 06:59] AndrewSerra commented on #423
If anyone has not done DietAndHealthLabel doing it now then openning a pull request

[2019-06-27 09:04] vadim9999 commented on #561
If separated generator will be hard for interns we can don't move it

[2019-06-27 21:02] AndrewSerra commented on #423
@atherdon I don't know if I understood it right but in some test files, there are imports similar to this
[code]
and I found similar ones in a couple of files which return undefined for the one coming from ./src/files.js because it is not present in the file. The second line returns an empty object. Is this supposed to be like this?

Also, another thing is that I am completing the final two tests

[2019-06-28 01:06] atherdon commented on #423
@vadim9999 can you advice @AndrewSerra here?

from my side - open PR and we'll take a look on it :)

[2019-06-28 11:32] AndrewSerra commented on #423
I have written the example file and the test works at the moment, the problem is the json path, that we check as the first test in every file. for example this piece of code:
[code]

I could still use path resolver where I only check the path of one json file, since all of them are in the same directory. In that case I can add it to src/files.js

[2019-06-28 11:32] AndrewSerra commented on #423
I can open a pull request before I open a pull request, should I do what I have just mentioned in the previous comment?

[2019-06-28 12:42] AndrewSerra commented on #423
@atherdon nevermind I have made tests for both that check all paths I'll open a pull request so you and @vadim9999 can see what I have done and if it is right.

[2019-06-29 11:22] vadim9999 opened #590 "Improve exporting shemas from test/examples/index.js"
### Expected Behavior / Situation

### Actual Behavior / Situation

### Modification Proposal

[2019-06-29 11:39] atherdon commented on #590
please add more details into task description. it will help us in future to compare results with exact PR

[2019-06-29 12:44] vadim9999 commented on #423
@AndrewSerra yes, create working variant and open PR

[2019-06-29 18:35] #567 closed

[2019-06-29 22:34] elnur004 commented on #590
@atherdon @vadim9999 i tried to solve exporting schema as this way.
did i understand the task correctly?

[2019-06-30 09:50] vadim9999 commented on #590
yes

[2019-06-30 11:18] #590 closed

[2019-06-30 11:28] svr8 commented on #158
Hi! I'm Shikhar Vaish. I have been practicing full stack development and will be joining GroceriStar as an intern. Happy to join the team and learn! 😃

[2019-06-30 11:47] atherdon commented on #332
@vadim9999 we have a new member @svr8 and i think you can combine your forces and work together on moving generator out.
I think he should get some simple task for now, because it'll require some time to jump into the code.
So some dirty work like moving readme data, or changing some simple files will work pretty fine, by my opinion. please intoduce him to this task-  because i didn't tell him any

[2019-06-30 11:57] atherdon commented on #332
@vadim9999 quiestion: do you think it'll be more comfortable for you to work on this module, if'll migrate all tasks, related to generator to the separated repository issues?

[2019-06-30 18:59] elnur004 commented on #516
@atherdon @vadim9999 is there any task for me?

[2019-06-30 19:12] atherdon commented on #516
of course! @elnur004
did you remember our initial task, related to creating constants? I think now you can crack it without any problems. i move that task into fetch plugin, if you want - i'll assign it to you

[2019-06-30 19:17] elnur004 commented on #516
@atherdon yeah i'm waiting!

[2019-06-30 19:20] atherdon commented on #516
@elnur004 grab this one: https://github.com/GroceriStar/groceristar-fetch/issues/448#issuecomment-507060281

Am i rihgt - i can close this task?

[2019-06-30 19:25] elnur004 commented on #516
@atherdon if everything has been done, you can

[2019-06-30 19:33] vadim9999 commented on #332
yes it will be good

[2019-06-30 19:34] vadim9999 opened #592 "Intro"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

@svr8 This module contains static data and generator. The generator creates new static data from functions. Now I am moving the generator into a separated module. Additional information you can read here Readme https://github.com/GroceriSt

[2019-06-30 19:36] vadim9999 commented on #158
@svr8 Hi! I have a task for you https://github.com/GroceriStar/sd/issues/592

[2019-06-30 19:40] atherdon commented on #332
I'm on it

[2019-06-30 19:41] atherdon commented on #592
please add more details to this task

[2019-06-30 19:47] #558 closed

[2019-06-30 19:50] atherdon commented on #277
@Pratikshagit tell me if you still interested to collaborate with us. I plan to close this task soon

[2019-06-30 20:39] Pratikshagit commented on #277
Hi Arthur ,

I emailed you already that i have a full time job now. And will not able to
work on your project. You can close this task. Thanks for considering me.
Good luck with your project.

Best Regards
Pratiksha

On Sun, Jun 30, 2019 at 3:50 PM Arthur Tkachenko <notifications@github.com>
wrote:

[2019-06-30 20:48] atherdon opened #593 "Config Generator -- why we comment a few things, methods?"
if we don't need them. lets then add and comment more objects. and hide them for next times?

for generator -- we need to create folders for each generated file as well(compare with `src/data`).

filesES5 -- we have very long paths
we should make it less long. we can update to ```var { resolve } = require('path') and make files easy to read again.

[2019-06-30 20:50] atherdon commented on #277
@Pratikshagit thank you for letting me know, no problem and good luck with your job.

[2019-06-30 20:50] #277 closed

[2019-06-30 21:45] atherdon commented on #332
@Edebo am i right that you're back? do you have pending tasks that you need to complete?
I'm asking because @vadim9999 making few steps in order ot move this generator out and i think your knowledge will help to do it in less amount of time. but for sure - it's better to complete pending tasks(if they isset)

[2019-06-30 21:54] Edebo commented on #332
@atherdon am done with #471 ,while the pending task is what @vadim9999 is working on

[2019-06-30 21:58] atherdon commented on #332
can you add a link to that task as well?

[2019-06-30 21:59] atherdon commented on #471
Ok, let's think that this task was completed by Adebowale.
I'll keep it open, because I want to make more changes at csv_parser later and use this task as examples for checking that everything is working fine.

[2019-06-30 22:00] Edebo commented on #332
#332

[2019-06-30 22:02] atherdon commented on #332
got it - then you're free and can help with tasks that located at: https://github.com/GroceriStar/food-static-files-generator
you can grab https://github.com/GroceriStar/food-static-files-generator/issues/44 https://github.com/GroceriStar/food-static-files-generator/issues/41 they are easy to do

[2019-06-30 23:24] Pratikshagit commented on #277
Thank you for the wishes.!!

On Sun, Jun 30, 2019 at 4:50 PM Arthur Tkachenko <notifications@github.com>
wrote:

[2019-07-01 07:35] AndrewSerra commented on #423
@vadim9999 Already done.

[2019-07-01 08:23] AndrewSerra commented on #423
@atherdon It looks like we completed the tests, at least the ones I have noticed, should we start step 3?

[2019-07-01 10:05] atherdon opened #595 "json-schema copy assets"
**Is your feature request related to a problem? Please describe.**
3. configure rollup bundler, so with build -> we copy only json files from data folder at build, and skip tests/schemas/examples...

**Is it was created as task at GitHub issues? Please provide an issue number or link**
#423

Major porblem here right now - `copy` method doesnt work as expected. i tried it few times, but it will req

[2019-07-01 10:07] atherdon commented on #423
@AndrewSerra i think we should jump at another task with you.
As you think this was done - i'll close this task.
I separated a step 3 at #595, so we don't forget about it.

Thinking about your next tasks now

[2019-07-01 10:07] #423 closed

[2019-07-01 10:11] atherdon commented on #423
@siddharthp538 do you need another task as well?

[2019-07-01 10:12] atherdon commented on #531
@amogh-jrules tell me if you need help with this task

[2019-07-01 13:22] svr8 commented on #592
Hi! I have skimmed through the files in `generator` folder and looked deep into the `writeFile.js` script. Please tell me about how to proceed further.

I tried installing npm_modules. It gives me an error. I'm not sure about the current state of the project right now, is that a work still under progress/already addressed? Otherwise, I'll open an issue with the details.

[2019-07-01 14:31] vadim9999 opened #597 "Testing generator"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

To run generator use this command:
[code]
after this in data folder should be regenerated three files. You don't need anything to configure just run command. Configuration file is located in separated repo
**Is it was created as task at Gi

[2019-07-01 14:33] vadim9999 commented on #597
@atherdon Please test generator from your PC. I just want to know if path is working. Command
[code]

[2019-07-01 14:36] vadim9999 commented on #592
Synchronize your branch with the current, if a bug still exists please create a bug report in issues

[2019-07-01 14:58] atherdon commented on #597
ok, i'm on it

[2019-07-01 14:58] atherdon commented on #597
@AndrewSerra can you test it on your local machine as well?

[2019-07-01 15:01] AndrewSerra commented on #597
of course

[2019-07-01 15:07] AndrewSerra commented on #597
I'm getting this
[code]

[2019-07-01 15:15] atherdon commented on #597
@vadim9999 Not clear for me - I should clone code from this repo, install modules and run this command, right?

[2019-07-01 15:15] AndrewSerra commented on #597
Oh wait, is this,  `@groceristar/static-data-generator`, another repository that I need to have?

[2019-07-01 15:18] atherdon commented on #597
i got it Vadim - this issue at sd repo :)

I think @AndrewSerra it's module from this github repo: https://github.com/GroceriStar/food-static-files-generator

[2019-07-01 15:21] AndrewSerra commented on #597
Mine works too, fixed it I had a missing dependency :)

[2019-07-01 15:22] atherdon commented on #597
@vadim9999 i'm running this SD module at GitPod build machine, because locally i have another bracnch(projects2.0) locally

@AndrewSerra what did you install?

[2019-07-01 15:23] AndrewSerra commented on #597
@atherdon I downloaded this from npm `@groceristar/static-data-generator`

[2019-07-01 15:23] AndrewSerra commented on #597
where should the third generated file be?

[2019-07-01 15:23] atherdon commented on #597
so we forget to install it and push to our main repo, right?

[2019-07-01 15:27] AndrewSerra commented on #597
I guess yes

[2019-07-01 15:29] AndrewSerra commented on #597
Also, I found the third file but I guess it is the same as the pushed version so it did not show up. All good

[2019-07-01 15:29] atherdon commented on #597
looks like main repo has that module. all is fine for me at GitPod

![image](https://user-images.githubusercontent.com/1469198/60448317-0b170f00-9c2e-11e9-97e2-4b5bca3b0dbd.png)

i think it's fine - jumping into my code work

[2019-07-01 15:39] svr8 opened #598 "Cannot install all node_modules"
**Describe the bug**
On executing `npm install`, the following message is shown:
[code]

**To Reproduce**
Execute `npm install` in root of this repo.

**Expected behavior**
All packages should install successfully.

**Additional context**
System Details:
node -v: v10.9.0
npm -v: 6.9.0
OS: Ubuntu 19.04

[2019-07-01 15:53] atherdon commented on #592
Thiank you for that task!

tell us if you have question about how it works, or maybe let's just jump at some simple task that we have at our generator code. i think it'll be the easiest way to get head around of what we're doing here/

Actually, Vadim - Shikhar has a great knowledge at backend, so when he'll learn about our coding process and help us with generator - i think you can form a great t

[2019-07-01 16:11] atherdon commented on #592
for example @svr8 if you ready to jump at code, you can take a look at this issue : https://github.com/GroceriStar/food-static-files-generator/issues/46
or
https://github.com/GroceriStar/food-static-files-generator/issues/69

[2019-07-01 16:12] siddharthp538 commented on #423
yes @atherdon

[2019-07-01 18:40] amogh-jrules commented on #531
Just one thing I don't understand what is the output of this method will be, as in what format,is there a way for me to run that particular file?

[2019-07-01 18:41] atherdon commented on #531
@AndrewSerra can you advise here?

[2019-07-01 19:50] AndrewSerra commented on #531
@amogh-jrules

`readAllFiles(path)` is a function that read all files under the directory you have specified for `path`.  For the json files it takes all objects and adds them to an array. The array is returned.

I used something different if you want to check the file `./tests/product.test.js` The first test check whether you have a path and whether it is undefined. The second test inside the try

[2019-07-01 20:12] amogh-jrules commented on #531
Thanks so much, exactly what I needed, I'll get right to it

[2019-07-01 20:13] AndrewSerra commented on #531
Glad to help!

[2019-07-01 20:33] vadim9999 commented on #597
Thanks for testing. There is a bug in generating the third file. I have assigned it to @AndrewSerra

[2019-07-02 14:28] vadim9999 commented on #598
@svr8 Have you fix this problem?

[2019-07-02 14:33] vadim9999 commented on #598
I have installed npm modules successfully:
[code]
Details of my PC:
OS: Lubuntu 18.04
npm -v: 6.9.0
node -v: v10.16.0

[2019-07-02 17:36] svr8 commented on #598
Nope. Later, I cleaned the npm cache and tried installing `husky@2.7.0` manually... got the same errors.

[2019-07-02 17:42] #598 closed

[2019-07-02 18:01] amogh-jrules commented on #531
Hey I have another issue, I tried working it out but couldnt. when I run npm test, it gives a error saying CI is not a recognised function, what is that I should install so that works?

[2019-07-02 18:03] amogh-jrules commented on #531
The npm test function invokes CI && jest, so I npm installed jest and ran it seperately, but still it fails to run

[2019-07-02 18:27] atherdon commented on #531
jest is part of our setup. you don't need to install it separately.
Please tell more details or shoot video about how you trying to run this
module.
Because we test it few days ago and it was working fine

[2019-07-02 18:55] amogh-jrules commented on #531
![Untitled](https://user-images.githubusercontent.com/31567169/60538867-7dfeb380-9d1c-11e9-9b46-d791e81330d6.png)

[2019-07-02 18:59] atherdon commented on #531
you can run whole test coverage `npm run test`

[2019-07-02 19:45] amogh-jrules commented on #531
That is not working either... it used to before
Should I re-clone the repo and try again?

[2019-07-02 19:55] atherdon commented on #531
you can sync your fork with the main master branch.
https://github.com/ChickenKyiv/awesome-git-article#keeping-a-fork-up-to-date

[2019-07-02 19:55] atherdon commented on #531
after sync you should reinstall node_modules

[2019-07-02 20:06] amogh-jrules commented on #531
Ok ill do that

[2019-07-04 07:00] amogh-jrules commented on #531
filesES5.js has the import statements for different JSON files but the syntax is written in ES6 format and that is causing errors when I run it, is there another file which contains those names?

[2019-07-04 10:54] atherdon commented on #531
@AndrewSerra can you advise here?

[2019-07-04 11:57] AndrewSerra commented on #531
can you send the error? @amogh-jrules

[2019-07-04 16:34] amogh-jrules commented on #531
Its basically a syntax error repeated throughout the file
in ES5 import statements are eg. const files = require(path)
but in ES6 we can  use import files from path, the filesES5.js has ES6 syntax which is given an invalid syntax error

[2019-07-04 17:18] amogh-jrules commented on #531
It's alright, I can handle this, I'll change the syntax to suit our requirements

[2019-07-05 10:26] amogh-jrules commented on #531
Can I use nutritionalAttributes.js for all the schemas and examples? Because nutrition.test.js defines a few new schemas seperately
PS. Files im talking about are in ..tests/examples/

[2019-07-05 16:09] atherdon commented on #531
i think yes, if it will work for this case

[2019-07-07 19:39] #531 closed

[2019-07-09 20:14] atherdon opened #620 "csv parser"
**Is your feature request related to a problem? Please describe.**
I deleted an old file that have inside of our generator folder.
So it something craching - blame me.
And i got some confusion, because only USFA parsers are actualy used that file
so i have a question about what and how it's going on at FoodComposition folder.

**Is it was created as task at GitHub issues? Please provide an issue n

[2019-07-09 20:16] atherdon opened #621 "add to readme an information of how to run csv parsers"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Is it was created as task at GitHub issues? Please provide an issue number or link**

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear a

[2019-07-10 19:30] atherdon opened #629 "question: do we need an output folder with our last changes in generator?"

[2019-07-10 23:35] atherdon commented on #512
ok, closing it.
Do you have another task or i should create a new one for you?

[2019-07-10 23:35] #512 closed

[2019-07-10 23:36] atherdon commented on #597
I think we should close this task

[2019-07-10 23:36] #597 closed

[2019-07-10 23:46] Beni03 commented on #512
I don’t have any other task right now. Can you please create a new task?

Sent from my iPhone

[2019-07-11 15:40] vadim9999 commented on #629
No

[2019-07-11 16:22] AnuragKapoor-CSEngineer commented on #158
Hello,
My name is  Anurag Kapoor and I am a web developer from last 2 years and can work on both front end back end. Created project on Technology MEAN and MERN. Have knowledge of JavaScript, React,Node , Express, REST API and Mongo

[2019-07-11 18:30] #629 closed

[2019-07-11 18:30] atherdon commented on #629
then i'm deleting it

[2019-07-11 18:38] atherdon commented on #158
I think @AnuragKapoor-CSEngineer will be an awesome addition to our team.
Working on task for you

[2019-07-11 19:56] AnuragKapoor-CSEngineer commented on #158
Thank you sir, I am eagerly waiting for the task

[2019-07-14 15:40] saphal1998 commented on #158
I will be working on this issue as well.

[2019-07-16 12:53] jan-strum commented on #560
Hi. Sorry for being so absent; I've been very busy these past two weeks. I
have some time to work on this now, so I'll take a look in a couple of
hours.

On Wed, Jun 26, 2019 at 10:25 AM Vadim <notifications@github.com> wrote:

[2019-07-16 15:02] atherdon commented on #560
we made some changes in our code structure - and some tasks maybe not need
to be solved

[2019-07-16 15:15] jan-strum commented on #560
Ok. Could you remove the TODOs for those tasks if they are no longer
relevant, please? I'm ready for whatever other assignments you have for me.

On Tue, Jul 16, 2019 at 10:02 AM Arthur Tkachenko <notifications@github.com>
wrote:

[2019-07-16 15:23] atherdon commented on #560
i'm buzy with other things :)  will remove them later.

you can jump into this task https://github.com/GroceriStar/food-datasets-csv-parser/issues/27

[2019-07-16 15:23] #560 closed

[2019-07-18 14:37] NathanielFaber commented on #158
Hello Everyone. My name is Nate Faber. I'm a student in the US who is looking to improve his skills and work towards an interesting project.

[2019-07-29 04:23] sarthakvijayvergiya commented on #158
Hello Everyone. My name is Sarthak. I recently joined GroceriStar. Would like to collaborate with everyone on issues and task.

[2019-07-29 15:53] ijb87 commented on #158
Can I have a task?

[2019-07-29 19:15] atherdon commented on #158
@ijb87 Sure, will check some

[2019-07-30 16:44] IamRaviTejaG commented on #158
@atherdon Please assign me an issue to work on.

[2019-07-30 17:20] atherdon opened #646 "exported function generate an issue"
**Describe the bug**
i just open a Travis CI log and find this bug.
Link: https://travis-ci.org/GroceriStar/food-static-files-generator/jobs/565138774

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/1469198/62150772-7b857e80-b307-11e9-8462-f9b29f5e425b.png)

[2019-08-02 19:10] akshaj1999 commented on #158
Hello Everyone. My name is Akshaj Juneja. I'm undergrad student and wants to improve my skills and do more development.

[2019-08-04 14:34] geeksambhu commented on #158
Hello Everyone, My name is Shiva. Looking forward to a great learning opportunity.

[2019-08-05 11:16] ChukwuEmekaAjah commented on #158
Hello! I'm Chukwuemeka. What's the way to go?

[2019-08-07 08:33] edward-hong commented on #158
Hi, I'm Edward. Looking forward to working with you all!

[2019-08-11 15:34] atherdon opened #654 "finish eslint and lint-staged configuration"
**Is your feature request related to a problem? Please describe.**
pretty similar to what was done at generator module

and you can also remove standard package when eslint will be 100% configurated

[2019-08-13 11:19] vadim9999 commented on #654
Working on it

[2019-08-13 17:04] atherdon commented on #654
it's done

[2019-08-13 17:07] atherdon commented on #654
i'll remove a standard, so we don't need it after eslint setup.
I saw warning at husky - maybe you can move husky configuration outside the package.json at husky.config.js file?

[2019-08-15 16:08] anh212 commented on #158
Hello everyone, my name is Andrew and I am excited to learn and further develop my skills with all of you!

[2019-08-15 17:15] SyeedHasan commented on #158
Hi guys, I'm Syed. Looking forward to furnishing my development skills with all of you. I'll get started with the project and jump right in to developing some feature soon!

[2019-08-15 17:15] vadim9999 commented on #158
Hi!

[2019-08-16 13:42] MinahilOvais commented on #158
Hi, I'm Minahil. Looking forward to learning and working with you all!

[2019-08-17 01:22] oksanafrankiv commented on #158
Hi! I'm Oksana. I'm excited to learn and work with all of you!

[2019-08-18 01:58] haoyxc commented on #158
Hi I'm Cindy! Excited to be a part of this!

[2019-08-26 04:06] zhangted commented on #158
Hey, I'm Ted

[2019-09-15 08:13] Mishra121 commented on #158
Hello I'm Vibhu. I am from  India. I have JavaScript development knowledge. Familiar with MERN stack. Hoping to learn a lot from you guys and want to contribute in the project. :)

[2019-09-20 13:18] parthparmar7 commented on #158
Hello I am Parth, I am from India. I have JavaScript knowledge and have knowledge of Vue and Node.

Excited to be here.

[2019-09-22 20:23] chrissmith012 commented on #158
Hello everyone, my name is Chris and I am from the United States.  Excited to work and learn with you all!

[2019-10-06 19:59] atherdon commented on #158
@Mishra121  @parthparmar7 @chrissmith012 team, do you have tasks?

[2019-10-07 06:30] Abobos commented on #158
Hello everyone @here. My name is Blessing, I'm from Nigeria. A JavaScript Developer (React/Redux + Node.js/Express.js) poised in contributing to @atherdon project.

[2019-10-08 01:36] chrissmith012 commented on #158
@atherdon I do not have any tasks.

[2019-10-09 17:25] sibasish14 commented on #158
Hello everyone. My name is Sibasish and I'm from India. I have basic knowledge of HTML, CSS, and JavaScript. I'm eager to learn and contribute to this organization and improve my skills.

[2019-10-28 23:46] Cerebrovinny commented on #158
Hello,
My name is Vinicius Cardoso and I'm a Computer Engineering student and student at the University of technology of Hong Kong as a Full-stack developer with React, I love Javascript and development, so I'm eager to start this job and learning, to improve my skills.

[2019-10-29 00:19] gideonnnalue commented on #158
Hello am Gideon from Nigeria. I am a fullstack MERN stack developer and I would love to join the team.

[2019-10-29 13:38] madalien11 commented on #158
Hello everyone, my name is Madi and I'm a Computer Science student at Nazarbayev University, Kazakhstan. Excited to work, learn and improve my skills with you all!

[2019-10-30 10:57] okpakomarvis commented on #158
Hello guys, My name is Marvis from Nigeria, am a Fullstack web developer , it great to be here

[2019-11-02 06:29] shravanhariharan2 commented on #158
Hello everyone! I'm Shravan from the US and am looking forward to improving my full-stack development skills here and contributing to this organization.

[2019-11-06 00:14] hanroro commented on #158
Hello everyone. I am Han, a graduate student in the US majored in Computter Science. Hope to improve  my practical front end skills and contribute to this company.

[2019-11-07 12:11] Edebo commented on #481
How can i keep up now.
I will like to do a task

[2019-11-07 17:48] atherdon commented on #481
I think we should start with syncing your fork with current version of repository. because we made some organizing changes and moved away part of code that you was working on before.
So please sync your fork and then buzz me about your next task

[2019-11-07 22:39] Edebo commented on #481
done

[2019-11-08 16:10] atherdon commented on #481
Let's do a quick task now.
As this repository growing - it's pretty hard to understand what is doing on with code and how it's connected through the folders..
at our 2 other repositories, which contains part of code that you was working here we made some reogranizations.
take a look at the main difference and can try to do the same thing here?
generator: https://github.com/GroceriStar/food-static-

[2019-11-10 15:30] atherdon commented on #481
ok, let's think about next moves.
1) delete `repo-pore` folder
2) delete `runner`
3) remove https://github.com/GroceriStar/sd/tree/master/package/data/USFA because we have that dataset inside of csv-parser at this moment...
4) clean up https://github.com/GroceriStar/sd/blob/master/package/src/files.js#L78-L89

[2019-11-10 16:17] Edebo commented on #481
You said clean up and not delete.but the only food composition is in https://github.com/GroceriStar/sd/tree/master/package/data/FoodComposition and it has no json file in it except readme

[2019-11-10 16:25] atherdon commented on #481
yep - this is why we'll remove it from that file. by clean up i mean that maybe something else should be done as well in this file but i don't know what :)
easiest way is try run module and see what is broken now

[2019-11-10 16:26] atherdon commented on #481
remove this line as well: https://github.com/GroceriStar/sd/blob/master/package/package.json#L17

[2019-11-10 16:27] Edebo commented on #481
ok

[2019-11-10 19:30] Edebo commented on #481
the readme too should be updated

[2019-11-10 21:40] atherdon commented on #481
https://travis-ci.org/GroceriStar/sd/jobs/610025581 we have some eslint errors here.
you can run it on your side for easy debug

[2019-11-10 21:44] atherdon commented on #481
next part will be to understand if something working wrong at build.
so please try to run build locally - rollup build and if it's fine - we'll make a new npm release and will think about our next steps

[2019-11-10 23:00] vuongdennis commented on #158
Whats up guys.
I'm Dennis, an undergraduate student, studying Computer Science in the US. I'm hoping to join this project in order to improve my skills.

[2019-11-11 00:27] zakariaelas commented on #158
Hello everyone,
I'm Zakaria, a computer science student from Morocco. I'm looking forward to working with you and making the most out of this learning experience.

[2019-11-11 10:34] Edebo commented on #481
finding it hard to npm i ,telling me
![synk](https://user-images.githubusercontent.com/36434800/68580668-206f3600-0477-11ea-9e54-98f38e9c190b.png)

[2019-11-11 12:34] tabishnehal commented on #158
hey folks...this is Mohd Tabish,a computer science student from India.Looking forward to work all of you and gain some knowledge upon working on the project.

[2019-11-11 20:27] atherdon commented on #481
can you remove `npm run snyk-protect` from package,json script?
and try to run it again - maybe it will help

[2019-11-12 11:05] Edebo commented on #481
done

[2019-11-12 14:12] atherdon commented on #481
next thing will be - move fileObjects method into utils and change other files imports accordingly.

and let's chat about 2 similar files: filesES5.js and files.js.
do you think we still need to have both of them?

[2019-11-12 14:52] Edebo commented on #481
we should remove filesES5.js because is a duplicate of files.js. also we should compress data in package folder with data in src folder and make appropirate changes

[2019-11-12 15:09] atherdon commented on #481
but why we have it before?

[2019-11-12 23:32] mbanelsonifeanyi commented on #158
Hi Guys!
I am Mba Nelson Ifeanyi, from Nigeria, I love foreign languages and accents.  I look  forward to learning with you all!

[2019-11-12 23:37] mbanelsonifeanyi commented on #158
Hi Guys!
I am Mba Nelson Ifeanyi, from Nigeria. I love foreign languages and accents!
I look forward to learning with you all!

[2019-11-14 09:45] Edebo commented on #481
i dont know.might be different people working on it at the same time

[2019-11-14 11:33] atherdon commented on #481
got it. thanks - i'm not remember as well. maybe we use it for some kind of
reasons.
i mean as we have a lot of stuff inside of sd before - it was used. but
now, as we make it more clear - it's awesome - because it was rudimentary.

what do you think can be improved next? should i make a release of our
changes at npm, right?

[2019-11-14 15:16] Edebo commented on #481
reduce code climate troubles.

[2019-11-14 16:54] atherdon commented on #481
ok, let's try to clean up our codeclimate dashboard a bit - in meantime i'll take a look at code and find what we can do next

[2019-11-14 21:34] Edebo commented on #481
in our tests ,we use import from files while in other we import from filesObject though deleted but function in utils

[2019-11-14 22:13] atherdon commented on #481
ok, can it will be replaced with new version?

[2019-11-14 22:15] Edebo commented on #481
yes it can

[2019-11-14 22:17] Edebo commented on #481
how do we know our tests is run properly.because i made a change to test.i want to test if it is working for single file before i replicate for other files

[2019-11-14 22:59] atherdon commented on #481
i think you can perform test by running `cd package`, `yarn test`

[2019-11-17 03:04] atherdon opened #737 "eslint errors"
**Describe the bug**
I made some updates at master branch, so please sync your fork.
I run eslint and find some simple errors. can you fix them?

Btw, did you know that i created ~4 courses on Udemy? I can share them with you for free - just not remember if i did it before.

[2019-11-17 04:39] sainiyash2903 commented on #158
Hi Geeks,
I am Yashaswi Saini from India, I will love to work with you . I want to learn many things.  Now it will be fun working with you all. I will start my work from 9 December 2019.

[2019-11-17 04:47] sainiyash2903 commented on #158
@atherdon  I will start my work from 2 week  of december.

[2019-11-21 07:24] Edebo commented on #737
sorry this is late.i ran npm run lint and cannot find the error.
You havent shared them with me before. would like have them.Thanks so much

[2019-11-21 19:18] atherdon commented on #737
don't worry - you never late. hold on, will try to run lint on my side today - maybe they gone. or maybe you need to sync your fork and re-install the latest package updates? btw, will figure it out soon.
will share those courses today with you

[2019-11-21 19:40] atherdon commented on #737
you correct - can't find anyerrors at this point. what should we do next then? do you want to stay a bit at this repository and maybe improve it a bit or we can jump into something new

[2019-11-21 20:50] Edebo commented on #737
i think we should republish at this stage first,if we have no error,we can jump to something new.

[2019-11-21 22:00] atherdon commented on #737
can you clarify what do you mean by republish?

we plan to make some moves with this package soon. but i don't have inspiration for that in this moment :)

[2019-11-22 08:11] atherdon commented on #737
falling asleep, will share courses when wake up. just a long day

[2019-11-22 12:26] atherdon commented on #737
My free courses. will share with others as well. by Udemy rules - they free only 3 days - so add them to cart so they can go to your collection.

- https://www.udemy.com/course/learn-css-flexbox-practically/?referralCode=6B1FF79042D1E4023794
- https://www.udemy.com/course/git-basics-and-merging-process/?couponCode=781761DA14E7F63DB436
- https://www.udemy.com/course/git-workflows-in-depth/?couponCo

[2019-11-22 12:27] atherdon commented on #158
Members or just viewers of this task. My free courses below for you.  by Udemy rules - they free only 3 days - so add them to cart so they can go to your collection.

- https://www.udemy.com/course/learn-css-flexbox-practically/?referralCode=6B1FF79042D1E4023794
- https://www.udemy.com/course/git-basics-and-merging-process/?couponCode=781761DA14E7F63DB436
- https://www.udemy.com/course/git-workflo

[2019-11-22 22:06] Edebo commented on #737
What i mean is to publish it

[2019-11-22 22:15] Edebo commented on #737
Thanks for the courses

[2019-11-22 22:38] atherdon commented on #737
OK, then we'll jump to something else while i'm preparing plan for next
steps of this repository.
and you welcome - i'm happy to help with courses. and when you finish them
- they will generate a certificate that you can add to your linkedin
profile.
i mean everyone want to see them, right? so it's additional perk of doing it

[2019-11-25 05:59] atherdon commented on #481
as we jumping away - i think we dont need this task anymore

[2019-11-25 05:59] #481 closed

[2019-12-05 07:02] atherdon commented on #737
closing it

[2019-12-05 07:02] #737 closed

[2019-12-05 07:03] #576 closed

[2019-12-05 07:06] #592 closed

[2019-12-05 07:07] atherdon opened #756 "simple tests, step1."
**Is your feature request related to a problem? Please describe.**

at files.js we exporting paths to each(i can be wrong) file from our data folder.
but at index.test.js we testing only allergies.
our goal is to have tests for all files from files.js

also please read Readme file, read this task and introduce yourself to other team members here: https://github.com/GroceriStar/sd/issues/158

**Is

[2019-12-08 14:51] #654 closed

[2019-12-08 17:28] sainiyash2903 commented on #158
@atherdon  finally I'm here

[2021-10-19 00:40] renovate opened #805 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [Update dependency lint-staged to v12.3.7](../pull/813)
 - [ ] [Update dependency @groceristar/food-dataset-csv-parser to v0.3.0](../pull/815)